Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

eng/pipelines/dotnet-core-internal-nightly.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      stages:
      - template: /eng/pipelines/stages/build-test-publish-repo.yml@self
        parameters:
          internalProjectName: ${{ variables.internalProjectName }}
  ...

eng/pipelines/dotnet-core-internal-testing.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      serviceConnections:
      - name: $(internal-mirror.serviceConnectionName)
      - name: $(build.serviceConnectionName)
      - name: $(publish.serviceConnectionName)
      - name: $(kusto.serviceConnectionName)
  ...

eng/pipelines/dotnet-core-nightly-pr-5.0.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly-pr-monitor.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly-pr-no-cache.yml:
  stages:
  - template: /eng/common/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      stagesTemplate: /eng/pipelines/stages/build-test-publish-repo.yml@self
      stagesTemplateParameters:
        versionsRepoRef: VersionsRepo
        noCache: true

eng/pipelines/dotnet-core-nightly-pr.yml:
  stages:
  - template: /eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      stagesTemplate: /eng/pipelines/stages/build-test-publish-repo.yml@self
      stagesTemplateParameters:
        versionsRepoRef: VersionsRepo

eng/pipelines/dotnet-core-nightly.yml:
  extends:
    template: /eng/common/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
      - template: /eng/common/templates/stages/dotnet/publish-config-prod.yml@self
        parameters:
  ...

eng/pipelines/dotnet-core-pr-2.1.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr-3.1.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

[nightly] Update dependencies from microsoft/aspire
  manifest.versions.json
  src/aspire-dashboard/amd64/Dockerfile
  src/aspire-dashboard/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix Native AOT sample cross-compilation for .NET 11
  samples/AspNetCoreNativeAOT/Dockerfile.ubuntu-cross-arm64-x64
  samples/AspNetCoreNativeAOT/Dockerfile.ubuntu-cross-x64-arm64
Due: eng/pipelines/dotnet-core-samples-pr.yml

Use the released hosting bundle in the IIS sample
  samples/AspNetCoreRazorApp/Dockerfile.windowsservercore-iis
Due: eng/pipelines/dotnet-core-samples-pr.yml

Align sample tests with .NET 11 platforms
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update sample publishing metadata for .NET 11
  README.samples.md
  eng/mcr-tags-metadata-templates/samples-tags.yml
  manifest.samples.json
  samples/AspNetCoreRazorApp/README.md
  samples/ConsoleApp/README.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update sample build and tag guidance for .NET 11
  samples/README.md
  samples/build-for-a-platform.md
  samples/build-in-sdk-container.md
  samples/run-tests-in-sdk-container.md
  samples/selecting-tags.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update sample app contents from new templates
  samples/AspNetCoreNativeAOT/Properties/launchSettings.json
  samples/AspNetCoreRazorApp/AspNetCoreRazorApp/Pages/Shared/_Layout.cshtml
  samples/AspNetCoreRazorApp/AspNetCoreRazorApp/Properties/launchSettings.json
  samples/AspNetCoreRazorApp/README.md
  samples/ConsoleApp/Program.cs
  samples/ConsoleAppSelfContained/ConsoleAppSelfContained.csproj
  samples/MultiProjectApp/Tests/StringLibraryTests.cs
  samples/MultiProjectApp/Tests/StringUtilsTests.cs
  samples/MultiProjectApp/Tests/Tests.csproj
Due: eng/pipelines/dotnet-core-samples-pr.yml

Rename NativeAOT sample to NativeAot
  .portal-docs/docker-hub/README.runtime-deps.md
  .portal-docs/mar/README.runtime-deps.portal.md
  README.runtime-deps.md
  documentation/sample-image-size-report.md
  documentation/ubuntu-chiseled.md
  eng/readme-templates/Use.runtime-deps.md
  samples/AspNetCoreNativeAOT/AspNetCoreNativeAOT.slnx
  samples/AspNetCoreNativeAot/.dockerignore
  samples/AspNetCoreNativeAot/AspNetCoreNativeAot.csproj
  samples/AspNetCoreNativeAot/AspNetCoreNativeAot.slnx
  samples/AspNetCoreNativeAot/Dockerfile
  samples/AspNetCoreNativeAot/Dockerfile.alpine
  samples/AspNetCoreNativeAot/Dockerfile.alpine-icu
  samples/AspNetCoreNativeAot/Dockerfile.azurelinux-distroless
  samples/AspNetCoreNativeAot/Dockerfile.azurelinux-distroless-icu
  samples/AspNetCoreNativeAot/Dockerfile.icu
  samples/AspNetCoreNativeAot/Dockerfile.ubuntu-cross-arm64-x64
  samples/AspNetCoreNativeAot/Dockerfile.ubuntu-cross-x64-arm64
  samples/AspNetCoreNativeAot/NuGet.config
  samples/AspNetCoreNativeAot/Program.cs
  samples/AspNetCoreNativeAot/Properties/launchSettings.json
  samples/AspNetCoreNativeAot/README.md
  samples/AspNetCoreNativeAot/ReleaseJson.cs
  samples/AspNetCoreNativeAot/ReleaseValues.cs
  samples/AspNetCoreNativeAot/ReportGenerator.cs
  samples/AspNetCoreNativeAot/ReportJson.cs
  samples/AspNetCoreNativeAot/appsettings.Development.json
  samples/AspNetCoreNativeAot/appsettings.json
  samples/ConsoleAppSelfContained/README.md
  samples/README.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from syft
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Regenerate self-contained sample command output
  samples/ConsoleAppSelfContained/README.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Sort Native AOT cross-compilation packages alphabetically
  samples/AspNetCoreNativeAot/Dockerfile.ubuntu-cross-arm64-x64
  samples/AspNetCoreNativeAot/Dockerfile.ubuntu-cross-x64-arm64
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update Azure Linux Dockerfile examples to .NET 11
  documentation/azurelinux.md
Due: none

Group Ubuntu Chiseled samples by application type
  documentation/ubuntu-chiseled.md
Due: none

Update markdown links following samples update
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.runtime-deps.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.runtime-deps.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  README.aspnet.md
  README.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  eng/developer-docs/dotnet-release-lifecycle.md
  eng/readme-templates/FeaturedTags.md
  eng/readme-templates/Use.aspnet.md
  eng/readme-templates/Use.runtime-deps.md
  eng/readme-templates/Use.runtime.md
  eng/readme-templates/Use.sdk.md
  samples/kubernetes/graceful-shutdown/README.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update markdown links following samples update (#7353)
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.runtime-deps.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.runtime-deps.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  README.aspnet.md
  README.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  eng/developer-docs/dotnet-release-lifecycle.md
  eng/readme-templates/FeaturedTags.md
  eng/readme-templates/Use.aspnet.md
  eng/readme-templates/Use.runtime-deps.md
  eng/readme-templates/Use.runtime.md
  eng/readme-templates/Use.sdk.md
  samples/kubernetes/graceful-shutdown/README.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from microsoft/aspire
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.runtime-deps.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.runtime-deps.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  README.aspnet.md
  README.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  eng/developer-docs/dotnet-release-lifecycle.md
  eng/readme-templates/FeaturedTags.md
  eng/readme-templates/Use.aspnet.md
  eng/readme-templates/Use.runtime-deps.md
  eng/readme-templates/Use.runtime.md
  eng/readme-templates/Use.sdk.md
  samples/kubernetes/graceful-shutdown/README.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from syft (#7340)
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure from mcr.microsoft.com/dotnet-buildtools/image-builder@sha256:79ee50949017dfce2212d66aa473e4361351b2aefda2c5df1dab566f20b68001
  eng/docker-tools/CHANGELOG.md
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/steps/init-common.yml
  eng/docker-tools/templates/steps/init-imagebuilder.yml
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update common Docker engineering infrastructure with latest (#7357)
  eng/docker-tools/CHANGELOG.md
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/steps/init-common.yml
  eng/docker-tools/templates/steps/init-imagebuilder.yml
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update aspire dashboard to 13.6.0-preview.1.26468.3 (#7354)
  manifest.versions.json
  src/aspire-dashboard/amd64/Dockerfile
  src/aspire-dashboard/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update Aspire Dashboard to 13.6.0-preview.1.26471.1 (#7360)
  manifest.versions.json
  src/aspire-dashboard/amd64/Dockerfile
  src/aspire-dashboard/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Replace VersionTools with direct dependency updates
  eng/update-dependencies/AspireBuildUpdaterService.cs
  eng/update-dependencies/BaseUrlUpdater.cs
  eng/update-dependencies/ChecksumHelper.cs
  eng/update-dependencies/ChiselUpdater.cs
  eng/update-dependencies/ChiselVersionSource.cs
  eng/update-dependencies/DockerfileShaUpdater.cs
  eng/update-dependencies/EmptyDependencyUpdater.cs
  eng/update-dependencies/ErrorTraceListener.cs
  eng/update-dependencies/GitHubReleaseInfo.cs
  eng/update-dependencies/GitHubReleaseUpdaterBase.cs
  eng/update-dependencies/GitHubReleaseUrlUpdater.cs
  eng/update-dependencies/GitHubReleaseVersionUpdater.cs
  eng/update-dependencies/MinGitUpdater.cs
  eng/update-dependencies/NuGetConfigUpdater.cs
  eng/update-dependencies/README.md
  eng/update-dependencies/RocksToolboxUpdater.cs
  eng/update-dependencies/ScriptRunner.cs
  eng/update-dependencies/ScriptRunnerUpdater.cs
  eng/update-dependencies/SpecificCommand.cs
  eng/update-dependencies/SyftUpdater.cs
  eng/update-dependencies/Tools.cs
  eng/update-dependencies/VariableUpdateInfo.cs
  eng/update-dependencies/VariableUpdater.cs
  eng/update-dependencies/VariableUpdaterBase.cs
  eng/update-dependencies/VersionUpdater.cs
  eng/update-dependencies/update-dependencies.csproj
  tests/UpdateDependencies.Tests/ManifestUpdaterTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Separate dependency update publishing
  eng/update-dependencies/DependencyUpdatePublisher.cs
  eng/update-dependencies/SpecificCommand.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Use GitAutomation for dependency update pull requests
  eng/update-dependencies/AspireBuildUpdaterService.cs
  eng/update-dependencies/DependencyUpdatePublisher.cs
  eng/update-dependencies/SpecificCommand.cs
  eng/update-dependencies/update-dependencies.csproj
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Path conditions:
  eng/pipelines/dotnet-core-internal-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-internal-testing.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests, but not: eng/update-dependencies
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests, but not: eng/update-dependencies
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests, but not: eng/update-dependencies
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json
