Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

eng/pipelines/dotnet-core-internal-nightly.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      stages:
      - template: /eng/pipelines/stages/build-test-publish-repo.yml@self
        parameters:
          internalProjectName: ${{ variables.internalProjectName }}
  ...

eng/pipelines/dotnet-core-internal-testing.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      stages:
      - template: stages/build-test-publish-repo.yml
        parameters:
          internalProjectName: ${{ variables.internalProjectName }}
          publicProjectName: ${{ variables.publicProjectName }}
  ...

eng/pipelines/dotnet-core-nightly-pr-5.0.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly-pr-monitor.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly-pr-no-cache.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      noCache: true

eng/pipelines/dotnet-core-nightly-pr.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-core-nightly.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      stages:
      - template: /eng/pipelines/stages/build-test-publish-repo.yml@self
        parameters:
          internalProjectName: ${{ variables.internalProjectName }}
  ...

eng/pipelines/dotnet-core-pr-2.1.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr-3.1.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr-5.0.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

Fix job naming
  eng/pipelines/jobs/update-tools.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fewer tools for now
  eng/pipelines/update-dependencies.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Set up args
  eng/pipelines/jobs/update-tools.yml
  eng/pipelines/steps/update-dependencies.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix template reference
  eng/pipelines/jobs/update-tools.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Create args in powershell
  eng/pipelines/jobs/update-tools.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Turn auth back on
  eng/pipelines/steps/update-dependencies.yml
  eng/pipelines/steps/update-dotnet-dependencies.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from syft
  .vscode/launch.json
  .vscode/tasks.json
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Submit separate PRs for each tool's dependency updates
  eng/pipelines/jobs/update-tools.yml
  eng/pipelines/update-dependencies.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update .NET download URLs
  documentation/scenarios/installing-dotnet.md
  eng/Get-AspireDropVersions.ps1
  eng/update-dependencies/DockerfileShaUpdater.cs
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Submit separate PRs for each tool's dependency updates (#6122)
  eng/pipelines/jobs/update-tools.yml
  eng/pipelines/update-dependencies.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update LICENSE, fix license year
  LICENSE
Due: eng/pipelines/dotnet-core-size-validation-pr.yml

Update domain
  src/runtime/9.0/alpine3.20/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Disable tests
  tests/Microsoft.DotNet.Docker.Tests/GeneratedArtifactTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove vscode directory from .dockerignore
  .dockerignore
Due: eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from mingit
  .vscode/launch.json
  .vscode/tasks.json
  manifest.versions.json
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2025/amd64/Dockerfile
  src/sdk/9.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2025/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add vscode config back
  .vscode/launch.json
  .vscode/tasks.json
Due: eng/pipelines/dotnet-core-size-validation-pr.yml

Apply suggestions from code review
  samples/host-aspnetcore-https.md
  samples/run-aspnetcore-https-development.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Make some minor adjustments
  samples/host-aspnetcore-https.md
  samples/run-aspnetcore-https-development.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Remove command line comments
  samples/run-aspnetcore-https-development.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

[nightly] Update dependencies from syft (#6126)
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from mingit (#6127)
  manifest.versions.json
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2025/amd64/Dockerfile
  src/sdk/9.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2025/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add additional logging to update dependencies tool
  eng/update-dependencies/UpdateDependencies.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove `.vscode` directory from `.dockerignore` (#6130)
  .dockerignore
Due: eng/pipelines/dotnet-core-size-validation-pr.yml

Downgrade linkspector GitHub action to Ubuntu 22.04 due to a bug
  .github/workflows/check-markdown-links.yml
Due: none

Downgrade linkspector GitHub action to Ubuntu 22.04 due to a bug (#6132)
  .github/workflows/check-markdown-links.yml
Due: none

[main] Downgrade linkspector GitHub action to Ubuntu 22.04 due to a bug (#6133)
  .github/workflows/check-markdown-links.yml
Due: none

Add additional logging to update dependencies tool for PR updates (#6131)
  eng/update-dependencies/UpdateDependencies.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Change naming based on code review
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/NLSTest.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/NLSScenario.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove redundant assertion
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/NLSScenario.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix async warning
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/NLSScenario.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Rename NlsScenario
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/NlsScenario.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update placeholder
  samples/run-aspnetcore-https-development.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Add NLS test scenario (#6120)
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/Microsoft.DotNet.Docker.Tests.csproj
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/NLSTest.Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/NLSTest.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/NlsScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/WindowsImageTheoryAttribute.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Path conditions:
  eng/pipelines/dotnet-core-internal-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-internal-testing.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json
