Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml, eng/pipelines/dotnet-monitor.yml

eng/pipelines/dotnet-core-nightly-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      customBuildLegGrouping: pr-build

eng/pipelines/dotnet-core-nightly.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-core-samples.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        buildMatrixType: platformVersionedOs

eng/pipelines/dotnet-core-size-validation-pr.yml:
  jobs:
  - template: ../common/templates/jobs/validate-image-sizes.yml

eng/pipelines/dotnet-core.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        buildMatrixType: platformVersionedOs
        customBuildLegGrouping: pr-build

eng/pipelines/dotnet-monitor.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        buildMatrixType: platformVersionedOs

Fix a couple issues with update-dependencies (#2109)
  .github/ISSUE_TEMPLATE/releases/net-core-release.md
  eng/pipelines/update-dependencies.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Create tests that verifies the Dockerfiles and templates are in sync (#2114)
  build-and-test.ps1
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/dockerfile-templates/Get-GeneratedDockerfiles.ps1
  eng/update-dependencies/ScriptRunnerUpdater.cs
  tests/Microsoft.DotNet.Docker.Tests/Config.cs
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/ExecuteHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/Microsoft.DotNet.Docker.Tests.csproj
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TemplateTests.cs
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update CONTRIBUTING.md with workflow instructions (#2118)
  .github/CONTRIBUTING.md
  CONTRIBUTING.md
Due: eng/pipelines/dotnet-core-size-validation-pr.yml

Enable optional jobs for update-dependencies pipeline
  eng/pipelines/update-dependencies.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/diagnostics
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/diagnostics
  eng/pipelines/update-dependencies.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Remove unneeded variable
  eng/pipelines/update-dependencies.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Enable optional jobs for update-dependencies pipeline (#2128)
  eng/pipelines/update-dependencies.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/diagnostics (#2130)
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Fix hyperlink in sample doc
  samples/aspnetapp/README.md
Due: eng/pipelines/dotnet-core-samples.yml

Fix hyperlink in sample doc (#2131)
  samples/aspnetapp/README.md
Due: eng/pipelines/dotnet-core-samples.yml

[nightly] Update dependencies from dotnet/diagnostics (#2132)
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update image size baselines (#2136)
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update custom build leg args
  eng/pipelines/dotnet-core-nightly-pr.yml
  eng/pipelines/dotnet-core-nightly.yml
  eng/pipelines/dotnet-core-samples.yml
  eng/pipelines/dotnet-core.yml
  manifest.json
  manifest.samples.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/diagnostics (#2137)
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update group name
  eng/pipelines/dotnet-core-nightly-pr.yml
  eng/pipelines/dotnet-core-nightly.yml
  eng/pipelines/dotnet-core.yml
  manifest.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Fix inconsistent line ending use in READMEs
  README.aspnet.md
  README.aspnet.preview.md
  README.md
  README.runtime-deps.md
  README.runtime-deps.preview.md
  README.runtime.md
  README.runtime.preview.md
  README.samples.md
  README.sdk.md
  README.sdk.preview.md
Due: none

[nightly] Update common Docker engineering infrastructure with latest (#2133)
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/docker-images.yml
  eng/pipelines/dotnet-core-nightly-pr.yml
  eng/pipelines/dotnet-core-nightly.yml
  eng/pipelines/dotnet-core-samples.yml
  eng/pipelines/dotnet-core.yml
  manifest.json
  manifest.samples.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Fix inconsistent line ending use in READMEs (#2140)
  README.aspnet.md
  README.aspnet.preview.md
  README.md
  README.runtime-deps.md
  README.runtime-deps.preview.md
  README.runtime.md
  README.runtime.preview.md
  README.samples.md
  README.sdk.md
  README.sdk.preview.md
Due: none

Create abstract image pedigree discovery guidance doc and along w/.NET specific version
  README.aspnet.md
  README.aspnet.preview.md
  README.md
  README.runtime-deps.md
  README.runtime-deps.preview.md
  README.runtime.md
  README.runtime.preview.md
  README.samples.md
  README.sdk.md
  README.sdk.preview.md
  documentation/dotnet-image-artifact-details.md
  documentation/image-artifact-details.md
  samples/README.md
Due: eng/pipelines/dotnet-core-samples.yml

Refactor image pedigree discovery guidance doc to be .NET specific
  README.aspnet.md
  README.aspnet.preview.md
  README.md
  README.runtime-deps.md
  README.runtime-deps.preview.md
  README.runtime.md
  README.runtime.preview.md
  README.samples.md
  README.sdk.md
  README.sdk.preview.md
  documentation/image-artifact-details.md
Due: none

edits per review feedback
  documentation/image-artifact-details.md
Due: none

[nightly] Update dependencies from dotnet/diagnostics (#2141)
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Refactor image pedigree discovery guidance doc to be .NET specific (#2143)
  README.aspnet.md
  README.aspnet.preview.md
  README.md
  README.runtime-deps.md
  README.runtime-deps.preview.md
  README.runtime.md
  README.runtime.preview.md
  README.samples.md
  README.sdk.md
  README.sdk.preview.md
  documentation/image-artifact-details.md
Due: none

[nightly] Update dependencies from dotnet/diagnostics (#2146)
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Path conditions:
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-samples.yml: any of: eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-core.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json
