Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

eng/pipelines/dotnet-core-nightly-pr.yml:

trigger: none
pr:
  branches:
    include:
    - nightly
  paths:
    include:
    - manifest.json
    - manifest.versions.json
    - eng/*
    - src/*
    - tests/*

resources:
  repositories:
  - repository: VersionsRepo
    type: github
    endpoint: dotnet
    name: dotnet/versions

variables:
- template: variables/common.yml
- name: manifest
  value: manifest.json
stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    buildMatrixType: platformVersionedOs
    buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly.yml:

trigger:
  batch: true
  branches:
    include:
    - nightly
  paths:
    include:
    - manifest.json
    - manifest.versions.json
    - src/*
pr: none

variables:
- template: variables/common.yml
- name: manifest
  value: manifest.json
stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    testMatrixCustomBuildLegGroupArgs: --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-samples-pr.yml:

trigger: none
pr:
  branches:
    include:
    - master
    - nightly
  paths:
    include:
    - manifest.samples.json
    - eng/*
    - samples/*
    - tests/*

resources:
  repositories:
  - repository: VersionsRepo
    type: github
    endpoint: dotnet
    name: dotnet/versions

variables:
- template: variables/common.yml
- name: manifest
  value: manifest.samples.json
- name: repoTestArgs
  value: -TestCategories sample
- name: imageInfoVariant
  value: "-samples"
stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    buildMatrixType: platformVersionedOs
    buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build

eng/pipelines/dotnet-core-size-validation-pr.yml:

trigger: none
pr:
  branches:
    include:
    - nightly
  paths:
    exclude:
    - .github/*
    - documentation/*
    - README*
    - samples/*

variables:
- template: variables/common.yml

jobs:
- template: ../common/templates/jobs/validate-image-sizes.yml

eng/pipelines/dotnet-monitor.yml:

trigger:
  batch: true
  branches:
    include:
    - nightly
  paths:
    include:
    - monitor/*
    - manifest.monitor.json
pr:
  branches:
    include:
    - master
    - nightly
  paths:
    include:
    - eng/*
    - monitor/*
    - manifest.monitor.json
variables:
- template: variables/common.yml
- name: manifest
  value: manifest.monitor.json
- name: imageInfoVariant
  value: "-monitor"
stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    ${{ if eq(variables['System.TeamProject'], 'public') }}:
      buildMatrixType: platformVersionedOs

Update common Docker engineering infrastructure with latest (#2254)
  eng/common/templates/jobs/build-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Maintain generated tags with new ImageBuilder version (#2276) (#2279)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/docker-images.yml
  eng/dockerfile-templates/aspnet/2.1/Dockerfile.linux
  eng/dockerfile-templates/aspnet/3.1/Dockerfile.alpine
  eng/dockerfile-templates/aspnet/3.1/Dockerfile.linux
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.alpine
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.linux
  eng/dockerfile-templates/runtime/2.1/Dockerfile.linux
  eng/dockerfile-templates/runtime/3.1/Dockerfile.alpine
  eng/dockerfile-templates/runtime/3.1/Dockerfile.linux
  eng/dockerfile-templates/runtime/5.0/Dockerfile.alpine
  eng/dockerfile-templates/runtime/5.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/5.0/Dockerfile.linux
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/build-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/core-sdk
  manifest.versions.json
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Ensure all concrete tags have arch in name
  README.aspnet.preview.md
  README.runtime-deps.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.alpine
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.linux
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/runtime/5.0/Dockerfile.alpine
  eng/dockerfile-templates/runtime/5.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/5.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/5.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/5.0/Dockerfile.windowsservercore
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1903/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2004/amd64/Dockerfile
  src/aspnet/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/amd64/Dockerfile
  src/runtime/5.0/buster-slim/amd64/Dockerfile
  src/runtime/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add feature branch to pipeline trigger
  eng/pipelines/dotnet-core-nightly-pr.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update to target latest official version
  manifest.versions.json
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest (#2255)
  eng/common/templates/jobs/build-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/core-sdk (#2280)
  manifest.versions.json
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update PowerShell Preview to 7.1.0-rc.1
  manifest.versions.json
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update PowerShell Preview to 7.1.0-rc.1 (#2283)
  manifest.versions.json
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/core-sdk (#2286)
  manifest.versions.json
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Revert "[nightly] Update dependencies from dotnet/core-sdk (#2286)"
  manifest.versions.json
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/diagnostics
  manifest.versions.json
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/diagnostics
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Define multi-arch tags for each OS version
  README.aspnet.preview.md
  README.runtime-deps.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  eng/common/templates/variables/docker-images.yml
  manifest.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Skip pre-build tests on Windows containers
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Skip pre-build tests on Windows containers (#2290)
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/diagnostics
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Skip pre-build tests on Windows containers (#2290) (#2291)
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update Image Builder
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add 5.0-alpine3.12 tag
  README.aspnet.preview.md
  README.runtime-deps.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  manifest.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Change Windows arch-less tag to be concrete instead of shared
  manifest.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add rest of concrete tags
  README.aspnet.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  manifest.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/validate-branch.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Pipeline to validate PR without caching
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Set official branch for nightly pipeline
  eng/pipelines/dotnet-core-nightly.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Removing arch-less tags for Windows
  README.aspnet.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  manifest.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Set noCache param
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove shared tags for Server Core
  README.aspnet.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  manifest.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Pipeline to validate PR without caching (#2296)
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove arch from Windows concrete tag names
  README.aspnet.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  eng/common/templates/variables/docker-images.yml
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix referenced tag names in Windows Dockerfiles
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/5.0/Dockerfile.windowsservercore
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1903/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2004/amd64/Dockerfile
  src/aspnet/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[master] Update common Docker engineering infrastructure with latest (#2295)
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/validate-branch.yml
  eng/common/templates/variables/common.yml
  eng/pipelines/dotnet-core-nightly.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml
