Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

Path conditions:
  eng/pipelines/dotnet-core-internal-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json

Update to .NET Monitor 6.3.7
  README.monitor.md
  manifest.versions.json
  src/monitor/6.3/alpine/amd64/Dockerfile
  src/monitor/6.3/alpine/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner/arm64v8/Dockerfile
  src/monitor/6.3/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/6.3/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update to .NET Monitor 8.0.3
  README.monitor-base.md
  README.monitor.md
  manifest.versions.json
  src/monitor-base/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update to .NET Monitor 9.0.0-preview.6
  README.monitor-base.md
  README.monitor.md
  manifest.versions.json
  src/monitor-base/9.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor-base/9.0/azurelinux-distroless/arm64v8/Dockerfile
  src/monitor/9.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor/9.0/azurelinux-distroless/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/8.1
  manifest.versions.json
  src/monitor-base/8.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/8.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/8.1/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.1/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/8.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.1/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.1/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove extra indents
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Reduce differences in manifest.json
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/8.1 (#5656)
  manifest.versions.json
  src/monitor-base/8.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/8.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/8.1/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.1/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/8.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.1/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.1/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update Aspire Dashboard to 8.0.2 (#5651)
  README.aspire-dashboard.md
  manifest.versions.json
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add BuildId option to Get-DropVersions script (#5496)
  eng/Get-DropVersions.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update golang to 1.21
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  src/runtime-deps/6.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/arm64v8/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update golang to 1.21 (#5663)
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  src/runtime-deps/6.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/arm64v8/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Revert "Update golang to 1.21 (#5663)"
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  src/runtime-deps/6.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/arm64v8/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Downgrade Chisel tooling to v0.9.1
  manifest.versions.json
  src/runtime-deps/6.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/arm64v8/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Downgrade chisel to v0.9.1 (#5664)
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  manifest.versions.json
  src/runtime-deps/6.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/arm64v8/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/8.1 (#5662)
  manifest.versions.json
  src/monitor-base/8.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/8.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/8.1/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.1/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/8.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.1/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.1/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add manifest versions variable for golang version
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Synchronize dockerfile-templates with nightly branch
  eng/dockerfile-templates/Dockerfile.linux.install-deps
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime-deps/Dockerfile.aot
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu.aot
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner.aot
  eng/dockerfile-templates/sdk/Dockerfile.ubuntu.aot
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove unused Dockerfile
  eng/dockerfile-templates/sdk/Dockerfile.ubuntu.aot
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Synchronize samples with main branch
  samples/aspnetapp/README.md
  samples/kubernetes/replicas-and-health/replica-health.yml
  samples/releasesapi/Dockerfile.ubuntu-chiseled
  samples/releasesapi/README.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Add platform argument back to Chiseled AOT sample
  samples/releasesapi/Dockerfile.ubuntu-chiseled
Due: eng/pipelines/dotnet-core-samples-pr.yml

Synchronize Dockerfile templates with nightly branch (#5669)
  eng/dockerfile-templates/Dockerfile.linux.install-deps
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime-deps/Dockerfile.aot
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu.aot
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner.aot
  eng/dockerfile-templates/sdk/Dockerfile.ubuntu.aot
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove unused Dockerfile template (#5670)
  eng/dockerfile-templates/sdk/Dockerfile.ubuntu.aot
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add manifest versions variable for golang version (#5668)
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update golang to 1.21
  manifest.versions.json
  src/runtime-deps/6.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-aot/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-aot/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-aot/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/arm64v8/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-aot/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update documentation and create new fast mode doc
  documentation/azure-linux-distroless.md
  samples/container-fast-mode.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/8.1 (#5673)
  manifest.versions.json
  src/monitor-base/8.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/8.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/8.1/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.1/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/8.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.1/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.1/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update Aspire Dashboard to 8.0.2 (#5672)
  README.aspire-dashboard.md
  manifest.versions.json
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Use UID environment variable for non-root user in Azure Linux 3.0 images
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner
  src/runtime-deps/8.0/azurelinux3.0-distroless-aot/amd64/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless-extra/amd64/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless/amd64/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add new package to tests
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update tests for Azure Linux
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml
