Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml, eng/pipelines/dotnet-monitor.yml

eng/pipelines/dotnet-core-nightly.yml:

trigger:
  batch: true
  branches:
    include:
    - nightly
  paths:
    include:
    - manifest.json
    - aspnet/*
    - monitor/*
    - runtime/*
    - runtime-deps/*
    - sdk/*
pr:
  branches:
    include:
    - nightly
  paths:
    exclude:
    - .github/*
    - documentation/*
    - README*
    - samples/*

variables:
- template: variables/common.yml
- name: manifest
  value: manifest.json
stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    ${{ if eq(variables['System.TeamProject'], 'public') }}:
      buildMatrixType: platformVersionedOs
      customBuildLegGrouping: pr-build
      windowsArmBuildJobTimeout: 120

eng/pipelines/dotnet-core-samples.yml:

trigger: none
pr:
  branches:
    include:
    - master
    - nightly
  paths:
    include:
    - eng/*
    - samples/*
    - tests/*
variables:
- template: variables/common.yml
- name: manifest
  value: manifest.samples.json
- name: repoTestArgs
  value: -TestCategories sample
stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    ${{ if eq(variables['System.TeamProject'], 'public') }}:
      buildMatrixType: platformVersionedOs

eng/pipelines/dotnet-core-size-validation-pr.yml:

trigger: none
pr:
  branches:
    include:
    - nightly
  paths:
    exclude:
    - .github/*
    - documentation/*
    - README*
    - samples/*

variables:
- template: variables/common.yml

jobs:
- template: ../common/templates/jobs/validate-image-sizes.yml

eng/pipelines/dotnet-core.yml:

trigger: none
pr:
  branches:
    include:
    - master
  paths:
    exclude:
    - documentation/*
    - README*
    - samples/*

variables:
- template: variables/common.yml
- name: manifest
  value: manifest.json
stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    ${{ if eq(variables['System.TeamProject'], 'public') }}:
      buildMatrixType: platformVersionedOs
      customBuildLegGrouping: pr-build

eng/pipelines/dotnet-monitor.yml:

trigger:
  batch: true
  branches:
    include:
    - nightly
  paths:
    include:
    - monitor/*
    - manifest.monitor.json
pr:
  branches:
    include:
    - master
    - nightly
  paths:
    include:
    - eng/*
    - monitor/*
    - manifest.monitor.json
variables:
- template: variables/common.yml
- name: manifest
  value: manifest.monitor.json
- name: imageInfoVariant
  value: "-monitor"
stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    ${{ if eq(variables['System.TeamProject'], 'public') }}:
      buildMatrixType: platformVersionedOs

Add libldap to 5.0 runtime-deps
  5.0/runtime-deps/alpine3.12/amd64/Dockerfile
  5.0/runtime-deps/buster-slim/amd64/Dockerfile
  5.0/runtime-deps/buster-slim/arm32v7/Dockerfile
  5.0/runtime-deps/buster-slim/arm64v8/Dockerfile
  5.0/runtime-deps/focal/amd64/Dockerfile
  5.0/runtime-deps/focal/arm32v7/Dockerfile
  5.0/runtime-deps/focal/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk
  5.0/aspnet/alpine3.12/amd64/Dockerfile
  5.0/aspnet/alpine3.12/arm64v8/Dockerfile
  5.0/aspnet/buster-slim/amd64/Dockerfile
  5.0/aspnet/buster-slim/arm32v7/Dockerfile
  5.0/aspnet/buster-slim/arm64v8/Dockerfile
  5.0/aspnet/focal/amd64/Dockerfile
  5.0/aspnet/focal/arm32v7/Dockerfile
  5.0/aspnet/focal/arm64v8/Dockerfile
  5.0/aspnet/nanoserver-1809/amd64/Dockerfile
  5.0/aspnet/nanoserver-1903/amd64/Dockerfile
  5.0/aspnet/nanoserver-1909/amd64/Dockerfile
  5.0/aspnet/nanoserver-2004/amd64/Dockerfile
  5.0/sdk/alpine3.12/amd64/Dockerfile
  5.0/sdk/buster-slim/amd64/Dockerfile
  5.0/sdk/buster-slim/arm32v7/Dockerfile
  5.0/sdk/buster-slim/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
  5.0/sdk/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk (#2005)
  5.0/aspnet/alpine3.12/amd64/Dockerfile
  5.0/aspnet/alpine3.12/arm64v8/Dockerfile
  5.0/aspnet/buster-slim/amd64/Dockerfile
  5.0/aspnet/buster-slim/arm32v7/Dockerfile
  5.0/aspnet/buster-slim/arm64v8/Dockerfile
  5.0/aspnet/focal/amd64/Dockerfile
  5.0/aspnet/focal/arm32v7/Dockerfile
  5.0/aspnet/focal/arm64v8/Dockerfile
  5.0/aspnet/nanoserver-1809/amd64/Dockerfile
  5.0/aspnet/nanoserver-1903/amd64/Dockerfile
  5.0/aspnet/nanoserver-1909/amd64/Dockerfile
  5.0/aspnet/nanoserver-2004/amd64/Dockerfile
  5.0/sdk/alpine3.12/amd64/Dockerfile
  5.0/sdk/buster-slim/amd64/Dockerfile
  5.0/sdk/buster-slim/arm32v7/Dockerfile
  5.0/sdk/buster-slim/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
  5.0/sdk/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest
  eng/common/Invoke-ImageBuilder.ps1
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#2007)
  eng/common/Invoke-ImageBuilder.ps1
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update Windows image size baseline w/non-core repos
  tests/performance/ImageSize.nightly.windows.json
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest
  eng/common/Invoke-ImageBuilder.ps1
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#2006)
  eng/common/Invoke-ImageBuilder.ps1
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#2011)
  eng/common/Invoke-ImageBuilder.ps1
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update Windows image size baseline w/non-core repos (#2012)
  tests/performance/ImageSize.nightly.windows.json
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Fix incorrect POWERSHELL_DISTRIBUTION_CHANNEL value
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update SDK 3.1 Alpine 3.12 PS version
  src/sdk/3.1/alpine3.12/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update amd64 buildpack-deps references
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/runtime/5.0/buster-slim/amd64/Dockerfile
  src/runtime/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Fix incorrect POWERSHELL_DISTRIBUTION_CHANNEL value (#2014)
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update SDK 3.1 Alpine 3.12 PS version (#2016)
  src/sdk/3.1/alpine3.12/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Remove architecture option to install .NET in test script
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Modify update-dependencies to handle dotnet-monitor. Update dotnet-monitor to preview 2.
  README.monitor.md
  eng/get-drop-versions.sh
  eng/pipelines/update-dependencies.yml
  eng/update-dependencies/DockerfileShaUpdater.cs
  eng/update-dependencies/Options.cs
  eng/update-dependencies/Program.cs
  eng/update-dependencies/VariableHelper.cs
  manifest.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update amd64 buildpack-deps references (#2020)
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/runtime/5.0/buster-slim/amd64/Dockerfile
  src/runtime/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk (#2022)
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Fix inconsistent PS nupkg Dockerfile comment
  src/sdk/3.1/buster/arm32v7/Dockerfile
  src/sdk/3.1/focal/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Fix inconsistent PS nupkg Dockerfile comment (#2023)
  src/sdk/3.1/buster/arm32v7/Dockerfile
  src/sdk/3.1/focal/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Modify update-dependencies to handle dotnet-monitor. (#2019)
  README.monitor.md
  eng/get-drop-versions.sh
  eng/pipelines/update-dependencies.yml
  eng/update-dependencies/DockerfileShaUpdater.cs
  eng/update-dependencies/Options.cs
  eng/update-dependencies/Program.cs
  eng/update-dependencies/VariableHelper.cs
  manifest.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Create updaters for each product independently.
  eng/update-dependencies/DockerfileShaUpdater.cs
  eng/update-dependencies/Program.cs
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Add liblttng-ust0 to 2.1 runtime-deps focal images
  src/runtime-deps/2.1/focal/amd64/Dockerfile
  src/runtime-deps/2.1/focal/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Create separate update PR for dotnet-monitor.
  eng/pipelines/update-dependencies.yml
  eng/update-dependencies/Options.cs
  eng/update-dependencies/Program.cs
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Remove unnecessary DEBIAN_FRONTEND=noninteractive from 5.0 sdk images
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Add liblttng-ust0 to 2.1 runtime-deps focal images (#2026)
  src/runtime-deps/2.1/focal/amd64/Dockerfile
  src/runtime-deps/2.1/focal/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Use consistent formatting for multi-line ENV instructions
  src/aspnet/2.1/nanoserver-1809/amd64/Dockerfile
  src/aspnet/2.1/nanoserver-1903/amd64/Dockerfile
  src/aspnet/2.1/nanoserver-1909/amd64/Dockerfile
  src/aspnet/2.1/nanoserver-2004/amd64/Dockerfile
  src/runtime-deps/2.1/alpine3.11/amd64/Dockerfile
  src/runtime-deps/2.1/alpine3.12/amd64/Dockerfile
  src/runtime-deps/2.1/bionic/amd64/Dockerfile
  src/runtime-deps/2.1/bionic/arm32v7/Dockerfile
  src/runtime-deps/2.1/focal/amd64/Dockerfile
  src/runtime-deps/2.1/stretch-slim/amd64/Dockerfile
  src/runtime-deps/2.1/stretch-slim/arm32v7/Dockerfile
  src/runtime-deps/3.1/alpine3.11/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.11/arm64v8/Dockerfile
  src/runtime-deps/3.1/alpine3.12/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.12/arm64v8/Dockerfile
  src/runtime-deps/3.1/bionic/amd64/Dockerfile
  src/runtime-deps/3.1/bionic/arm32v7/Dockerfile
  src/runtime-deps/3.1/bionic/arm64v8/Dockerfile
  src/runtime-deps/3.1/buster-slim/amd64/Dockerfile
  src/runtime-deps/3.1/buster-slim/arm32v7/Dockerfile
  src/runtime-deps/3.1/buster-slim/arm64v8/Dockerfile
  src/runtime/2.1/nanoserver-1809/amd64/Dockerfile
  src/runtime/2.1/nanoserver-1903/amd64/Dockerfile
  src/runtime/2.1/nanoserver-1909/amd64/Dockerfile
  src/runtime/2.1/nanoserver-2004/amd64/Dockerfile
  src/sdk/2.1/alpine3.11/amd64/Dockerfile
  src/sdk/2.1/alpine3.12/amd64/Dockerfile
  src/sdk/2.1/bionic/amd64/Dockerfile
  src/sdk/2.1/bionic/arm32v7/Dockerfile
  src/sdk/2.1/focal/amd64/Dockerfile
  src/sdk/2.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/2.1/nanoserver-1903/amd64/Dockerfile
  src/sdk/2.1/nanoserver-1909/amd64/Dockerfile
  src/sdk/2.1/nanoserver-2004/amd64/Dockerfile
  src/sdk/2.1/stretch/amd64/Dockerfile
  src/sdk/2.1/stretch/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Remove unnecessary DEBIAN_FRONTEND=noninteractive from 5.0 sdk images (#2029)
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml
