Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

eng/pipelines/dotnet-core-internal-nightly.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-core-nightly-pr-5.0.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly-pr-monitor.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly-pr-no-cache.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      noCache: true

eng/pipelines/dotnet-core-nightly-pr.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-core-nightly.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-core-pr-2.1.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr-3.1.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr-5.0.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

Fix distroless-related testing
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix distroless-related testing (#4100)
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

update-deps: Maintain same container for each version
  eng/pipelines/steps/update-dependencies.yml
  eng/update-dependencies/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/7.0
  manifest.versions.json
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/7.0/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/installer
  manifest.versions.json
  src/sdk/7.0/alpine3.16/amd64/Dockerfile
  src/sdk/7.0/alpine3.16/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.16/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

update-deps: Maintain same container for each version (#4101)
  eng/pipelines/steps/update-dependencies.yml
  eng/update-dependencies/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/7.0 (#4102)
  manifest.versions.json
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/7.0/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/installer (#4103)
  manifest.versions.json
  src/sdk/7.0/alpine3.16/amd64/Dockerfile
  src/sdk/7.0/alpine3.16/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.16/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update internal pool for builds from main branch
  eng/pipelines/dotnet-core.yml
  eng/pipelines/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update internal pool for builds from main branch (#4106)
  eng/pipelines/dotnet-core.yml
  eng/pipelines/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/7.0 (#4107)
  manifest.versions.json
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/7.0/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Enable distroless Mariner images to be scanned correctly
  eng/dockerfile-templates/Dockerfile.linux.install-pkgs
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner
  src/runtime-deps/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Unit test to verify the installed packages are scannable
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/6.3
  manifest.versions.json
  src/monitor/6.3/alpine/amd64/Dockerfile
  src/monitor/6.3/alpine/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner/arm64v8/Dockerfile
  src/monitor/6.3/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/6.3/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/6.3 (#4110)
  manifest.versions.json
  src/monitor/6.3/alpine/amd64/Dockerfile
  src/monitor/6.3/alpine/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner/arm64v8/Dockerfile
  src/monitor/6.3/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/6.3/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update .NET Monitor 7.0 to RC 1 candidate
  manifest.versions.json
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/7.0/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update .NET Monitor 7.0 to RC 1 candidate (#4112)
  manifest.versions.json
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/7.0/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Set correct ownership of non-root user's home dir
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner
  eng/dockerfile-templates/runtime-deps/Dockerfile.linux.distroless-user
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Use correct stage name
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/installer
  manifest.versions.json
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Filter out gpg-pubkey
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Enable distroless Mariner images to be scanned correctly (#4108)
  eng/dockerfile-templates/Dockerfile.linux.install-pkgs
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner
  src/runtime-deps/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update common Docker engineering infrastructure with latest (#4113)
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[main] Update common Docker engineering infrastructure with latest (#4114)
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Preserve root user in distroless-style containers
  eng/dockerfile-templates/runtime-deps/Dockerfile.linux.distroless-user
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Refactor distroless Dockerfile base image usage
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update Alpine samples for localization scenario
  samples/aspnetapp/Dockerfile.alpine-arm32
  samples/aspnetapp/Dockerfile.alpine-arm64
  samples/aspnetapp/Dockerfile.alpine-x64
  samples/aspnetapp/Dockerfile.alpine-x64-slim
  samples/dotnetapp/Dockerfile.alpine-arm32
  samples/dotnetapp/Dockerfile.alpine-arm64
  samples/dotnetapp/Dockerfile.alpine-x64
  samples/dotnetapp/Dockerfile.alpine-x64-slim
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update readmes for how tags are classified
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.monitor.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.sdk.portal.md
  README.aspnet.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  eng/readme-templates/FeaturedTags.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Refactor distroless Dockerfile base image usage (#4123)
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update Alpine samples for localization scenario (#4127)
  samples/aspnetapp/Dockerfile.alpine-arm32
  samples/aspnetapp/Dockerfile.alpine-arm64
  samples/aspnetapp/Dockerfile.alpine-x64
  samples/aspnetapp/Dockerfile.alpine-x64-slim
  samples/dotnetapp/Dockerfile.alpine-arm32
  samples/dotnetapp/Dockerfile.alpine-arm64
  samples/dotnetapp/Dockerfile.alpine-x64
  samples/dotnetapp/Dockerfile.alpine-x64-slim
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update tests to verify root user exists
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Set correct ownership of non-root user's home dir (#4115)
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner
  eng/dockerfile-templates/runtime-deps/Dockerfile.linux.distroless-user
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Preserve root user in distroless-style containers (#4122)
  eng/dockerfile-templates/runtime-deps/Dockerfile.linux.distroless-user
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Path conditions:
  eng/pipelines/dotnet-core-internal-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json
