Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

eng/pipelines/dotnet-core-nightly.yml:

trigger:
  batch: true
  branches:
    include:
    - nightly
  paths:
    include:
    - manifest.json
    - 2.1/*
    - 3.0/*
    - 3.1/*
    - 5.0/*
pr:
  branches:
    include:
    - nightly
  paths:
    exclude:
    - .github/*
    - documentation/*
    - README*
    - samples/*

variables:
- template: variables/common.yml
- name: manifest
  value: manifest.json
stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    ${{ if eq(variables['System.TeamProject'], 'public') }}:
      buildMatrixType: platformVersionedOs
      customBuildLegGrouping: pr-build
      windowsArmBuildJobTimeout: 120

eng/pipelines/dotnet-core-samples.yml:

trigger: none
pr:
  branches:
    include:
    - master
    - nightly
  paths:
    include:
    - eng/*
    - samples/*
    - tests/*
variables:
- template: variables/common.yml
- name: manifest
  value: manifest.samples.json
- name: repoTestArgs
  value: -TestCategories sample
stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    ${{ if eq(variables['System.TeamProject'], 'public') }}:
      buildMatrixType: platformVersionedOs

eng/pipelines/dotnet-core-size-validation-pr.yml:

trigger: none
pr:
  branches:
    include:
    - nightly
  paths:
    exclude:
    - .github/*
    - documentation/*
    - README*
    - samples/*

variables:
- template: variables/common.yml

jobs:
- template: ../common/templates/jobs/validate-image-sizes.yml

eng/pipelines/dotnet-core.yml:

trigger: none
pr:
  branches:
    include:
    - master
  paths:
    exclude:
    - documentation/*
    - README*
    - samples/*

variables:
- template: variables/common.yml
- name: manifest
  value: manifest.json
stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    ${{ if eq(variables['System.TeamProject'], 'public') }}:
      buildMatrixType: platformVersionedOs
      customBuildLegGrouping: pr-build

Re-enable scenario tests for 5.0 images (#1718)
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update 3.1 SDK images
  3.1/sdk/alpine3.10/amd64/Dockerfile
  3.1/sdk/alpine3.11/amd64/Dockerfile
  3.1/sdk/bionic/amd64/Dockerfile
  3.1/sdk/bionic/arm32v7/Dockerfile
  3.1/sdk/bionic/arm64v8/Dockerfile
  3.1/sdk/buster/amd64/Dockerfile
  3.1/sdk/buster/arm32v7/Dockerfile
  3.1/sdk/buster/arm64v8/Dockerfile
  3.1/sdk/focal/amd64/Dockerfile
  3.1/sdk/focal/arm32v7/Dockerfile
  3.1/sdk/focal/arm64v8/Dockerfile
  3.1/sdk/nanoserver-1809/amd64/Dockerfile
  3.1/sdk/nanoserver-1809/arm32v7/Dockerfile
  3.1/sdk/nanoserver-1903/amd64/Dockerfile
  3.1/sdk/nanoserver-1909/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update 5.0 SDK images
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster/amd64/Dockerfile
  5.0/sdk/buster/arm32v7/Dockerfile
  5.0/sdk/buster/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1809/arm32v7/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update SDK images with PowerShell 7.0.0 (#1721)
  3.1/sdk/alpine3.10/amd64/Dockerfile
  3.1/sdk/alpine3.11/amd64/Dockerfile
  3.1/sdk/bionic/amd64/Dockerfile
  3.1/sdk/bionic/arm32v7/Dockerfile
  3.1/sdk/bionic/arm64v8/Dockerfile
  3.1/sdk/buster/amd64/Dockerfile
  3.1/sdk/buster/arm32v7/Dockerfile
  3.1/sdk/buster/arm64v8/Dockerfile
  3.1/sdk/focal/amd64/Dockerfile
  3.1/sdk/focal/arm32v7/Dockerfile
  3.1/sdk/focal/arm64v8/Dockerfile
  3.1/sdk/nanoserver-1809/amd64/Dockerfile
  3.1/sdk/nanoserver-1809/arm32v7/Dockerfile
  3.1/sdk/nanoserver-1903/amd64/Dockerfile
  3.1/sdk/nanoserver-1909/amd64/Dockerfile
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster/amd64/Dockerfile
  5.0/sdk/buster/arm32v7/Dockerfile
  5.0/sdk/buster/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1809/arm32v7/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#1723)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster/amd64/Dockerfile
  5.0/sdk/buster/arm32v7/Dockerfile
  5.0/sdk/buster/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1809/arm32v7/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#1724)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk (#1725)
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster/amd64/Dockerfile
  5.0/sdk/buster/arm32v7/Dockerfile
  5.0/sdk/buster/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1809/arm32v7/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Ensure pipelines use .NET Docker bot
  eng/pipelines/update-dependencies.yml
  eng/pipelines/update-readmes.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk
  5.0/aspnet/alpine3.11/amd64/Dockerfile
  5.0/aspnet/alpine3.11/arm64v8/Dockerfile
  5.0/aspnet/buster-slim/amd64/Dockerfile
  5.0/aspnet/buster-slim/arm32v7/Dockerfile
  5.0/aspnet/buster-slim/arm64v8/Dockerfile
  5.0/aspnet/focal/amd64/Dockerfile
  5.0/aspnet/focal/arm32v7/Dockerfile
  5.0/aspnet/focal/arm64v8/Dockerfile
  5.0/aspnet/nanoserver-1809/amd64/Dockerfile
  5.0/aspnet/nanoserver-1809/arm32v7/Dockerfile
  5.0/aspnet/nanoserver-1903/amd64/Dockerfile
  5.0/aspnet/nanoserver-1909/amd64/Dockerfile
  5.0/runtime/alpine3.11/amd64/Dockerfile
  5.0/runtime/alpine3.11/arm64v8/Dockerfile
  5.0/runtime/buster-slim/amd64/Dockerfile
  5.0/runtime/buster-slim/arm32v7/Dockerfile
  5.0/runtime/buster-slim/arm64v8/Dockerfile
  5.0/runtime/focal/amd64/Dockerfile
  5.0/runtime/focal/arm32v7/Dockerfile
  5.0/runtime/focal/arm64v8/Dockerfile
  5.0/runtime/nanoserver-1809/amd64/Dockerfile
  5.0/runtime/nanoserver-1809/arm32v7/Dockerfile
  5.0/runtime/nanoserver-1903/amd64/Dockerfile
  5.0/runtime/nanoserver-1909/amd64/Dockerfile
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster/amd64/Dockerfile
  5.0/sdk/buster/arm32v7/Dockerfile
  5.0/sdk/buster/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1809/arm32v7/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Ensure .NET Docker bot is used in pipelines
  eng/pipelines/update-dependencies.yml
  eng/pipelines/update-readmes.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Ensure .NET Docker bot is used in pipelines (#1729)
  eng/pipelines/update-dependencies.yml
  eng/pipelines/update-readmes.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#1731)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#1726)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk (#1733)
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster/amd64/Dockerfile
  5.0/sdk/buster/arm32v7/Dockerfile
  5.0/sdk/buster/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1809/arm32v7/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest
  eng/common/build.ps1
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk (#1736)
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster/amd64/Dockerfile
  5.0/sdk/buster/arm32v7/Dockerfile
  5.0/sdk/buster/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1809/arm32v7/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#1735)
  eng/common/build.ps1
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#1734)
  eng/common/build.ps1
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update build/test scripts to use new parameter names
  .github/ISSUE_TEMPLATE/releases/new-distro-release.md
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
  build-and-test.ps1
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update build/test scripts to use new parameter names (#1738)
  .github/ISSUE_TEMPLATE/releases/new-distro-release.md
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
  build-and-test.ps1
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#1741)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#1742)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Fix wrong versions in Alpine 3.10
  3.1/sdk/alpine3.10/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Remove 5.0 Focal ARM32 from manifest and tags
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Remove 5.0 Focal ARM32 from manifest and tags (#1748)
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Remove testing for 5.0 Focal ARM32
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml
