Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

Path conditions:
  eng/pipelines/dotnet-core-internal-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-internal-testing.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json

Print image info and enable more steps
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add parameters for passing through source pipeline run
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/dotnet/publish.yml
  eng/common/templates/stages/publish.yml
  eng/common/templates/steps/download-build-artifact.yml
  eng/pipelines/release-promotion.yml
  eng/pipelines/stages/publish.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add additional prefix to imagebuilder steps
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Enable publish-artifact step
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Define queueArgs
  eng/pipelines/release-promotion.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Print command instead of executing it
  eng/common/templates/steps/run-imagebuilder.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Prefix publish stages that we control
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/dotnet/publish.yml
  eng/pipelines/release-promotion.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Re-enable ImageBuilder commands
  eng/common/templates/steps/run-imagebuilder.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Enable more steps
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Enable ingestKustoImageInfo
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Reduce diffs
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/dotnet/publish.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/pipelines/release-promotion.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix reference to publish stage without noCache
  eng/pipelines/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add extra logging to sourceBranch and publicSourceBranch
  eng/common/templates/steps/init-common.yml
  eng/pipelines/steps/set-public-source-branch-var.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Enable the rest of the publish commands
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Re-enable stage dependencies
  eng/common/templates/stages/dotnet/publish.yml
  eng/common/templates/stages/publish.yml
  eng/pipelines/release-promotion.yml
  eng/pipelines/stages/publish.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Use parameterized sourceBuildId
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/publish.yml
  eng/common/templates/steps/download-build-artifact.yml
  eng/common/templates/steps/run-imagebuilder.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Quote sourceBuildPipelineRunId
  eng/pipelines/release-promotion.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix some quoting
  eng/common/templates/steps/download-build-artifact.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add missing parameters reference
  eng/common/templates/steps/download-build-artifact.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Pass sourceBuildId through variable templates
  eng/common/templates/variables/dotnet/build-test-publish.yml
  eng/common/templates/variables/dotnet/common.yml
  eng/pipelines/release-promotion.yml
  eng/pipelines/variables/core.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add trailing slash to stagingRepoPrefix
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from syft
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from syft (#6454)
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update image to aspire 9.3
  .portal-docs/docker-hub/README.aspire-dashboard.md
  .portal-docs/mar/README.aspire-dashboard.portal.md
  README.aspire-dashboard.md
  eng/mcr-tags-metadata-templates/aspire-dashboard-tags.yml
  eng/readme-templates/FeaturedTags.md
  manifest.json
  manifest.versions.json
  src/aspire-dashboard/9.3/azurelinux-distroless/amd64/Dockerfile
  src/aspire-dashboard/9.3/azurelinux-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix test issue
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Regen Dockerfiles
  src/aspire-dashboard/9.3/azurelinux-distroless/amd64/Dockerfile
  src/aspire-dashboard/9.3/azurelinux-distroless/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update test baselines
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/aspire-dashboard-9.3-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/aspire-dashboard-9.3-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add skip-manifest-update back to workload install Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/TestDockerfile.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update Aspire Dashboard to 9.3 (#6455)
  .portal-docs/docker-hub/README.aspire-dashboard.md
  .portal-docs/mar/README.aspire-dashboard.portal.md
  README.aspire-dashboard.md
  eng/mcr-tags-metadata-templates/aspire-dashboard-tags.yml
  eng/readme-templates/FeaturedTags.md
  manifest.json
  manifest.versions.json
  src/aspire-dashboard/9.3/azurelinux-distroless/amd64/Dockerfile
  src/aspire-dashboard/9.3/azurelinux-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/aspire-dashboard-9.3-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/aspire-dashboard-9.3-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Workaround issue where Update Dependencies tool would sometimes overwrite PRs
  eng/update-dependencies/SpecificCommand.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Workaround issue where Update Dependencies tool would sometimes overwrite PRs (#6456)
  eng/update-dependencies/SpecificCommand.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update .NET 8 SDK
  README.sdk.md
  manifest.versions.json
  src/sdk/8.0/alpine3.21/amd64/Dockerfile
  src/sdk/8.0/alpine3.21/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.21/arm64v8/Dockerfile
  src/sdk/8.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/8.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/8.0/noble/amd64/Dockerfile
  src/sdk/8.0/noble/arm64v8/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2025/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update .NET 8 SDK (#6457)
  README.sdk.md
  manifest.versions.json
  src/sdk/8.0/alpine3.21/amd64/Dockerfile
  src/sdk/8.0/alpine3.21/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.21/arm64v8/Dockerfile
  src/sdk/8.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/8.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/8.0/noble/amd64/Dockerfile
  src/sdk/8.0/noble/arm64v8/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2025/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update .NET 8 SDK
  README.sdk.md
  manifest.versions.json
  src/sdk/8.0/alpine3.21/amd64/Dockerfile
  src/sdk/8.0/alpine3.21/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.21/arm64v8/Dockerfile
  src/sdk/8.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/8.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/8.0/noble/amd64/Dockerfile
  src/sdk/8.0/noble/arm64v8/Dockerfile
  src/sdk/8.0/trixie-slim/amd64/Dockerfile
  src/sdk/8.0/trixie-slim/arm64v8/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2025/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update .NET 8 SDK (#6458)
  README.sdk.md
  manifest.versions.json
  src/sdk/8.0/alpine3.21/amd64/Dockerfile
  src/sdk/8.0/alpine3.21/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.21/arm64v8/Dockerfile
  src/sdk/8.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/8.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/8.0/noble/amd64/Dockerfile
  src/sdk/8.0/noble/arm64v8/Dockerfile
  src/sdk/8.0/trixie-slim/amd64/Dockerfile
  src/sdk/8.0/trixie-slim/arm64v8/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2025/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update new OS support timelines
  documentation/supported-platforms.md
Due: none
