Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

Path conditions:
  eng/pipelines/dotnet-core-internal-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json

[main] Update common Docker engineering infrastructure with latest (#5628)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/copy-base-images-staging.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/steps/clean-acr-images.yml
  eng/common/templates/steps/copy-base-images.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Move Monitor 6.3 to Alpine 3.20
  README.monitor.md
  manifest.json
  src/monitor/6.3/alpine/amd64/Dockerfile
  src/monitor/6.3/alpine/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/6.3
  README.monitor.md
  manifest.versions.json
  src/monitor/6.3/alpine/amd64/Dockerfile
  src/monitor/6.3/alpine/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner/arm64v8/Dockerfile
  src/monitor/6.3/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/6.3/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Re-enable PowerShell tests
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Updates per code review feedback.
  .github/ISSUE_TEMPLATE/new-distro-release.md
Due: none

Up
  .github/ISSUE_TEMPLATE/new-windows-release.md
Due: none

[nightly] Update dependencies from dotnet/dotnet-monitor/9.0 (#5633)
  manifest.versions.json
  src/monitor-base/9.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor-base/9.0/azurelinux-distroless/arm64v8/Dockerfile
  src/monitor/9.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor/9.0/azurelinux-distroless/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Move Alpine Linux floating tags to 3.20 (#5638)
  README.aspnet.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  manifest.json
  src/monitor/6.3/alpine/amd64/Dockerfile
  src/monitor/6.3/alpine/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add link to security policy and vulnerability workflow from READMEs
  .portal-docs/docker-hub/README.aspire-dashboard.md
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.monitor-base.md
  .portal-docs/docker-hub/README.monitor.md
  .portal-docs/docker-hub/README.runtime-deps.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/mar/README.aspire-dashboard.portal.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.monitor-base.portal.md
  .portal-docs/mar/README.monitor.portal.md
  .portal-docs/mar/README.runtime-deps.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  README.aspire-dashboard.md
  README.aspnet.md
  README.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  eng/readme-templates/Support.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Move new os issue templates from dotnet/release repo (#5636)
  .github/ISSUE_TEMPLATE/new-distro-release.md
  .github/ISSUE_TEMPLATE/new-windows-release.md
Due: none

Fix link
  .portal-docs/docker-hub/README.aspire-dashboard.md
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.monitor-base.md
  .portal-docs/docker-hub/README.monitor.md
  .portal-docs/docker-hub/README.runtime-deps.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/mar/README.aspire-dashboard.portal.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.monitor-base.portal.md
  .portal-docs/mar/README.monitor.portal.md
  .portal-docs/mar/README.runtime-deps.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  README.aspire-dashboard.md
  README.aspnet.md
  README.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  eng/readme-templates/Support.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add BuildId option to Get-DropVersions script
  eng/Get-DropVersions.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update script according to code review
  eng/Get-DropVersions.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add link to security policy and vulnerability workflow from READMEs (#5644)
  .portal-docs/docker-hub/README.aspire-dashboard.md
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.monitor-base.md
  .portal-docs/docker-hub/README.monitor.md
  .portal-docs/docker-hub/README.runtime-deps.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/mar/README.aspire-dashboard.portal.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.monitor-base.portal.md
  .portal-docs/mar/README.monitor.portal.md
  .portal-docs/mar/README.runtime-deps.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  README.aspire-dashboard.md
  README.aspnet.md
  README.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  eng/readme-templates/Support.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add option to Get-DropVersions to call update-dependencies tooling
  eng/Get-DropVersions.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/8.0
  README.monitor-base.md
  README.monitor.md
  manifest.versions.json
  src/monitor-base/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/6.3 (#5640)
  README.monitor.md
  manifest.versions.json
  src/monitor/6.3/alpine/amd64/Dockerfile
  src/monitor/6.3/alpine/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner/arm64v8/Dockerfile
  src/monitor/6.3/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/6.3/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/9.0
  manifest.versions.json
  src/monitor-base/9.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor-base/9.0/azurelinux-distroless/arm64v8/Dockerfile
  src/monitor/9.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor/9.0/azurelinux-distroless/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/8.1
  manifest.versions.json
  src/monitor-base/8.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/8.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/8.1/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.1/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/8.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.1/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.1/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/8.1 (#5648)
  manifest.versions.json
  src/monitor-base/8.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/8.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/8.1/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.1/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/8.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.1/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.1/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/9.0 (#5647)
  manifest.versions.json
  src/monitor-base/9.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor-base/9.0/azurelinux-distroless/arm64v8/Dockerfile
  src/monitor/9.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor/9.0/azurelinux-distroless/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add documentation for Azure Linux
  documentation/azure-linux-distroless.md
  documentation/image-artifact-details.md
Due: none

Update dotnet-release-lifecycle.md (#5613)
  .github/ISSUE_TEMPLATE/releases/dotnet-release-lifecycle.md
Due: none

Update Aspire Dashboard to 8.0.2
  README.aspire-dashboard.md
  manifest.versions.json
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update customBuildLegGroups tag variables
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update Alpine floating tags to 3.20
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix regression in Alpine SDK tags from earlier changes
  README.sdk.md
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Define new version manifest variables (#5586)
  README.aspnet.md
  README.runtime-deps.md
  README.sdk.md
  eng/dockerfile-templates/sdk/Dockerfile.linux.aot
  manifest.json
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Explicitly install libgcc-atomic for Azure Linux (#5600)
  eng/dockerfile-templates/sdk/Dockerfile.linux
  src/sdk/8.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/8.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/9.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/9.0/azurelinux3.0/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove `-1` tag suffix for sdk (#5614)
  README.sdk.md
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Disable PowerShell tests for .NET 9 on Arm32 (#5619)
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Use new URL format for Docker Hub pages (#5622)
  .portal-docs/docker-hub/README.aspire-dashboard.md
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.monitor-base.md
  .portal-docs/docker-hub/README.monitor.md
  .portal-docs/docker-hub/README.runtime-deps.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  README.aspire-dashboard.md
  README.aspnet.md
  README.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  eng/readme-templates/Url.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update `Microsoft.TeamFoundationServer.Client` package in update-dependencies tool (#5341)
  eng/update-dependencies/update-dependencies.csproj
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove extra reference to .NET 7
  eng/dockerfile-templates/sdk/Dockerfile.linux
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove Alpine 3.18 Images (#5501)
  src/aspnet/6.0/alpine3.18/amd64/Dockerfile
  src/aspnet/6.0/alpine3.18/arm32v7/Dockerfile
  src/aspnet/6.0/alpine3.18/arm64v8/Dockerfile
  src/aspnet/8.0/alpine3.18-composite/amd64/Dockerfile
  src/aspnet/8.0/alpine3.18-composite/arm32v7/Dockerfile
  src/aspnet/8.0/alpine3.18-composite/arm64v8/Dockerfile
  src/aspnet/8.0/alpine3.18/amd64/Dockerfile
  src/aspnet/8.0/alpine3.18/arm32v7/Dockerfile
  src/aspnet/8.0/alpine3.18/arm64v8/Dockerfile
  src/runtime/6.0/alpine3.18/amd64/Dockerfile
  src/runtime/6.0/alpine3.18/arm32v7/Dockerfile
  src/runtime/6.0/alpine3.18/arm64v8/Dockerfile
  src/runtime/8.0/alpine3.18/amd64/Dockerfile
  src/runtime/8.0/alpine3.18/arm32v7/Dockerfile
  src/runtime/8.0/alpine3.18/arm64v8/Dockerfile
  src/sdk/6.0/alpine3.18/amd64/Dockerfile
  src/sdk/6.0/alpine3.18/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.18/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.18/amd64/Dockerfile
  src/sdk/8.0/alpine3.18/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.18/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml
