Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

Path conditions:
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json

Remove test data for 7.0 on Alpine 3.14
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest (#3312)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/package-scripts/Dockerfile.scripts
  eng/common/package-scripts/get-installed-packages.container.sh
  eng/common/package-scripts/get-installed-packages.sh
  eng/common/package-scripts/get-upgradable-packages.container.bash.sh
  eng/common/package-scripts/get-upgradable-packages.container.sh
  eng/common/package-scripts/get-upgradable-packages.sh
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update manifest.json
  manifest.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Enable sample testing of SCD on WSC
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update TestData.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest (#3316)
  eng/common/package-scripts/Dockerfile.scripts
  eng/common/package-scripts/get-installed-packages.container.sh
  eng/common/package-scripts/get-installed-packages.sh
  eng/common/package-scripts/get-upgradable-packages.container.bash.sh
  eng/common/package-scripts/get-upgradable-packages.container.sh
  eng/common/package-scripts/get-upgradable-packages.sh
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Removing test data
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Enable collection of component data in build
  eng/common/package-scripts/get-installed-packages.container.sh
  eng/common/package-scripts/get-installed-packages.sh
  eng/common/package-scripts/get-upgradable-packages.container.bash.sh
  eng/common/package-scripts/get-upgradable-packages.container.sh
  eng/common/package-scripts/get-upgradable-packages.sh
  eng/common/templates/jobs/build-images.yml
  eng/package-scripts/cbl-mariner-distroless/dotnet7/get-installed-packages.1.0.sh
  eng/package-scripts/cbl-mariner-distroless/dotnet7/get-installed-packages.sh
  eng/package-scripts/cbl-mariner-distroless/get-installed-packages.1.0.sh
  eng/package-scripts/cbl-mariner-distroless/get-installed-packages.sh
  eng/package-scripts/cbl-mariner-distroless/get-upgradable-packages.1.0.sh
  eng/package-scripts/cbl-mariner-distroless/get-upgradable-packages.sh
  manifest.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Updated dependencies.
  README.monitor.md
  src/monitor/7.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix repo path
  eng/common/templates/jobs/build-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Enable sample testing of SCD on WSC (#3318)
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest (#3323)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest (#3317)
  eng/common/package-scripts/Dockerfile.scripts
  eng/common/package-scripts/get-installed-packages.container.sh
  eng/common/package-scripts/get-installed-packages.sh
  eng/common/package-scripts/get-upgradable-packages.container.bash.sh
  eng/common/package-scripts/get-upgradable-packages.container.sh
  eng/common/package-scripts/get-upgradable-packages.sh
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove Alpine 3.13 Dockerfiles
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/3.1/alpine3.13/amd64/Dockerfile
  src/aspnet/3.1/alpine3.13/arm64v8/Dockerfile
  src/aspnet/5.0/alpine3.13/amd64/Dockerfile
  src/aspnet/5.0/alpine3.13/arm32v7/Dockerfile
  src/aspnet/5.0/alpine3.13/arm64v8/Dockerfile
  src/runtime-deps/3.1/alpine3.13/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.13/arm64v8/Dockerfile
  src/runtime-deps/5.0/alpine3.13/arm32v7/Dockerfile
  src/runtime/3.1/alpine3.13/amd64/Dockerfile
  src/runtime/3.1/alpine3.13/arm64v8/Dockerfile
  src/runtime/5.0/alpine3.13/amd64/Dockerfile
  src/runtime/5.0/alpine3.13/arm32v7/Dockerfile
  src/runtime/5.0/alpine3.13/arm64v8/Dockerfile
  src/sdk/3.1/alpine3.13/amd64/Dockerfile
  src/sdk/5.0/alpine3.13/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Delegate path change to base script
  eng/package-scripts/cbl-mariner-distroless/dotnet7/get-installed-packages.sh
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove Alpine 3.13 Dockerfiles (#3325)
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/3.1/alpine3.13/amd64/Dockerfile
  src/aspnet/3.1/alpine3.13/arm64v8/Dockerfile
  src/aspnet/5.0/alpine3.13/amd64/Dockerfile
  src/aspnet/5.0/alpine3.13/arm32v7/Dockerfile
  src/aspnet/5.0/alpine3.13/arm64v8/Dockerfile
  src/runtime-deps/3.1/alpine3.13/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.13/arm64v8/Dockerfile
  src/runtime-deps/5.0/alpine3.13/arm32v7/Dockerfile
  src/runtime/3.1/alpine3.13/amd64/Dockerfile
  src/runtime/3.1/alpine3.13/arm64v8/Dockerfile
  src/runtime/5.0/alpine3.13/amd64/Dockerfile
  src/runtime/5.0/alpine3.13/arm32v7/Dockerfile
  src/runtime/5.0/alpine3.13/arm64v8/Dockerfile
  src/sdk/3.1/alpine3.13/amd64/Dockerfile
  src/sdk/5.0/alpine3.13/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update dotnet monitor to 6.0.1
  README.monitor.md
  manifest.versions.json
  src/monitor/6.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update dotnet monitor to 6.0.1 (#3326)
  README.monitor.md
  manifest.versions.json
  src/monitor/6.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Move 7.0.0 nightly Docker image to Alpine 3.15 for dotnet monitor (#3320)
  README.monitor.md
  manifest.json
  src/monitor/7.0/alpine/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest (#3328)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest (#3329)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Updated 6.0 images to use latest PowerShell 7.2.1
  manifest.versions.json
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/alpine3.15/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Updated 6.0 images to use latest PowerShell 7.2.1 (#3330)
  manifest.versions.json
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/alpine3.15/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Samples: Scan dependencies with Trivy
  samples/aspnetapp/Dockerfile.alpine-arm64
  samples/aspnetapp/Dockerfile.alpine-x64
  samples/aspnetapp/Dockerfile.alpine-x64-slim
  samples/aspnetapp/Dockerfile.debian-arm64
  samples/aspnetapp/Dockerfile.debian-x64
  samples/aspnetapp/Dockerfile.debian-x64-slim
  samples/aspnetapp/Dockerfile.ubuntu-x64
  samples/aspnetapp/Dockerfile.ubuntu-x64-slim
  samples/aspnetapp/aspnetapp/aspnetapp.csproj
  samples/complexapp/complexapp/complexapp.csproj
  samples/dotnetapp/Dockerfile.alpine-arm64
  samples/dotnetapp/Dockerfile.alpine-x64
  samples/dotnetapp/Dockerfile.alpine-x64-slim
  samples/dotnetapp/Dockerfile.debian-arm64
  samples/dotnetapp/Dockerfile.debian-x64
  samples/dotnetapp/Dockerfile.debian-x64-slim
  samples/dotnetapp/Dockerfile.ubuntu-arm64
  samples/dotnetapp/Dockerfile.ubuntu-x64
  samples/dotnetapp/Dockerfile.ubuntu-x64-slim
  samples/dotnetapp/dotnetapp.csproj
Due: eng/pipelines/dotnet-core-samples-pr.yml

TEMP: Use custom Trivy image with all Windows versions support
  samples/aspnetapp/Dockerfile
  samples/aspnetapp/Dockerfile.alpine-arm64
  samples/aspnetapp/Dockerfile.alpine-x64
  samples/aspnetapp/Dockerfile.alpine-x64-slim
  samples/aspnetapp/Dockerfile.debian-arm64
  samples/aspnetapp/Dockerfile.debian-x64
  samples/aspnetapp/Dockerfile.debian-x64-slim
  samples/aspnetapp/Dockerfile.nanoserver-x64
  samples/aspnetapp/Dockerfile.nanoserver-x64-slim
  samples/aspnetapp/Dockerfile.ubuntu-x64
  samples/aspnetapp/Dockerfile.ubuntu-x64-slim
  samples/aspnetapp/Dockerfile.windowsservercore-iis-x64
  samples/aspnetapp/Dockerfile.windowsservercore-x64
  samples/aspnetapp/Dockerfile.windowsservercore-x64-slim
  samples/complexapp/Dockerfile
  samples/dotnetapp/Dockerfile
  samples/dotnetapp/Dockerfile.alpine-arm64
  samples/dotnetapp/Dockerfile.alpine-x64
  samples/dotnetapp/Dockerfile.alpine-x64-slim
  samples/dotnetapp/Dockerfile.debian-arm64
  samples/dotnetapp/Dockerfile.debian-x64
  samples/dotnetapp/Dockerfile.debian-x64-slim
  samples/dotnetapp/Dockerfile.nanoserver-x64
  samples/dotnetapp/Dockerfile.nanoserver-x64-slim
  samples/dotnetapp/Dockerfile.ubuntu-arm64
  samples/dotnetapp/Dockerfile.ubuntu-x64
  samples/dotnetapp/Dockerfile.ubuntu-x64-slim
  samples/dotnetapp/Dockerfile.windowsservercore-x64
  samples/dotnetapp/Dockerfile.windowsservercore-x64-slim
Due: eng/pipelines/dotnet-core-samples-pr.yml

Merge release issue template changes
  .github/ISSUE_TEMPLATE/releases/dotnet-monitor-release.md
  .github/ISSUE_TEMPLATE/releases/dotnet-release.md
Due: none

Update Mariner to reference prebuilt-ca-certificates package (#3271)
  eng/dockerfile-templates/runtime-deps/6.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime-deps/6.0/Dockerfile.mariner-distroless
  src/runtime-deps/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner1.0/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add component governance pipeline for container images (#3268)
  eng/pipelines/cg-code.yml
  eng/pipelines/cg-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Merge eng infrastructure updates
  eng/get-drop-versions-monitor.sh
  eng/update-dependencies/DockerfileShaUpdater.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Updated 6.0 images to use latest PowerShell 7.2.1 (#3330)
  manifest.versions.json
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Clean up test code (#3269)
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml
