Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

Path conditions:
  eng/pipelines/dotnet-core-internal-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-internal-testing.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json

Ignore Canonical blog link in PR link validation (#6666)
  .github/linters/.linkspector.yml
Due: none

Update remaining samples to .NET 10 (#6665)
  samples/complexapp/Directory.Build.props
  samples/complexapp/Dockerfile
  samples/complexapp/complexapp.sln
  samples/complexapp/complexapp.slnx
  samples/complexapp/complexapp/complexapp.csproj
  samples/complexapp/libbar/Bar.cs
  samples/complexapp/libbar/libbar.csproj
  samples/complexapp/libfoo/libfoo.csproj
  samples/complexapp/tests/StringUtilsTests.cs
  samples/complexapp/tests/tests.csproj
  samples/globalapp/Dockerfile
  samples/globalapp/Dockerfile.alpine
  samples/globalapp/Dockerfile.azurelinux-distroless
  samples/globalapp/Dockerfile.ubuntu-chiseled
  samples/globalapp/README.md
  samples/globalapp/globalapp.csproj
  samples/releasesapp/Dockerfile
  samples/releasesapp/Dockerfile.alpine
  samples/releasesapp/Dockerfile.azurelinux-distroless
  samples/releasesapp/Dockerfile.chiseled
  samples/releasesapp/Program.cs
  samples/releasesapp/README.md
  samples/releasesapp/releasesapp.csproj
  samples/releasesapp/releasesapp.sln
  samples/releasesapp/releasesapp.slnx
Due: eng/pipelines/dotnet-core-samples-pr.yml

Add sync-internal-release command definition
  eng/update-dependencies/Program.cs
  eng/update-dependencies/Sync/SyncInternalReleaseCommand.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update DarcLib
  eng/update-dependencies/update-dependencies.csproj
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Get running local Git commands with DarcLib
  eng/update-dependencies/Program.cs
  eng/update-dependencies/Sync/SyncInternalReleaseCommand.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add setup for tests
  Microsoft.DotNet.Docker.slnx
  eng/update-dependencies/Sync/SyncInternalReleaseCommand.cs
  tests/UpdateDependencies.Tests/SyncInternalReleaseTests.cs
  tests/UpdateDependencies.Tests/UpdateDependencies.Tests.csproj
  tests/UpdateDependencies.Tests/xunit.runner.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Implement fast-forwarding case
  eng/update-dependencies/Sync/DarcLibExtensions.cs
  eng/update-dependencies/Sync/SyncInternalReleaseCommand.cs
  tests/UpdateDependencies.Tests/SyncInternalReleaseTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add integration tests with real git repo
  eng/update-dependencies/Sync/DetachedHeadException.cs
  eng/update-dependencies/Sync/IncorrectBranchException.cs
  eng/update-dependencies/Sync/SyncInternalReleaseCommand.cs
  eng/update-dependencies/Sync/SyncInternalReleaseOptions.cs
  tests/UpdateDependencies.Tests/SyncInternalReleaseIntegrationTests.cs
  tests/UpdateDependencies.Tests/SyncInternalReleaseTests.cs
  tests/UpdateDependencies.Tests/TempRepo.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove unused commented out code
  eng/update-dependencies/Program.cs
  eng/update-dependencies/Sync/SyncInternalReleaseCommand.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Move all tests to integration-style tests
  eng/update-dependencies/Sync/DarcLibExtensions.cs
  tests/UpdateDependencies.Tests/SyncInternalReleaseIntegrationTests.cs
  tests/UpdateDependencies.Tests/SyncInternalReleaseTests.cs
  tests/UpdateDependencies.Tests/UpdateDependencies.Tests.csproj
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Replace remaining Assert calls with Shouldly assertions
  tests/UpdateDependencies.Tests/SyncInternalReleaseIntegrationTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add Shouldly to test project global usings
  tests/UpdateDependencies.Tests/SyncInternalReleaseIntegrationTests.cs
  tests/UpdateDependencies.Tests/UpdateDependencies.Tests.csproj
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Move static repo methods to extension methods for tests
  tests/UpdateDependencies.Tests/RepoExtensions.cs
  tests/UpdateDependencies.Tests/SyncInternalReleaseIntegrationTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Rename extension method for initializing repo
  tests/UpdateDependencies.Tests/RepoExtensions.cs
  tests/UpdateDependencies.Tests/SyncInternalReleaseIntegrationTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

resolve merge conflict
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update remaining PowerShell 7.5.3 checksums
  manifest.versions.json
  src/sdk/9.0/alpine3.21/amd64/Dockerfile
  src/sdk/9.0/alpine3.22/amd64/Dockerfile
  src/sdk/9.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/9.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/9.0/bookworm-slim/amd64/Dockerfile
  src/sdk/9.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/9.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/9.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/9.0/noble/amd64/Dockerfile
  src/sdk/9.0/noble/arm32v7/Dockerfile
  src/sdk/9.0/noble/arm64v8/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2025/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from syft
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update syft to v1.33.0 (#6670)
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update .NET 9 SDK PowerShell version to 7.5.3 (#6660)
  manifest.versions.json
  src/sdk/9.0/alpine3.21/amd64/Dockerfile
  src/sdk/9.0/alpine3.22/amd64/Dockerfile
  src/sdk/9.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/9.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/9.0/bookworm-slim/amd64/Dockerfile
  src/sdk/9.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/9.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/9.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/9.0/noble/amd64/Dockerfile
  src/sdk/9.0/noble/arm32v7/Dockerfile
  src/sdk/9.0/noble/arm64v8/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2025/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add from-component command and interface for updating arbitrary tools
  CONTRIBUTING.md
  eng/update-dependencies/BaseUrlUpdater.cs
  eng/update-dependencies/ChiselVersionSource.cs
  eng/update-dependencies/ComponentVersionChannel.cs
  eng/update-dependencies/ComponentVersionInfo.cs
  eng/update-dependencies/DependencyInjectionExtensions.cs
  eng/update-dependencies/EmptyDependencyUpdater.cs
  eng/update-dependencies/FromComponentCommand.cs
  eng/update-dependencies/FromComponentOptions.cs
  eng/update-dependencies/IDependencyVersionSource.cs
  eng/update-dependencies/Program.cs
  eng/update-dependencies/README.md
  eng/update-dependencies/ServiceCollectionExtensions.cs
  eng/update-dependencies/SpecificCommand.cs
  eng/update-dependencies/VersionUpdater.cs
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Inventory drift
  es-metadata.yml
Due: eng/pipelines/dotnet-core-size-validation-pr.yml

Onboard to inventory-as-code (#6677)
  es-metadata.yml
Due: eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix error message formatting
  eng/update-dependencies/FromComponentCommand.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update common Docker engineering infrastructure with latest (#6678)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix link to McrTagsMetadataGenerator in release template
  .github/ISSUE_TEMPLATE/releases/new-distro-release.md
Due: none

Fix link to McrTagsMetadataGenerator in release template (#6679)
  .github/ISSUE_TEMPLATE/releases/new-distro-release.md
Due: none

Add interface for updating arbitrary image components to update-dependencies tool (#6672)
  CONTRIBUTING.md
  eng/update-dependencies/BaseUrlUpdater.cs
  eng/update-dependencies/ChiselVersionSource.cs
  eng/update-dependencies/ComponentVersionChannel.cs
  eng/update-dependencies/ComponentVersionInfo.cs
  eng/update-dependencies/DependencyInjectionExtensions.cs
  eng/update-dependencies/EmptyDependencyUpdater.cs
  eng/update-dependencies/FromComponentCommand.cs
  eng/update-dependencies/FromComponentOptions.cs
  eng/update-dependencies/IDependencyVersionSource.cs
  eng/update-dependencies/Program.cs
  eng/update-dependencies/README.md
  eng/update-dependencies/ServiceCollectionExtensions.cs
  eng/update-dependencies/SpecificCommand.cs
  eng/update-dependencies/VersionUpdater.cs
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml
