Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

eng/pipelines/dotnet-core-nightly-pr.yml:

trigger: none
pr:
  branches:
    include:
    - nightly
  paths:
    include:
    - manifest.json
    - manifest.versions.json
    - eng/*
    - src/*
    - tests/*

resources:
  repositories:
  - repository: VersionsRepo
    type: github
    endpoint: dotnet
    name: dotnet/versions

variables:
- template: variables/common.yml
- name: manifest
  value: manifest.json
stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    buildMatrixType: platformVersionedOs
    buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly.yml:

trigger:
  batch: true
  branches:
    include:
    - nightly
  paths:
    include:
    - manifest.json
    - manifest.versions.json
    - src/*
pr: none

variables:
- template: variables/core.yml
- name: officialBranches
  value: "'nightly'"

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    testMatrixCustomBuildLegGroupArgs: --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-samples-pr.yml:

trigger: none
pr:
  branches:
    include:
    - master
    - nightly
  paths:
    include:
    - manifest.samples.json
    - eng/*
    - samples/*
    - tests/*

resources:
  repositories:
  - repository: VersionsRepo
    type: github
    endpoint: dotnet
    name: dotnet/versions

variables:
- template: variables/common.yml
- name: manifest
  value: manifest.samples.json
- name: repoTestArgs
  value: -TestCategories sample
- name: imageInfoVariant
  value: "-samples"
stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    buildMatrixType: platformVersionedOs
    buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build

eng/pipelines/dotnet-core-size-validation-pr.yml:

trigger: none
pr:
  branches:
    include:
    - nightly
  paths:
    exclude:
    - .github/*
    - documentation/*
    - README*
    - samples/*

variables:
- template: variables/common.yml

jobs:
- template: ../common/templates/jobs/validate-image-sizes.yml

eng/pipelines/dotnet-monitor.yml:

trigger:
  batch: true
  branches:
    include:
    - nightly
  paths:
    include:
    - monitor/*
    - manifest.monitor.json
pr:
  branches:
    include:
    - master
    - nightly
  paths:
    include:
    - eng/*
    - monitor/*
    - manifest.monitor.json
variables:
- template: variables/common.yml
- name: manifest
  value: manifest.monitor.json
- name: imageInfoVariant
  value: "-monitor"
stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    ${{ if eq(variables['System.TeamProject'], 'public') }}:
      buildMatrixType: platformVersionedOs

[nightly] Update common Docker engineering infrastructure with latest (#2294)
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/validate-branch.yml
  eng/common/templates/variables/common.yml
  eng/pipelines/dotnet-core-nightly.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Define multi-arch tags for each Linux distro (#2288)
  README.aspnet.preview.md
  README.runtime-deps.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  eng/common/templates/variables/docker-images.yml
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/5.0/Dockerfile.windowsservercore
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1903/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2004/amd64/Dockerfile
  src/aspnet/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update Image Builder
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Define multi-arch tags for each Linux distro (#2297)
  README.aspnet.preview.md
  README.runtime-deps.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  eng/common/templates/variables/docker-images.yml
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.alpine
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.linux
  eng/dockerfile-templates/runtime/5.0/Dockerfile.alpine
  eng/dockerfile-templates/runtime/5.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/5.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/5.0/Dockerfile.linux
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  eng/pipelines/dotnet-core-nightly-pr.yml
  manifest.json
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/amd64/Dockerfile
  src/runtime/5.0/buster-slim/amd64/Dockerfile
  src/runtime/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove 5.0 Dockerfiles for Windows 1809 and 1903
  README.aspnet.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1903/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.windows.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/diagnostics
  README.aspnet.preview.md
  README.runtime-deps.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/validate-branch.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.alpine
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.linux
  eng/dockerfile-templates/runtime/5.0/Dockerfile.alpine
  eng/dockerfile-templates/runtime/5.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/5.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/5.0/Dockerfile.linux
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml
  eng/pipelines/dotnet-core-nightly.yml
  manifest.json
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/amd64/Dockerfile
  src/runtime/5.0/buster-slim/amd64/Dockerfile
  src/runtime/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Define more granular PR pipelines
  eng/pipelines/dotnet-core-nightly-pr-2.1.yml
  eng/pipelines/dotnet-core-nightly-pr-3.1.yml
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml
  eng/pipelines/dotnet-core-pr-2.1.yml
  eng/pipelines/dotnet-core-pr-3.1.yml
  eng/pipelines/dotnet-core-pr-5.0.yml
  eng/pipelines/dotnet-core-pr-monitor.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove manifest.versions.json from trigger
  eng/pipelines/dotnet-core-nightly-pr-2.1.yml
  eng/pipelines/dotnet-core-nightly-pr-3.1.yml
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml
  eng/pipelines/dotnet-core-pr-2.1.yml
  eng/pipelines/dotnet-core-pr-3.1.yml
  eng/pipelines/dotnet-core-pr-5.0.yml
  eng/pipelines/dotnet-core-pr-monitor.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest (#2299)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove 5.0 Dockerfiles for Windows 1809 and 1903 (#2298)
  README.aspnet.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1903/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.windows.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/diagnostics
  README.aspnet.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  eng/common/templates/variables/docker-images.yml
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  manifest.versions.json
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1903/amd64/Dockerfile
  src/monitor/5.0/alpine/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.windows.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/diagnostics
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add back nanoserver-1809 support for 5.0
  README.aspnet.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.windows.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest (#2300)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Share runtime-deps between 3.1 and 5.0 (#2260)
  .github/ISSUE_TEMPLATE/releases/net-core-release.md
  README.runtime-deps.preview.md
  eng/dockerfile-templates/runtime-deps/5.0/Dockerfile.alpine
  eng/dockerfile-templates/runtime-deps/5.0/Dockerfile.linux
  manifest.json
  src/runtime-deps/5.0/alpine3.12/amd64/Dockerfile
  src/runtime-deps/5.0/alpine3.12/arm64v8/Dockerfile
  src/runtime-deps/5.0/buster-slim/amd64/Dockerfile
  src/runtime-deps/5.0/buster-slim/arm32v7/Dockerfile
  src/runtime-deps/5.0/buster-slim/arm64v8/Dockerfile
  src/runtime-deps/5.0/focal/amd64/Dockerfile
  src/runtime-deps/5.0/focal/arm32v7/Dockerfile
  src/runtime-deps/5.0/focal/arm64v8/Dockerfile
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add back nanoserver-1809 support for 5.0 (#2304)
  README.aspnet.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.windows.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Pipeline to validate PR without caching (#2296)
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Define multi-arch tags for each Linux distro (#2297)
  README.aspnet.preview.md
  README.runtime-deps.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.alpine
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.linux
  eng/dockerfile-templates/runtime/5.0/Dockerfile.alpine
  eng/dockerfile-templates/runtime/5.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/5.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/5.0/Dockerfile.linux
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  eng/pipelines/dotnet-core-nightly-pr.yml
  manifest.json
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/amd64/Dockerfile
  src/runtime/5.0/buster-slim/amd64/Dockerfile
  src/runtime/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update PowerShell Preview to 7.1.0-rc.1 (#2283)
  manifest.versions.json
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update 5.0 Dockerfiles to RC2
  README.aspnet.preview.md
  README.runtime-deps.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  manifest.versions.json
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/alpine3.12/arm64v8/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/arm32v7/Dockerfile
  src/aspnet/5.0/buster-slim/arm64v8/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/aspnet/5.0/focal/arm32v7/Dockerfile
  src/aspnet/5.0/focal/arm64v8/Dockerfile
  src/aspnet/5.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2004/amd64/Dockerfile
  src/aspnet/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/arm64v8/Dockerfile
  src/runtime/5.0/buster-slim/amd64/Dockerfile
  src/runtime/5.0/buster-slim/arm32v7/Dockerfile
  src/runtime/5.0/buster-slim/arm64v8/Dockerfile
  src/runtime/5.0/focal/amd64/Dockerfile
  src/runtime/5.0/focal/arm32v7/Dockerfile
  src/runtime/5.0/focal/arm64v8/Dockerfile
  src/runtime/5.0/nanoserver-1909/amd64/Dockerfile
  src/runtime/5.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/diagnostics (#2305)
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update image size baselines (#2258)
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update Focal ARM32 image size baselines (#2172)
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

2.1 servicing update
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  manifest.versions.json
  src/aspnet/2.1/alpine3.12/amd64/Dockerfile
  src/aspnet/2.1/bionic/amd64/Dockerfile
  src/aspnet/2.1/bionic/arm32v7/Dockerfile
  src/aspnet/2.1/focal/amd64/Dockerfile
  src/aspnet/2.1/focal/arm32v7/Dockerfile
  src/aspnet/2.1/nanoserver-1809/amd64/Dockerfile
  src/aspnet/2.1/nanoserver-1903/amd64/Dockerfile
  src/aspnet/2.1/nanoserver-1909/amd64/Dockerfile
  src/aspnet/2.1/nanoserver-2004/amd64/Dockerfile
  src/aspnet/2.1/stretch-slim/amd64/Dockerfile
  src/aspnet/2.1/stretch-slim/arm32v7/Dockerfile
  src/runtime/2.1/alpine3.12/amd64/Dockerfile
  src/runtime/2.1/bionic/amd64/Dockerfile
  src/runtime/2.1/bionic/arm32v7/Dockerfile
  src/runtime/2.1/focal/amd64/Dockerfile
  src/runtime/2.1/focal/arm32v7/Dockerfile
  src/runtime/2.1/nanoserver-1809/amd64/Dockerfile
  src/runtime/2.1/nanoserver-1903/amd64/Dockerfile
  src/runtime/2.1/nanoserver-1909/amd64/Dockerfile
  src/runtime/2.1/nanoserver-2004/amd64/Dockerfile
  src/runtime/2.1/stretch-slim/amd64/Dockerfile
  src/runtime/2.1/stretch-slim/arm32v7/Dockerfile
  src/sdk/2.1/alpine3.12/amd64/Dockerfile
  src/sdk/2.1/bionic/amd64/Dockerfile
  src/sdk/2.1/bionic/arm32v7/Dockerfile
  src/sdk/2.1/focal/amd64/Dockerfile
  src/sdk/2.1/focal/arm32v7/Dockerfile
  src/sdk/2.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/2.1/nanoserver-1903/amd64/Dockerfile
  src/sdk/2.1/nanoserver-1909/amd64/Dockerfile
  src/sdk/2.1/nanoserver-2004/amd64/Dockerfile
  src/sdk/2.1/stretch/amd64/Dockerfile
  src/sdk/2.1/stretch/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update PT release template
  .github/ISSUE_TEMPLATE/releases/patch-tuesday-release.md
Due: none

Update PT release template (#2309)
  .github/ISSUE_TEMPLATE/releases/patch-tuesday-release.md
Due: none

Update version resolution logic
  eng/get-drop-versions.sh
  eng/pipelines/update-dependencies.yml
  eng/update-dependencies/DockerfileShaUpdater.cs
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update serviced versions
  src/aspnet/2.1/nanoserver-2009/amd64/Dockerfile
  src/aspnet/3.1/nanoserver-2009/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2009/amd64/Dockerfile
  src/runtime/2.1/nanoserver-2009/amd64/Dockerfile
  src/runtime/3.1/nanoserver-2009/amd64/Dockerfile
  src/runtime/5.0/nanoserver-2009/amd64/Dockerfile
  src/sdk/2.1/nanoserver-2009/amd64/Dockerfile
  src/sdk/3.1/nanoserver-2009/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2009/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update readmes
  README.aspnet.md
  README.aspnet.preview.md
  README.runtime.md
  README.runtime.preview.md
  README.sdk.md
  README.sdk.preview.md
Due: none

Enhance issue templates and issue choices
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  README.aspnet.md
  README.aspnet.preview.md
  README.md
  README.runtime-deps.md
  README.runtime-deps.preview.md
  README.runtime.md
  README.runtime.preview.md
  README.samples.md
  README.sdk.md
  README.sdk.preview.md
  eng/readme-templates/README.md
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove unused documentationGroups from the manifest
  manifest.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

wip using .net5.0 check with ssl
  samples/aspnetapp/Dockerfile
  samples/aspnetapp/Dockerfile.alpine-x64
  samples/aspnetapp/Dockerfile.alpine-x64-slim
  samples/aspnetapp/Dockerfile.debian-arm64
  samples/aspnetapp/Dockerfile.debian-x64
  samples/aspnetapp/Dockerfile.debian-x64-slim
  samples/aspnetapp/Dockerfile.nanoserver-x64
  samples/aspnetapp/Dockerfile.nanoserver-x64-slim
  samples/aspnetapp/Dockerfile.ubuntu-x64
  samples/aspnetapp/aspnetapp/aspnetapp.csproj
Due: eng/pipelines/dotnet-core-samples-pr.yml
