Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

Path conditions:
  eng/pipelines/dotnet-core-internal-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json

Remove UID ENV
  samples/aspnetapp/Dockerfile.alpine-non-root
Due: eng/pipelines/dotnet-core-samples-pr.yml

Add LoadBalancer example
  samples/kubernetes/README.md
  samples/kubernetes/hello-cloud-dotnet/README.md
  samples/kubernetes/hello-cloud-dotnet/hello-cloud-dotnet.yaml
Due: eng/pipelines/dotnet-core-samples-pr.yml

Add LoadBalancer examples
  samples/kubernetes/README.md
  samples/kubernetes/basic-dotnet/README.md
  samples/kubernetes/basic-dotnet/basic-dotnet-loadbalancer.yaml
  samples/kubernetes/basic-dotnet/basic-dotnet-nodeport.yaml
  samples/kubernetes/hello-cloud-dotnet/README.md
  samples/kubernetes/hello-dotnet/README.md
  samples/kubernetes/hello-dotnet/hello-dotnet-loadbalancer.yaml
  samples/kubernetes/hello-dotnet/hello-dotnet-nodeport.yaml
Due: eng/pipelines/dotnet-core-samples-pr.yml

Remove multi-platform tags for Windows (#4536)
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update Linux Dockerfiles
  eng/dockerfile-templates/sdk/Dockerfile.linux
  src/sdk/8.0/alpine3.17/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Enabling PowerShell-based tests
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Get PowerShell files copied over for Nano Server
  eng/dockerfile-templates/sdk/Dockerfile.windows
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Re-enable PowerShell in SDK images and update to latest version (#4491)
  eng/dockerfile-templates/sdk/Dockerfile.linux
  eng/dockerfile-templates/sdk/Dockerfile.windows
  eng/dockerfile-templates/sdk/Dockerfile.windows.install-components
  manifest.versions.json
  src/sdk/8.0/alpine3.17/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add manual deployment README
  samples/kubernetes/README.md
  samples/kubernetes/basic-dotnet/README.md
  samples/kubernetes/basic-dotnet/basic-dotnet-loadbalancer.yaml
  samples/kubernetes/basic-dotnet/basic-dotnet-nodeport.yaml
  samples/kubernetes/hello-dotnet/README.md
  samples/kubernetes/manual-deployment/README.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update URL
  samples/kubernetes/graceful-shutdown/README.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Introduce HostName to EnvironmentInfo. Remove unused variable.
  samples/aspnetapp/aspnetapp/EnvironmentInfo.cs
Due: eng/pipelines/dotnet-core-samples-pr.yml

Remove Alpine 3.16 Dockerfiles (#4505)
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  manifest.versions.json
  src/aspnet/6.0/alpine3.16/amd64/Dockerfile
  src/aspnet/6.0/alpine3.16/arm32v7/Dockerfile
  src/aspnet/6.0/alpine3.16/arm64v8/Dockerfile
  src/runtime-deps/6.0/alpine3.16/amd64/Dockerfile
  src/runtime-deps/6.0/alpine3.16/arm32v7/Dockerfile
  src/runtime-deps/6.0/alpine3.16/arm64v8/Dockerfile
  src/runtime/6.0/alpine3.16/amd64/Dockerfile
  src/runtime/6.0/alpine3.16/arm32v7/Dockerfile
  src/runtime/6.0/alpine3.16/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add ENV variable for app user ID (#4508)
  eng/dockerfile-templates/Dockerfile.common-dotnet-envs
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner
  src/runtime-deps/8.0/alpine3.17/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.17/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.17/arm64v8/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/amd64/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/arm32v7/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/arm64v8/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy/amd64/Dockerfile
  src/runtime-deps/8.0/jammy/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove MinGit PATH for Windows .NET 6.0 SDK images (#4528)
  eng/dockerfile-templates/sdk/Dockerfile.windows
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix update-dependencies file formatting exceptions (#4531)
  eng/update-dependencies/DockerfileShaUpdater.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Updates for .NET Monitor 7.1
  README.monitor.md
  manifest.versions.json
  src/monitor/7.1/alpine/amd64/Dockerfile
  src/monitor/7.1/alpine/arm64v8/Dockerfile
  src/monitor/7.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.1/cbl-mariner/amd64/Dockerfile
  src/monitor/7.1/cbl-mariner/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Updates for .NET Monitor 8.0 Preview
  README.monitor.md
  manifest.versions.json
  src/monitor/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Introduce DelayedShutdownHostLifetime
  samples/kubernetes/graceful-shutdown/graceful-shutdown.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Address feedback from Rich
  samples/kubernetes/graceful-shutdown/graceful-shutdown.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Add printing HostName
  samples/dotnetapp/Program.cs
Due: eng/pipelines/dotnet-core-samples-pr.yml

Add info on using HostOptions.ShutdownTimeout
  samples/kubernetes/graceful-shutdown/graceful-shutdown.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Apply suggestions from code review
  samples/kubernetes/README.md
  samples/kubernetes/non-root-user/README.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Updating wording
  samples/kubernetes/README.md
  samples/kubernetes/dotnet-monitor/README.md
  samples/kubernetes/dotnet-monitor/load-test.yaml
  samples/kubernetes/dotnet-monitor/test.yaml
  samples/kubernetes/hello-dotnet/README.md
  samples/kubernetes/hello-dotnet/hello-dotnet.yaml
  samples/kubernetes/manual-deployment/README.md
  samples/kubernetes/non-root-user/README.md
  samples/kubernetes/replicas-and-health/README.md
  samples/kubernetes/resource-limits/README.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update per feedback
  samples/kubernetes/README.md
  samples/kubernetes/replicas-and-health/README.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update
  samples/kubernetes/dotnet-monitor/bombardier.yaml
  samples/kubernetes/dotnet-monitor/dotnet-monitor.yaml
  samples/kubernetes/dotnet-monitor/test.yaml
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update
  samples/kubernetes/dotnet-monitor/bombardier.yaml
  samples/kubernetes/dotnet-monitor/monitor.yaml
Due: eng/pipelines/dotnet-core-samples-pr.yml

Add dotnet-monitor sample
  samples/kubernetes/dotnet-monitor/README.md
  samples/kubernetes/dotnet-monitor/dotnet-monitor.yaml
  samples/kubernetes/dotnet-monitor/monitor.yaml
  samples/kubernetes/non-root-user/non-root-user.yaml
  samples/kubernetes/replicas-and-health/replica-health.yml
  samples/kubernetes/resource-limits/resource-limits.yaml
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update bombardier.yaml
  samples/kubernetes/dotnet-monitor/bombardier.yaml
Due: eng/pipelines/dotnet-core-samples-pr.yml

Add Prometheus manifest
  samples/kubernetes/dotnet-monitor/README.md
  samples/kubernetes/dotnet-monitor/dotnet-monitor.yaml
  samples/kubernetes/dotnet-monitor/load-test.yaml
  samples/kubernetes/dotnet-monitor/prometheus-app.yaml
  samples/kubernetes/hello-dotnet/hello-dotnet.yaml
  samples/kubernetes/non-root-user/non-root-user.yaml
  samples/kubernetes/replicas-and-health/replica-health.yml
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update Dockerfile.alpine-non-root
  samples/aspnetapp/Dockerfile.alpine-non-root
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update README text
  samples/kubernetes/dotnet-monitor/README.md
  samples/kubernetes/non-root-user/README.md
  samples/kubernetes/replicas-and-health/README.md
  samples/kubernetes/resource-limits/README.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update Dockerfile.alpine-non-root (#4556)
  samples/aspnetapp/Dockerfile.alpine-non-root
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update samples/kubernetes/graceful-shutdown/README.md
  samples/kubernetes/graceful-shutdown/README.md
Due: eng/pipelines/dotnet-core-samples-pr.yml
