Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

Path conditions:
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json

[nightly] Update common Docker engineering infrastructure with latest (#3820)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/jobs/test-images-windows-client.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/steps/set-dry-run.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/steps/validate-branch.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/installer (#3818)
  manifest.versions.json
  src/aspnet/7.0/alpine3.16/amd64/Dockerfile
  src/aspnet/7.0/alpine3.16/arm32v7/Dockerfile
  src/aspnet/7.0/alpine3.16/arm64v8/Dockerfile
  src/aspnet/7.0/bullseye-slim/amd64/Dockerfile
  src/aspnet/7.0/bullseye-slim/arm32v7/Dockerfile
  src/aspnet/7.0/bullseye-slim/arm64v8/Dockerfile
  src/aspnet/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/aspnet/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/aspnet/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/aspnet/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/aspnet/7.0/jammy/amd64/Dockerfile
  src/aspnet/7.0/jammy/arm32v7/Dockerfile
  src/aspnet/7.0/jammy/arm64v8/Dockerfile
  src/aspnet/7.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/aspnet/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/aspnet/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/alpine3.16/amd64/Dockerfile
  src/sdk/7.0/alpine3.16/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.16/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Only use secret variable groups for internal builds
  eng/pipelines/variables/core.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[main] Update common Docker engineering infrastructure with latest (#3821)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/jobs/test-images-windows-client.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/steps/set-dry-run.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/steps/validate-branch.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Pipeline support for internal .NET builds (#3813)
  eng/pipelines/dotnet-core-nightly.yml
  eng/pipelines/stages/build-test-publish-repo.yml
  eng/pipelines/steps/set-imagebuilder-build-args-var.yml
  eng/pipelines/variables/core.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/7.0
  manifest.versions.json
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/6.2
  README.monitor.md
  manifest.versions.json
  src/monitor/6.2/alpine/amd64/Dockerfile
  src/monitor/6.2/alpine/arm64v8/Dockerfile
  src/monitor/6.2/cbl-mariner/amd64/Dockerfile
  src/monitor/6.2/cbl-mariner/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/7.0 (#3824)
  manifest.versions.json
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Mariner RPM updates
  eng/Set-DotnetVersions.ps1
  eng/dockerfile-templates/aspnet/Dockerfile.linux.install-aspnet
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime-deps/Dockerfile.download-runtime-deps-pkg
  eng/dockerfile-templates/runtime/Dockerfile.linux
  eng/dockerfile-templates/runtime/Dockerfile.linux.install-runtime
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-sdk
  eng/update-dependencies/DockerfileShaUpdater.cs
  manifest.versions.json
  src/aspnet/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Regen readmes after merge from main
  .mar/portal/README.runtime-deps.portal.md
Due: eng/pipelines/dotnet-core-size-validation-pr.yml

Change 7.0 Preview 5 SDK to final build
  manifest.versions.json
  src/sdk/7.0/alpine3.16/amd64/Dockerfile
  src/sdk/7.0/alpine3.16/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.16/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix broken links in docs (#3763)
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
  .mar/portal/README.runtime-deps.portal.md
  README.runtime-deps.md
  documentation/scenarios/installing-dotnet.md
  documentation/supported-tags.md
  eng/readme-templates/Use.runtime-deps.md
  samples/run-tests-in-sdk-container.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

.NET Monitor 6.1.2 servicing
  README.monitor.md
  manifest.versions.json
  src/monitor/6.1/alpine/amd64/Dockerfile
  src/monitor/6.1/cbl-mariner/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/6.2 (#3827)
  README.monitor.md
  manifest.versions.json
  src/monitor/6.2/alpine/amd64/Dockerfile
  src/monitor/6.2/alpine/arm64v8/Dockerfile
  src/monitor/6.2/cbl-mariner/amd64/Dockerfile
  src/monitor/6.2/cbl-mariner/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Set version source name in Set-DotnetVersions.ps1 script
  eng/Set-DotnetVersions.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Move 6.2 tag to release
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update host-aspnetcore-https.md
  samples/host-aspnetcore-https.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

.NET Monitor 6.1.2 servicing (#3828)
  README.monitor.md
  manifest.versions.json
  src/monitor/6.1/alpine/amd64/Dockerfile
  src/monitor/6.1/cbl-mariner/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/installer
  manifest.versions.json
  src/sdk/7.0/alpine3.16/amd64/Dockerfile
  src/sdk/7.0/alpine3.16/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.16/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Move 6.2 tag to release (#3830)
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/installer (#3831)
  manifest.versions.json
  src/sdk/7.0/alpine3.16/amd64/Dockerfile
  src/sdk/7.0/alpine3.16/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.16/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Reduce Mariner distroless image size
  eng/dockerfile-templates/runtime-deps/Dockerfile
  src/runtime-deps/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Reduce Mariner distroless image size (#3833)
  eng/dockerfile-templates/runtime-deps/Dockerfile
  src/runtime-deps/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Mariner RPM updates (#3825)
  eng/Set-DotnetVersions.ps1
  eng/dockerfile-templates/aspnet/Dockerfile.linux.install-aspnet
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime-deps/Dockerfile.download-runtime-deps-pkg
  eng/dockerfile-templates/runtime/Dockerfile.linux
  eng/dockerfile-templates/runtime/Dockerfile.linux.install-runtime
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-sdk
  eng/update-dependencies/DockerfileShaUpdater.cs
  manifest.versions.json
  src/aspnet/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Set default port for distroless Mariner to a non-privileged port
  eng/dockerfile-templates/Dockerfile.common-dotnet-envs
  src/runtime-deps/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.linux
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.windows
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Use correct syntax for port variable in Windows Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.windows
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add validation using parameter sets
  eng/Set-DotnetVersions.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove unneeded variable def
  eng/Set-DotnetVersions.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Test support for internal .NET builds (#3754)
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/Config.cs
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/EnvironmentVariableInfo.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.linux
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.windows
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update dependencies fixes (#3773)
  eng/update-dependencies/BaseUrlUpdater.cs
  eng/update-dependencies/ManifestHelper.cs
  eng/update-dependencies/NuGetConfigUpdater.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add .NET Monitor 6.2 (#3573)
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  manifest.versions.json
  src/monitor/6.2/alpine/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[Monitor] Add mariner2.0 AMD64 to 6.2 (#3600)
  manifest.json
  src/monitor/6.2/cbl-mariner/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[Dotnet Monitor] Add Alpine Arm64 to 6.2 (#3604)
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  src/monitor/6.2/alpine/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add dotnet-monitor 6.2 image for cbl-mariner 2.0 arm64v8 (#3639)
  manifest.json
  src/monitor/6.2/cbl-mariner/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[Monitor] Update 6.1 cbl-mariner images from 1.0 to 2.0 (#3775)
  manifest.json
  src/monitor/6.1/cbl-mariner/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix update-dependencies tool for optional sdk (#3776)
  eng/update-dependencies/NuGetConfigUpdater.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Updates for PowerShell 7.0.11, 7.2.4 (#3779)
  manifest.versions.json
  src/sdk/3.1/alpine3.14/amd64/Dockerfile
  src/sdk/3.1/alpine3.15/amd64/Dockerfile
  src/sdk/3.1/bionic/amd64/Dockerfile
  src/sdk/3.1/bionic/arm32v7/Dockerfile
  src/sdk/3.1/bionic/arm64v8/Dockerfile
  src/sdk/3.1/bullseye/amd64/Dockerfile
  src/sdk/3.1/bullseye/arm32v7/Dockerfile
  src/sdk/3.1/bullseye/arm64v8/Dockerfile
  src/sdk/3.1/buster/amd64/Dockerfile
  src/sdk/3.1/buster/arm32v7/Dockerfile
  src/sdk/3.1/buster/arm64v8/Dockerfile
  src/sdk/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/3.1/focal/amd64/Dockerfile
  src/sdk/3.1/focal/arm32v7/Dockerfile
  src/sdk/3.1/focal/arm64v8/Dockerfile
  src/sdk/3.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/3.1/nanoserver-20H2/amd64/Dockerfile
  src/sdk/3.1/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/alpine3.15/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm32v7/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml
