Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

Path conditions:
  eng/pipelines/dotnet-core-internal-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json

Fix image size paths
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add 9.0 to Featured Tags
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.sdk.portal.md
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/readme-templates/FeaturedTags.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add checklist item for adding new .NET version to featured tags
  .github/ISSUE_TEMPLATE/releases/dotnet-release-lifecycle.md
Due: none

[nightly] Update dependencies from dotnet/installer
  manifest.versions.json
  src/sdk/9.0/alpine3.19/amd64/Dockerfile
  src/sdk/9.0/alpine3.19/arm32v7/Dockerfile
  src/sdk/9.0/alpine3.19/arm64v8/Dockerfile
  src/sdk/9.0/bookworm-slim/amd64/Dockerfile
  src/sdk/9.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/9.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/9.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/9.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/9.0/jammy/amd64/Dockerfile
  src/sdk/9.0/jammy/arm32v7/Dockerfile
  src/sdk/9.0/jammy/arm64v8/Dockerfile
  src/sdk/9.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Correct 9.0 tag
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.sdk.portal.md
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/readme-templates/FeaturedTags.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix readme host for aspire
  README.md
  eng/readme-templates/README.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix Chiseled guidance on writing to home directory
  documentation/ubuntu-chiseled.md
Due: none

Add checklist item for adding new .NET version to featured tags (#5158)
  .github/ISSUE_TEMPLATE/releases/dotnet-release-lifecycle.md
Due: none

Update dotnet-monitor 8.0 (#5150)
  README.monitor-base.md
  README.monitor.md
  manifest.versions.json
  src/monitor-base/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/installer (#5159)
  manifest.versions.json
  src/sdk/9.0/alpine3.19/amd64/Dockerfile
  src/sdk/9.0/alpine3.19/arm32v7/Dockerfile
  src/sdk/9.0/alpine3.19/arm64v8/Dockerfile
  src/sdk/9.0/bookworm-slim/amd64/Dockerfile
  src/sdk/9.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/9.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/9.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/9.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/9.0/jammy/amd64/Dockerfile
  src/sdk/9.0/jammy/arm32v7/Dockerfile
  src/sdk/9.0/jammy/arm64v8/Dockerfile
  src/sdk/9.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add 9.0 to Featured Tags (#5157)
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.sdk.portal.md
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/readme-templates/FeaturedTags.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add dotnet monitor 9-preview1
  README.monitor-base.md
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-base-tags.yml
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  manifest.versions.json
  src/monitor-base/9.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/9.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/9.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/9.0/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/9.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/9.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/9.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/9.0/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

PR Feedback
  README.monitor-base.md
  README.monitor.md
  manifest.json
  src/monitor/9.0/cbl-mariner-distroless/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update 9.0 image sizes
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/Validate-ImageSize.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add tests
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Revert script changes
  tests/performance/Validate-ImageSize.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add aspire to codeowners
  CODEOWNERS
Due: eng/pipelines/dotnet-core-size-validation-pr.yml

Add more images to globalization doc
  samples/enable-globalization.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Apply suggestion from review
  samples/enable-globalization.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Add Aspire Dashboard container images (#5148)
  .mar/portal/README.aspire-dashboard.portal.md
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.monitor.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.sdk.portal.md
  CODEOWNERS
  README.aspire-dashboard.md
  README.aspnet.md
  README.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/dockerfile-templates/Dockerfile.linux.distroless-mariner-installer-prereqs
  eng/dockerfile-templates/Dockerfile.linux.download-and-install
  eng/dockerfile-templates/Dockerfile.linux.download-file
  eng/dockerfile-templates/Dockerfile.linux.extract-zip
  eng/dockerfile-templates/Dockerfile.linux.install-files
  eng/dockerfile-templates/aspire-dashboard/Dockerfile.envs
  eng/dockerfile-templates/aspire-dashboard/Dockerfile.linux
  eng/dockerfile-templates/aspire-dashboard/Dockerfile.linux.install-aspire-dashboard
  eng/mcr-tags-metadata-templates/aspire-dashboard-tags.yml
  eng/readme-templates/About.aspire-dashboard.md
  eng/readme-templates/About.md
  eng/readme-templates/FeaturedTags.md
  eng/readme-templates/Get-GeneratedReadmes.ps1
  eng/readme-templates/README.md
  eng/readme-templates/RelatedRepos.md
  eng/readme-templates/Use.aspire-dashboard.md
  manifest.json
  manifest.versions.json
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add more images to globalization doc (#5161)
  samples/enable-globalization.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Fix Chiseled guidance on writing to home directory (#5160)
  documentation/ubuntu-chiseled.md
Due: none

Add dotnet monitor 9-preview1 (#5149)
  README.monitor-base.md
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-base-tags.yml
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  manifest.versions.json
  src/monitor-base/9.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/9.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/9.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/9.0/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/9.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/9.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/9.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/9.0/ubuntu-chiseled/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Use 0.0.0.0 URIs for Aspire Dashboard environment variables
  eng/dockerfile-templates/aspire-dashboard/Dockerfile.envs
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Regenerate Dockerfiles
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Use 0.0.0.0 URIs for Aspire Dashboard environment variables (#5165)
  eng/dockerfile-templates/aspire-dashboard/Dockerfile.envs
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add latest tag for aspire
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/9.0
  manifest.versions.json
  src/monitor-base/9.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/9.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/9.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/9.0/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/9.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/9.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/9.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/9.0/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/6.3
  manifest.versions.json
  src/monitor/6.3/alpine/amd64/Dockerfile
  src/monitor/6.3/alpine/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner/arm64v8/Dockerfile
  src/monitor/6.3/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/6.3/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/7.3
  manifest.versions.json
  src/monitor/7.3/alpine/amd64/Dockerfile
  src/monitor/7.3/alpine/arm64v8/Dockerfile
  src/monitor/7.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.3/cbl-mariner/amd64/Dockerfile
  src/monitor/7.3/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.3/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/7.3/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/8.0
  manifest.versions.json
  src/monitor-base/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update readmes
  README.aspire-dashboard.md
Due: none

Add latest tag to Aspire Dashboard images (#5166)
  README.aspire-dashboard.md
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove distro from aspire-dashboard tags
  README.aspire-dashboard.md
  eng/mcr-tags-metadata-templates/aspire-dashboard-tags.yml
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add Aspire Dashboard support to update-dependencies tooling
  eng/DependencyManagement.psm1
  eng/Get-AspireDropVersions.ps1
  eng/Get-Branch.ps1
  eng/Get-DropVersions.ps1
  eng/Get-IsStableBranding.ps1
  eng/Get-MonitorDropVersions.ps1
  eng/Set-DotnetVersions.ps1
  eng/dockerfile-templates/aspire-dashboard/Dockerfile.linux.install-aspire-dashboard
  eng/update-dependencies/DockerfileShaUpdater.cs
  eng/update-dependencies/ManifestHelper.cs
  manifest.versions.json
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove unused function
  eng/Get-DropVersions.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml
