Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

Path conditions:
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json

Split image scanning into arch-specific jobs
  eng/pipelines/cg-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

.NET Monitor: Get package from dotnetcli if stable product version
  eng/dockerfile-templates/monitor/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/installer (#3490)
  manifest.versions.json
  src/sdk/7.0/alpine3.15/amd64/Dockerfile
  src/sdk/7.0/alpine3.15/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.15/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/7.0/focal/amd64/Dockerfile
  src/sdk/7.0/focal/arm32v7/Dockerfile
  src/sdk/7.0/focal/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Split image scanning into arch-specific jobs (#3491)
  eng/pipelines/cg-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add .NET Monitor to set versions script.
  eng/Set-DotnetVersions.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update issue template
  .github/ISSUE_TEMPLATE/releases/dotnet-monitor-release.md
Due: none

Fix issue template
  .github/ISSUE_TEMPLATE/releases/dotnet-monitor-release.md
Due: none

Update .github/ISSUE_TEMPLATE/releases/dotnet-monitor-release.md
  .github/ISSUE_TEMPLATE/releases/dotnet-monitor-release.md
Due: none

.NET Monitor: Get package from dotnetcli if stable product version (#3492)
  eng/dockerfile-templates/monitor/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Rollback .NET Monitor 6.1.0 to use Alpine 3.14
  README.monitor.md
  manifest.json
  src/monitor/6.1/alpine/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add .NET Monitor to set versions script. (#3494)
  .github/ISSUE_TEMPLATE/releases/dotnet-monitor-release.md
  eng/Set-DotnetVersions.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/installer
  manifest.versions.json
  src/runtime-deps/7.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/7.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/7.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/runtime/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner1.0/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Rollback .NET Monitor 6.1.0 to use Alpine 3.14 (#3495)
  README.monitor.md
  manifest.json
  src/monitor/6.1/alpine/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Refactor sdk Dockerfile templates (#3474)
  eng/dockerfile-templates/Dockerfile.common-dotnet-envs
  eng/dockerfile-templates/Dockerfile.env.container
  eng/dockerfile-templates/Dockerfile.linux.download-and-install
  eng/dockerfile-templates/Dockerfile.linux.download-file
  eng/dockerfile-templates/Dockerfile.linux.extract-tarball
  eng/dockerfile-templates/Dockerfile.linux.install-deps
  eng/dockerfile-templates/Dockerfile.linux.install-rpms
  eng/dockerfile-templates/Dockerfile.windows.download-file
  eng/dockerfile-templates/Dockerfile.windows.extract-zip
  eng/dockerfile-templates/aspnet/Dockerfile.linux.install-aspnet
  eng/dockerfile-templates/aspnet/Dockerfile.windows.install-aspnet
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime/Dockerfile.linux
  eng/dockerfile-templates/runtime/Dockerfile.linux.install-runtime
  eng/dockerfile-templates/runtime/Dockerfile.windows.install-runtime
  eng/dockerfile-templates/sdk/3.1/Dockerfile.alpine
  eng/dockerfile-templates/sdk/3.1/Dockerfile.linux
  eng/dockerfile-templates/sdk/3.1/Dockerfile.mariner
  eng/dockerfile-templates/sdk/3.1/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/5.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/5.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/5.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/6.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/6.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/6.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/6.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/6.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/Dockerfile.envs
  eng/dockerfile-templates/sdk/Dockerfile.linux
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-powershell
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-sdk
  eng/dockerfile-templates/sdk/Dockerfile.windows
  eng/dockerfile-templates/sdk/Dockerfile.windows.first-run
  eng/dockerfile-templates/sdk/Dockerfile.windows.install-components
  eng/dockerfile-templates/sdk/Dockerfile.windows.install-powershell
  eng/dockerfile-templates/sdk/Dockerfile.windows.install-sdk
  eng/dockerfile-templates/sdk/Dockerfile.windows.set-powershell-path
  manifest.versions.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add dotnet-monitor 7.0 image (#3282)
  README.monitor.md
  eng/dockerfile-templates/monitor/7.0/Dockerfile.alpine
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  eng/readme-templates/README.md
  manifest.json
  manifest.versions.json
  src/monitor/7.0/alpine/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add .NET Monitor 6.1 Preview (#3424)
  README.monitor.md
  eng/dockerfile-templates/monitor/6.1/Dockerfile.alpine
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  eng/readme-templates/README.md
  manifest.json
  manifest.versions.json
  src/monitor/6.1/alpine/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Refactor .NET Monitor templates into single template (#3468)
  README.monitor.md
  eng/dockerfile-templates/monitor/6.0/Dockerfile.alpine
  eng/dockerfile-templates/monitor/6.1/Dockerfile.alpine
  eng/dockerfile-templates/monitor/7.0/Dockerfile.alpine
  eng/dockerfile-templates/monitor/Dockerfile
  manifest.json
  manifest.versions.json
  src/monitor/6.1/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

.NET Monitor: Use version variable if product and build are same (#3484)
  eng/dockerfile-templates/monitor/Dockerfile
  src/monitor/7.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update .NET Monitor featured tags (#3478)
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  eng/readme-templates/README.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove workaround to disable .NET 7 test scenarios (#3303)
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add alpine3.15 to test project
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add major-only version tags for .NET Monitor (#3426)
  README.monitor.md
  manifest.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update Alpine version for .NET Monitor 7
  README.monitor.md
  manifest.json
  src/monitor/7.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Revert "[nightly] Update dependencies from dotnet/installer (#3490)"
  manifest.versions.json
  src/sdk/7.0/alpine3.15/amd64/Dockerfile
  src/sdk/7.0/alpine3.15/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.15/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/7.0/focal/amd64/Dockerfile
  src/sdk/7.0/focal/arm32v7/Dockerfile
  src/sdk/7.0/focal/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update .NET Monitor for 6.1 release
  manifest.versions.json
  src/monitor/6.1/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update .NET Monitor for 7.0 P1 release
  manifest.versions.json
  src/monitor/7.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update .NET sdk for 7.0 P1 release
  manifest.versions.json
  src/sdk/7.0/alpine3.15/amd64/Dockerfile
  src/sdk/7.0/alpine3.15/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.15/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/7.0/focal/amd64/Dockerfile
  src/sdk/7.0/focal/arm32v7/Dockerfile
  src/sdk/7.0/focal/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Don't list 7.0 as featured tag in main branch
  README.aspnet.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/readme-templates/README.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/installer
  manifest.versions.json
  src/aspnet/7.0/cbl-mariner1.0/amd64/Dockerfile
  src/aspnet/7.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/aspnet/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/aspnet/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/7.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/7.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/runtime/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner1.0/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update 7.0 checksums for signed files
  manifest.versions.json
  src/aspnet/7.0/cbl-mariner1.0/amd64/Dockerfile
  src/aspnet/7.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/aspnet/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/aspnet/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/7.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/7.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/runtime/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Revert "[nightly] Update dependencies from dotnet/installer (#3490)" (#3497)
  manifest.versions.json
  src/sdk/7.0/alpine3.15/amd64/Dockerfile
  src/sdk/7.0/alpine3.15/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.15/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/7.0/focal/amd64/Dockerfile
  src/sdk/7.0/focal/arm32v7/Dockerfile
  src/sdk/7.0/focal/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Updates for 6.0.200 SDK release
  README.sdk.md
  manifest.versions.json
  src/monitor/6.0/alpine/amd64/Dockerfile
  src/monitor/6.1/alpine/amd64/Dockerfile
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/alpine3.14/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.14/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Disable VerifyDotnetFolderContents test for 6.0 SDK
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest (#3500)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml
