Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

Path conditions:
  eng/pipelines/dotnet-core-internal-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json

[nightly] Update dependencies from dotnet/dotnet-monitor/8.0
  manifest.versions.json
  src/monitor-base/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/8.0 (#4585)
  manifest.versions.json
  src/monitor-base/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Edited manifest.json to make Alpine ASP.NET images use the composite build.
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Forgot to restore the normal Alpine ASP.NET entries.
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Added the new Dockerfile.linux-composite template file.
  eng/dockerfile-templates/aspnet/Dockerfile.linux-composite
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Modified the install template files to accomodate the composite.
  eng/dockerfile-templates/aspnet/Dockerfile.linux.install-aspnet
  eng/dockerfile-templates/runtime/Dockerfile.linux.install-runtime
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Adjusted the DockerfileShaUpdater, as well as some aspnet samples stuff.
  eng/update-dependencies/DockerfileShaUpdater.cs
  samples/aspnetapp/aspnetapp/NuGet.config
  samples/aspnetapp/aspnetapp/aspnetapp.csproj
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/8.0 (#4586)
  manifest.versions.json
  src/monitor-base/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fixed some syntax errors in the Docker generators, and corrected the composite tags in the manifest file.
  eng/dockerfile-templates/aspnet/Dockerfile.linux.install-aspnet
  eng/dockerfile-templates/runtime/Dockerfile.linux.install-runtime
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Generated the Composite?
  manifest.json
  src/aspnet-composite/8.0/alpine3.17/amd64/Dockerfile
  src/aspnet-composite/8.0/alpine3.17/arm32v7/Dockerfile
  src/aspnet-composite/8.0/alpine3.17/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fixed the ASP.NET Composite Dockerfiles
  eng/dockerfile-templates/aspnet/Dockerfile.linux
  eng/dockerfile-templates/aspnet/Dockerfile.linux-composite
  src/aspnet-composite/8.0/alpine3.17/amd64/Dockerfile
  src/aspnet-composite/8.0/alpine3.17/arm32v7/Dockerfile
  src/aspnet-composite/8.0/alpine3.17/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fixed normal ASP.NET images!
  eng/dockerfile-templates/aspnet/Dockerfile.linux.install-aspnet
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Publish aspnetapp-non-root sample images
  README.samples.md
  eng/mcr-tags-metadata-templates/samples-tags.yml
  manifest.samples.json
  samples/aspnetapp/Dockerfile.debian
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

add windows size updates
  tests/performance/ImageSize.nightly.windows.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

add linux size updates
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Updated README's tags
  README.aspnet.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update README.md
  samples/README.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update README.md (#4591)
  samples/README.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

[nightly] Update dependencies from dotnet/installer
  manifest.versions.json
  src/sdk/8.0/alpine3.17/amd64/Dockerfile
  src/sdk/8.0/alpine3.17/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.17/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/installer (#4592)
  manifest.versions.json
  src/sdk/8.0/alpine3.17/amd64/Dockerfile
  src/sdk/8.0/alpine3.17/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.17/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Disable log init for non-root users
  eng/dockerfile-templates/runtime-deps/Dockerfile.linux.non-root-user
  src/runtime-deps/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.17/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.17/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.17/arm64v8/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/amd64/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/arm32v7/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/arm64v8/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy/amd64/Dockerfile
  src/runtime-deps/8.0/jammy/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Reverted sample to net7.0 due to missing net8.0 SDK in the testing machines.
  samples/aspnetapp/aspnetapp/aspnetapp.csproj
Due: eng/pipelines/dotnet-core-samples-pr.yml

Only use -l argument where we can use useradd
  eng/dockerfile-templates/runtime-deps/Dockerfile.linux.non-root-user
  src/runtime-deps/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.17/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.17/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.17/arm64v8/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy/amd64/Dockerfile
  src/runtime-deps/8.0/jammy/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Added and enabled ASP.NET Composite Images, following the messed up PR #4590.
  README.aspnet.md
  eng/dockerfile-templates/aspnet/Dockerfile.linux-composite
  eng/dockerfile-templates/runtime/Dockerfile.linux.install-runtime
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/update-dependencies/DockerfileShaUpdater.cs
  manifest.json
  samples/aspnetapp/aspnetapp/NuGet.config
  samples/aspnetapp/aspnetapp/aspnetapp.csproj
  src/aspnet-composite/8.0/alpine3.17/amd64/Dockerfile
  src/aspnet-composite/8.0/alpine3.17/arm32v7/Dockerfile
  src/aspnet-composite/8.0/alpine3.17/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Create home on Jammy and switch Mariner to useradd
  eng/dockerfile-templates/runtime-deps/Dockerfile.linux.non-root-user
  src/runtime-deps/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy/amd64/Dockerfile
  src/runtime-deps/8.0/jammy/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update Image Size baseline (#4587)
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Changed the composite suffix to match the other tags naming convention and paths.
  README.aspnet.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  manifest.json
  src/aspnet/8.0/alpine3.17-composite/amd64/Dockerfile
  src/aspnet/8.0/alpine3.17-composite/arm32v7/Dockerfile
  src/aspnet/8.0/alpine3.17-composite/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Added the environment variable 'DOTNET_VERSION' to the composite Dockerfiles, since those are built from runtime-deps, rather than runtime.
  eng/dockerfile-templates/aspnet/Dockerfile.linux-composite
  src/aspnet/8.0/alpine3.17-composite/amd64/Dockerfile
  src/aspnet/8.0/alpine3.17-composite/arm32v7/Dockerfile
  src/aspnet/8.0/alpine3.17-composite/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/installer (#4595)
  manifest.versions.json
  src/sdk/8.0/alpine3.17/amd64/Dockerfile
  src/sdk/8.0/alpine3.17/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.17/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Addressed some comments. Haven't regenerated the composite Dockerfiles because the Set-DotnetVersions script keeps failing because I have uncommitted changes. Will try again after this.
  eng/dockerfile-templates/runtime/Dockerfile.linux.install-runtime
  eng/update-dependencies/DockerfileShaUpdater.cs
  samples/aspnetapp/aspnetapp/aspnetapp.csproj
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fake composite Dockerfiles to see if the Set-DotnetVersions script will finally stop complaining.
  src/aspnet/8.0/alpine3.17-composite/amd64/Dockerfile
  src/aspnet/8.0/alpine3.17-composite/arm32v7/Dockerfile
  src/aspnet/8.0/alpine3.17-composite/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Generated and added the SHA's for the Composite Dockerfiles.
  manifest.versions.json
  src/aspnet/8.0/alpine3.17-composite/amd64/Dockerfile
  src/aspnet/8.0/alpine3.17-composite/arm32v7/Dockerfile
  src/aspnet/8.0/alpine3.17-composite/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/installer
  manifest.versions.json
  src/runtime/8.0/alpine3.17/amd64/Dockerfile
  src/runtime/8.0/alpine3.17/arm32v7/Dockerfile
  src/runtime/8.0/alpine3.17/arm64v8/Dockerfile
  src/runtime/8.0/bookworm-slim/amd64/Dockerfile
  src/runtime/8.0/bookworm-slim/arm32v7/Dockerfile
  src/runtime/8.0/bookworm-slim/arm64v8/Dockerfile
  src/runtime/8.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime/8.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime/8.0/jammy/amd64/Dockerfile
  src/runtime/8.0/jammy/arm32v7/Dockerfile
  src/runtime/8.0/jammy/arm64v8/Dockerfile
  src/runtime/8.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/runtime/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/alpine3.17/amd64/Dockerfile
  src/sdk/8.0/alpine3.17/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.17/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml
