Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

eng/pipelines/dotnet-core-nightly-pr-5.0.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly-pr-monitor.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      testMatrixCustomBuildLegGroupArgs: --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr-2.1.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr-3.1.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr-5.0.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-samples-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build

eng/pipelines/dotnet-core-size-validation-pr.yml:
  jobs:
  - template: ../common/templates/jobs/validate-image-sizes.yml

eng/pipelines/dotnet-monitor.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        buildMatrixType: platformVersionedOs

Update common Docker engineering infrastructure with latest (#2573)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Define Alpine 3.13 runtime-deps in 5.0 folder (#2566)
  README.runtime-deps.md
  manifest.json
  src/runtime-deps/5.0/alpine3.13/amd64/Dockerfile
  src/runtime-deps/5.0/alpine3.13/arm64v8/Dockerfile
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/diagnostics
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/diagnostics (#2574)
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Skips theories without theory data. Filter monitor tests based on underlying runtime version.
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/DotNetTheoryAttribute.cs
  tests/Microsoft.DotNet.Docker.Tests/DotNetTheoryDiscoverer.cs
  tests/Microsoft.DotNet.Docker.Tests/LinuxImageTheoryAttribute.cs
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SkippableTheoryAttribute.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Differentiate OS used for filter versus OS used in image tag.
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/core-sdk
  manifest.versions.json
  src/aspnet/6.0/alpine3.13/amd64/Dockerfile
  src/aspnet/6.0/alpine3.13/arm32v7/Dockerfile
  src/aspnet/6.0/alpine3.13/arm64v8/Dockerfile
  src/aspnet/6.0/buster-slim/amd64/Dockerfile
  src/aspnet/6.0/buster-slim/arm32v7/Dockerfile
  src/aspnet/6.0/buster-slim/arm64v8/Dockerfile
  src/aspnet/6.0/focal/amd64/Dockerfile
  src/aspnet/6.0/focal/arm32v7/Dockerfile
  src/aspnet/6.0/focal/arm64v8/Dockerfile
  src/aspnet/6.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-2004/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-20H2/amd64/Dockerfile
  src/aspnet/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.13/arm64v8/Dockerfile
  src/sdk/6.0/buster-slim/amd64/Dockerfile
  src/sdk/6.0/buster-slim/arm32v7/Dockerfile
  src/sdk/6.0/buster-slim/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/diagnostics (#2577)
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/core-sdk (#2578)
  manifest.versions.json
  src/aspnet/6.0/alpine3.13/amd64/Dockerfile
  src/aspnet/6.0/alpine3.13/arm32v7/Dockerfile
  src/aspnet/6.0/alpine3.13/arm64v8/Dockerfile
  src/aspnet/6.0/buster-slim/amd64/Dockerfile
  src/aspnet/6.0/buster-slim/arm32v7/Dockerfile
  src/aspnet/6.0/buster-slim/arm64v8/Dockerfile
  src/aspnet/6.0/focal/amd64/Dockerfile
  src/aspnet/6.0/focal/arm32v7/Dockerfile
  src/aspnet/6.0/focal/arm64v8/Dockerfile
  src/aspnet/6.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-2004/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-20H2/amd64/Dockerfile
  src/aspnet/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.13/arm64v8/Dockerfile
  src/sdk/6.0/buster-slim/amd64/Dockerfile
  src/sdk/6.0/buster-slim/arm32v7/Dockerfile
  src/sdk/6.0/buster-slim/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update 6.0 to latest official preview 1 build
  manifest.versions.json
  src/sdk/6.0/alpine3.13/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.13/arm64v8/Dockerfile
  src/sdk/6.0/buster-slim/amd64/Dockerfile
  src/sdk/6.0/buster-slim/arm32v7/Dockerfile
  src/sdk/6.0/buster-slim/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update 6.0 to latest official preview 1 build (#2579)
  manifest.versions.json
  src/sdk/6.0/alpine3.13/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.13/arm64v8/Dockerfile
  src/sdk/6.0/buster-slim/amd64/Dockerfile
  src/sdk/6.0/buster-slim/arm32v7/Dockerfile
  src/sdk/6.0/buster-slim/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix script to pull Image Builder
  eng/common/Get-ImageBuilder.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Rename to FilterMonitorImagesByRuntimeVersion.
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix script to pull Image Builder (#2580)
  eng/common/Get-ImageBuilder.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/core-sdk
  manifest.versions.json
  src/sdk/6.0/alpine3.13/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.13/arm64v8/Dockerfile
  src/sdk/6.0/buster-slim/amd64/Dockerfile
  src/sdk/6.0/buster-slim/arm32v7/Dockerfile
  src/sdk/6.0/buster-slim/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update 6.0 Debian from Buster to Bullseye
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/common/templates/variables/docker-images.yml
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/6.0/bullseye-slim/amd64/Dockerfile
  src/aspnet/6.0/bullseye-slim/arm32v7/Dockerfile
  src/aspnet/6.0/bullseye-slim/arm64v8/Dockerfile
  src/runtime-deps/6.0/bullseye-slim/amd64/Dockerfile
  src/runtime-deps/6.0/bullseye-slim/arm32v7/Dockerfile
  src/runtime-deps/6.0/bullseye-slim/arm64v8/Dockerfile
  src/runtime/6.0/bullseye-slim/amd64/Dockerfile
  src/runtime/6.0/bullseye-slim/arm32v7/Dockerfile
  src/runtime/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add dotnet-monitor variable and metrics endpoint tests. (#2556)
  build-and-test.ps1
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/DotNetTheoryAttribute.cs
  tests/Microsoft.DotNet.Docker.Tests/DotNetTheoryDiscoverer.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/LinuxImageTheoryAttribute.cs
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SkippableTheoryAttribute.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update 6.0 Debian from Buster to Bullseye (#2582)
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/common/templates/variables/docker-images.yml
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/6.0/bullseye-slim/amd64/Dockerfile
  src/aspnet/6.0/bullseye-slim/arm32v7/Dockerfile
  src/aspnet/6.0/bullseye-slim/arm64v8/Dockerfile
  src/runtime-deps/6.0/bullseye-slim/amd64/Dockerfile
  src/runtime-deps/6.0/bullseye-slim/arm32v7/Dockerfile
  src/runtime-deps/6.0/bullseye-slim/arm64v8/Dockerfile
  src/runtime/6.0/bullseye-slim/amd64/Dockerfile
  src/runtime/6.0/bullseye-slim/arm32v7/Dockerfile
  src/runtime/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/diagnostics (#2584)
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/Get-ImageBuilder.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest (#2586)
  eng/common/Get-ImageBuilder.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Upgrade System.CommandLine version (#2498)
  eng/update-dependencies/NuGet.config
  eng/update-dependencies/Options.cs
  eng/update-dependencies/Program.cs
  eng/update-dependencies/update-dependencies.csproj
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add Dockerfiles for Alpine 3.13 (#2532)
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/5.0/alpine3.13/amd64/Dockerfile
  src/aspnet/5.0/alpine3.13/arm32v7/Dockerfile
  src/aspnet/5.0/alpine3.13/arm64v8/Dockerfile
  src/runtime-deps/5.0/alpine3.13/amd64/Dockerfile
  src/runtime-deps/5.0/alpine3.13/arm64v8/Dockerfile
  src/runtime/5.0/alpine3.13/amd64/Dockerfile
  src/runtime/5.0/alpine3.13/arm32v7/Dockerfile
  src/runtime/5.0/alpine3.13/arm64v8/Dockerfile
  src/sdk/5.0/alpine3.13/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix update-dependencies to update 5.0 Dockerfiles for dotnet-monitor. (#2519)
  eng/pipelines/update-dependencies.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

2.1 servicing
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  manifest.versions.json
  src/aspnet/2.1/alpine3.12/amd64/Dockerfile
  src/aspnet/2.1/bionic/amd64/Dockerfile
  src/aspnet/2.1/bionic/arm32v7/Dockerfile
  src/aspnet/2.1/focal/amd64/Dockerfile
  src/aspnet/2.1/focal/arm32v7/Dockerfile
  src/aspnet/2.1/nanoserver-1809/amd64/Dockerfile
  src/aspnet/2.1/nanoserver-1909/amd64/Dockerfile
  src/aspnet/2.1/nanoserver-2004/amd64/Dockerfile
  src/aspnet/2.1/nanoserver-20H2/amd64/Dockerfile
  src/aspnet/2.1/stretch-slim/amd64/Dockerfile
  src/aspnet/2.1/stretch-slim/arm32v7/Dockerfile
  src/runtime/2.1/alpine3.12/amd64/Dockerfile
  src/runtime/2.1/bionic/amd64/Dockerfile
  src/runtime/2.1/bionic/arm32v7/Dockerfile
  src/runtime/2.1/focal/amd64/Dockerfile
  src/runtime/2.1/focal/arm32v7/Dockerfile
  src/runtime/2.1/nanoserver-1809/amd64/Dockerfile
  src/runtime/2.1/nanoserver-1909/amd64/Dockerfile
  src/runtime/2.1/nanoserver-2004/amd64/Dockerfile
  src/runtime/2.1/nanoserver-20H2/amd64/Dockerfile
  src/runtime/2.1/stretch-slim/amd64/Dockerfile
  src/runtime/2.1/stretch-slim/arm32v7/Dockerfile
  src/sdk/2.1/alpine3.12/amd64/Dockerfile
  src/sdk/2.1/bionic/amd64/Dockerfile
  src/sdk/2.1/bionic/arm32v7/Dockerfile
  src/sdk/2.1/focal/amd64/Dockerfile
  src/sdk/2.1/focal/arm32v7/Dockerfile
  src/sdk/2.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/2.1/nanoserver-1909/amd64/Dockerfile
  src/sdk/2.1/nanoserver-2004/amd64/Dockerfile
  src/sdk/2.1/nanoserver-20H2/amd64/Dockerfile
  src/sdk/2.1/stretch/amd64/Dockerfile
  src/sdk/2.1/stretch/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove ca-patch tags
  manifest.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Restore PowerShell build version for 3.1
  manifest.versions.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fixup feeds (#2591)
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/NuGet.config.nightly
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fixup feeds (#2592)
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/NuGet.config.nightly
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Enhancing tagging policy documentation
  documentation/guiding-principles.md
  documentation/platform-matrix-suport.md
  documentation/supported-platforms.md
  documentation/supported-tags.md
  documentation/tagging-guidelines.md
Due: none

Updates per review feedback
  documentation/guiding-principles.md
  documentation/supported-platforms.md
  documentation/supported-tags.md
Due: none

Update documentation/supported-platforms.md
  documentation/supported-platforms.md
Due: none

Fixup feed
  eng/update-dependencies/NuGet.config
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update documentation/supported-tags.md
  documentation/supported-tags.md
Due: none

Path conditions:
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json
