Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

eng/pipelines/dotnet-core-nightly.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        buildMatrixType: platformVersionedOs
        customBuildLegGrouping: pr-build
        windowsArmBuildJobTimeout: 120

eng/pipelines/dotnet-core-samples.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        buildMatrixType: platformVersionedOs

eng/pipelines/dotnet-core-size-validation-pr.yml:
  jobs:
  - template: ../common/templates/jobs/validate-image-sizes.yml

eng/pipelines/dotnet-core.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        buildMatrixType: platformVersionedOs
        customBuildLegGrouping: pr-build

Fix buster path
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Updates from code review
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Drop use of buildpack-deps as base image (#1848)
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster-slim/amd64/Dockerfile
  5.0/sdk/buster-slim/arm32v7/Dockerfile
  5.0/sdk/buster-slim/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  README.sdk.md
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/FileHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/Microsoft.DotNet.Docker.Tests.csproj
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Add variable for samples image info
  eng/pipelines/dotnet-core-samples.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#1854)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update PowerShell to 7.1.0-preview.2
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster-slim/amd64/Dockerfile
  5.0/sdk/buster-slim/arm32v7/Dockerfile
  5.0/sdk/buster-slim/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update 5.0/sdk/nanoserver-1909/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[master] Update common Docker engineering infrastructure with latest (#1855)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/pipelines/dotnet-core-samples.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update base image of 5.0 SDK for Alpine and Nano (#1832)
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
  manifest.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Use consistent comment for unsetting ASPNETCORE_URLS (#1837)
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Add .NET version ENVs to the 5.0 images (#1839)
  5.0/aspnet/alpine3.11/amd64/Dockerfile
  5.0/aspnet/alpine3.11/arm64v8/Dockerfile
  5.0/aspnet/buster-slim/amd64/Dockerfile
  5.0/aspnet/buster-slim/arm32v7/Dockerfile
  5.0/aspnet/buster-slim/arm64v8/Dockerfile
  5.0/aspnet/focal/amd64/Dockerfile
  5.0/aspnet/focal/arm32v7/Dockerfile
  5.0/aspnet/focal/arm64v8/Dockerfile
  5.0/aspnet/nanoserver-1809/amd64/Dockerfile
  5.0/aspnet/nanoserver-1903/amd64/Dockerfile
  5.0/aspnet/nanoserver-1909/amd64/Dockerfile
  5.0/runtime/alpine3.11/amd64/Dockerfile
  5.0/runtime/alpine3.11/arm64v8/Dockerfile
  5.0/runtime/buster-slim/amd64/Dockerfile
  5.0/runtime/buster-slim/arm32v7/Dockerfile
  5.0/runtime/buster-slim/arm64v8/Dockerfile
  5.0/runtime/focal/amd64/Dockerfile
  5.0/runtime/focal/arm32v7/Dockerfile
  5.0/runtime/focal/arm64v8/Dockerfile
  5.0/runtime/nanoserver-1809/amd64/Dockerfile
  5.0/runtime/nanoserver-1903/amd64/Dockerfile
  5.0/runtime/nanoserver-1909/amd64/Dockerfile
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster/amd64/Dockerfile
  5.0/sdk/buster/arm32v7/Dockerfile
  5.0/sdk/buster/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
  eng/update-dependencies/DockerfileShaUpdater.cs
  eng/update-dependencies/Program.cs
  eng/update-dependencies/VariableHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

WIP: Update PowerShell to 7.1.0-preview.2 (#1856)
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster-slim/amd64/Dockerfile
  5.0/sdk/buster-slim/arm32v7/Dockerfile
  5.0/sdk/buster-slim/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Correct POWERSHELL_DISTRIBUTION_CHANNEL ENV in Alpine 3.11 Dockerfiles (#1845)
  5.0/sdk/alpine3.11/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Drop use of buildpack-deps as base image (#1848)
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster-slim/amd64/Dockerfile
  5.0/sdk/buster-slim/arm32v7/Dockerfile
  5.0/sdk/buster-slim/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/FileHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/Microsoft.DotNet.Docker.Tests.csproj
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update PowerShell to 7.1.0-preview.2 (#1856)
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster-slim/amd64/Dockerfile
  5.0/sdk/buster-slim/arm32v7/Dockerfile
  5.0/sdk/buster-slim/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Refactor update-dependencies to handle multi-line ENVs (#1847)
  eng/update-dependencies/VariableHelper.cs
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update Dockerfiles to 5.0 preview 3
  5.0/aspnet/alpine3.11/amd64/Dockerfile
  5.0/aspnet/alpine3.11/arm64v8/Dockerfile
  5.0/aspnet/buster-slim/amd64/Dockerfile
  5.0/aspnet/buster-slim/arm32v7/Dockerfile
  5.0/aspnet/buster-slim/arm64v8/Dockerfile
  5.0/aspnet/focal/amd64/Dockerfile
  5.0/aspnet/focal/arm32v7/Dockerfile
  5.0/aspnet/focal/arm64v8/Dockerfile
  5.0/aspnet/nanoserver-1809/amd64/Dockerfile
  5.0/aspnet/nanoserver-1903/amd64/Dockerfile
  5.0/aspnet/nanoserver-1909/amd64/Dockerfile
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster-slim/amd64/Dockerfile
  5.0/sdk/buster-slim/arm32v7/Dockerfile
  5.0/sdk/buster-slim/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  manifest.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update buster-slim path in SDK readme
  README.sdk.md
Due: none

Update buster-slim path in SDK readme (#1858)
  README.sdk.md
Due: none

Update name of ASP.NET versions file
  eng/get-drop-versions.sh
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update name of ASP.NET versions file (#1860)
  eng/get-drop-versions.sh
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk
  5.0/aspnet/alpine3.11/amd64/Dockerfile
  5.0/aspnet/alpine3.11/arm64v8/Dockerfile
  5.0/aspnet/buster-slim/amd64/Dockerfile
  5.0/aspnet/buster-slim/arm32v7/Dockerfile
  5.0/aspnet/buster-slim/arm64v8/Dockerfile
  5.0/aspnet/focal/amd64/Dockerfile
  5.0/aspnet/focal/arm32v7/Dockerfile
  5.0/aspnet/focal/arm64v8/Dockerfile
  5.0/aspnet/nanoserver-1809/amd64/Dockerfile
  5.0/aspnet/nanoserver-1903/amd64/Dockerfile
  5.0/aspnet/nanoserver-1909/amd64/Dockerfile
  5.0/runtime/alpine3.11/amd64/Dockerfile
  5.0/runtime/alpine3.11/arm64v8/Dockerfile
  5.0/runtime/buster-slim/amd64/Dockerfile
  5.0/runtime/buster-slim/arm32v7/Dockerfile
  5.0/runtime/buster-slim/arm64v8/Dockerfile
  5.0/runtime/focal/amd64/Dockerfile
  5.0/runtime/focal/arm32v7/Dockerfile
  5.0/runtime/focal/arm64v8/Dockerfile
  5.0/runtime/nanoserver-1809/amd64/Dockerfile
  5.0/runtime/nanoserver-1903/amd64/Dockerfile
  5.0/runtime/nanoserver-1909/amd64/Dockerfile
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster-slim/amd64/Dockerfile
  5.0/sdk/buster-slim/arm32v7/Dockerfile
  5.0/sdk/buster-slim/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  manifest.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#1862)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update image size baselines for Focal images
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update image size baselines for Focal images (#1864)
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#1861)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#1865)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk (#1863)
  5.0/aspnet/alpine3.11/amd64/Dockerfile
  5.0/aspnet/alpine3.11/arm64v8/Dockerfile
  5.0/aspnet/buster-slim/amd64/Dockerfile
  5.0/aspnet/buster-slim/arm32v7/Dockerfile
  5.0/aspnet/buster-slim/arm64v8/Dockerfile
  5.0/aspnet/focal/amd64/Dockerfile
  5.0/aspnet/focal/arm32v7/Dockerfile
  5.0/aspnet/focal/arm64v8/Dockerfile
  5.0/aspnet/nanoserver-1809/amd64/Dockerfile
  5.0/aspnet/nanoserver-1903/amd64/Dockerfile
  5.0/aspnet/nanoserver-1909/amd64/Dockerfile
  5.0/runtime/alpine3.11/amd64/Dockerfile
  5.0/runtime/alpine3.11/arm64v8/Dockerfile
  5.0/runtime/buster-slim/amd64/Dockerfile
  5.0/runtime/buster-slim/arm32v7/Dockerfile
  5.0/runtime/buster-slim/arm64v8/Dockerfile
  5.0/runtime/focal/amd64/Dockerfile
  5.0/runtime/focal/arm32v7/Dockerfile
  5.0/runtime/focal/arm64v8/Dockerfile
  5.0/runtime/nanoserver-1809/amd64/Dockerfile
  5.0/runtime/nanoserver-1903/amd64/Dockerfile
  5.0/runtime/nanoserver-1909/amd64/Dockerfile
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster-slim/amd64/Dockerfile
  5.0/sdk/buster-slim/arm32v7/Dockerfile
  5.0/sdk/buster-slim/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  manifest.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk
  5.0/aspnet/alpine3.11/amd64/Dockerfile
  5.0/aspnet/alpine3.11/arm64v8/Dockerfile
  5.0/aspnet/buster-slim/amd64/Dockerfile
  5.0/aspnet/buster-slim/arm32v7/Dockerfile
  5.0/aspnet/buster-slim/arm64v8/Dockerfile
  5.0/aspnet/focal/amd64/Dockerfile
  5.0/aspnet/focal/arm32v7/Dockerfile
  5.0/aspnet/focal/arm64v8/Dockerfile
  5.0/aspnet/nanoserver-1809/amd64/Dockerfile
  5.0/aspnet/nanoserver-1903/amd64/Dockerfile
  5.0/aspnet/nanoserver-1909/amd64/Dockerfile
  5.0/runtime/alpine3.11/amd64/Dockerfile
  5.0/runtime/alpine3.11/arm64v8/Dockerfile
  5.0/runtime/buster-slim/amd64/Dockerfile
  5.0/runtime/buster-slim/arm32v7/Dockerfile
  5.0/runtime/buster-slim/arm64v8/Dockerfile
  5.0/runtime/focal/amd64/Dockerfile
  5.0/runtime/focal/arm32v7/Dockerfile
  5.0/runtime/focal/arm64v8/Dockerfile
  5.0/runtime/nanoserver-1809/amd64/Dockerfile
  5.0/runtime/nanoserver-1903/amd64/Dockerfile
  5.0/runtime/nanoserver-1909/amd64/Dockerfile
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster-slim/amd64/Dockerfile
  5.0/sdk/buster-slim/arm32v7/Dockerfile
  5.0/sdk/buster-slim/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk (#1866)
  5.0/aspnet/alpine3.11/amd64/Dockerfile
  5.0/aspnet/alpine3.11/arm64v8/Dockerfile
  5.0/aspnet/buster-slim/amd64/Dockerfile
  5.0/aspnet/buster-slim/arm32v7/Dockerfile
  5.0/aspnet/buster-slim/arm64v8/Dockerfile
  5.0/aspnet/focal/amd64/Dockerfile
  5.0/aspnet/focal/arm32v7/Dockerfile
  5.0/aspnet/focal/arm64v8/Dockerfile
  5.0/aspnet/nanoserver-1809/amd64/Dockerfile
  5.0/aspnet/nanoserver-1903/amd64/Dockerfile
  5.0/aspnet/nanoserver-1909/amd64/Dockerfile
  5.0/runtime/alpine3.11/amd64/Dockerfile
  5.0/runtime/alpine3.11/arm64v8/Dockerfile
  5.0/runtime/buster-slim/amd64/Dockerfile
  5.0/runtime/buster-slim/arm32v7/Dockerfile
  5.0/runtime/buster-slim/arm64v8/Dockerfile
  5.0/runtime/focal/amd64/Dockerfile
  5.0/runtime/focal/arm32v7/Dockerfile
  5.0/runtime/focal/arm64v8/Dockerfile
  5.0/runtime/nanoserver-1809/amd64/Dockerfile
  5.0/runtime/nanoserver-1903/amd64/Dockerfile
  5.0/runtime/nanoserver-1909/amd64/Dockerfile
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster-slim/amd64/Dockerfile
  5.0/sdk/buster-slim/arm32v7/Dockerfile
  5.0/sdk/buster-slim/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Remove support for Windows ARM
  3.1/aspnet/nanoserver-1809/arm32v7/Dockerfile
  3.1/runtime/nanoserver-1809/arm32v7/Dockerfile
  3.1/sdk/nanoserver-1809/arm32v7/Dockerfile
  README.aspnet.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  documentation/platform-matrix-suport.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/samples-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  manifest.samples.json
  samples/aspnetapp/Dockerfile.nanoserver-arm32
  samples/dotnetapp/Dockerfile.nanoserver-arm32
  samples/selecting-tags.md
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.windows.arm
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.windows.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#1868)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Path conditions:
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, 2.1, 3.1, 5.0
  eng/pipelines/dotnet-core-samples.yml: any of: eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-core.yml: any file but: documentation, README*, samples
