Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

eng/pipelines/dotnet-core-nightly-pr.yml:

trigger: none
pr:
  branches:
    include:
    - nightly
  paths:
    include:
    - manifest.json
    - manifest.versions.json
    - eng/*
    - src/*
    - tests/*

resources:
  repositories:
  - repository: VersionsRepo
    type: github
    endpoint: dotnet
    name: dotnet/versions

variables:
- template: variables/common.yml
- name: manifest
  value: manifest.json
stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    buildMatrixType: platformVersionedOs
    buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly.yml:

trigger:
  batch: true
  branches:
    include:
    - nightly
  paths:
    include:
    - manifest.json
    - manifest.versions.json
    - src/*
pr: none

variables:
- template: variables/common.yml
- name: manifest
  value: manifest.json
stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    testMatrixCustomBuildLegGroupArgs: --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-samples-pr.yml:

trigger: none
pr:
  branches:
    include:
    - master
    - nightly
  paths:
    include:
    - manifest.samples.json
    - eng/*
    - samples/*
    - tests/*

resources:
  repositories:
  - repository: VersionsRepo
    type: github
    endpoint: dotnet
    name: dotnet/versions

variables:
- template: variables/common.yml
- name: manifest
  value: manifest.samples.json
- name: repoTestArgs
  value: -TestCategories sample
- name: imageInfoVariant
  value: "-samples"
stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    buildMatrixType: platformVersionedOs
    buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build

eng/pipelines/dotnet-core-size-validation-pr.yml:

trigger: none
pr:
  branches:
    include:
    - nightly
  paths:
    exclude:
    - .github/*
    - documentation/*
    - README*
    - samples/*

variables:
- template: variables/common.yml

jobs:
- template: ../common/templates/jobs/validate-image-sizes.yml

eng/pipelines/dotnet-monitor.yml:

trigger:
  batch: true
  branches:
    include:
    - nightly
  paths:
    include:
    - monitor/*
    - manifest.monitor.json
pr:
  branches:
    include:
    - master
    - nightly
  paths:
    include:
    - eng/*
    - monitor/*
    - manifest.monitor.json
variables:
- template: variables/common.yml
- name: manifest
  value: manifest.monitor.json
- name: imageInfoVariant
  value: "-monitor"
stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    ${{ if eq(variables['System.TeamProject'], 'public') }}:
      buildMatrixType: platformVersionedOs

[nightly] Update dependencies from dotnet/diagnostics (#2250)
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/core-sdk (#2251)
  manifest.versions.json
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/alpine3.12/arm64v8/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/arm32v7/Dockerfile
  src/aspnet/5.0/buster-slim/arm64v8/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/aspnet/5.0/focal/arm32v7/Dockerfile
  src/aspnet/5.0/focal/arm64v8/Dockerfile
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1903/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/arm64v8/Dockerfile
  src/runtime/5.0/buster-slim/amd64/Dockerfile
  src/runtime/5.0/buster-slim/arm32v7/Dockerfile
  src/runtime/5.0/buster-slim/arm64v8/Dockerfile
  src/runtime/5.0/focal/amd64/Dockerfile
  src/runtime/5.0/focal/arm32v7/Dockerfile
  src/runtime/5.0/focal/arm64v8/Dockerfile
  src/runtime/5.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1903/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1909/amd64/Dockerfile
  src/runtime/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/diagnostics
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/core-sdk
  manifest.versions.json
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/alpine3.12/arm64v8/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/arm32v7/Dockerfile
  src/aspnet/5.0/buster-slim/arm64v8/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/aspnet/5.0/focal/arm32v7/Dockerfile
  src/aspnet/5.0/focal/arm64v8/Dockerfile
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1903/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/arm64v8/Dockerfile
  src/runtime/5.0/buster-slim/amd64/Dockerfile
  src/runtime/5.0/buster-slim/arm32v7/Dockerfile
  src/runtime/5.0/buster-slim/arm64v8/Dockerfile
  src/runtime/5.0/focal/amd64/Dockerfile
  src/runtime/5.0/focal/arm32v7/Dockerfile
  src/runtime/5.0/focal/arm64v8/Dockerfile
  src/runtime/5.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1903/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1909/amd64/Dockerfile
  src/runtime/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/diagnostics (#2252)
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/core-sdk (#2253)
  manifest.versions.json
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/alpine3.12/arm64v8/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/arm32v7/Dockerfile
  src/aspnet/5.0/buster-slim/arm64v8/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/aspnet/5.0/focal/arm32v7/Dockerfile
  src/aspnet/5.0/focal/arm64v8/Dockerfile
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1903/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/arm64v8/Dockerfile
  src/runtime/5.0/buster-slim/amd64/Dockerfile
  src/runtime/5.0/buster-slim/arm32v7/Dockerfile
  src/runtime/5.0/buster-slim/arm64v8/Dockerfile
  src/runtime/5.0/focal/amd64/Dockerfile
  src/runtime/5.0/focal/arm32v7/Dockerfile
  src/runtime/5.0/focal/arm64v8/Dockerfile
  src/runtime/5.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1903/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1909/amd64/Dockerfile
  src/runtime/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Share runtime-deps between 3.1 and 5.0
  .github/ISSUE_TEMPLATE/releases/net-core-release.md
  README.runtime-deps.preview.md
  eng/common/templates/variables/docker-images.yml
  eng/dockerfile-templates/runtime-deps/5.0/Dockerfile.alpine
  eng/dockerfile-templates/runtime-deps/5.0/Dockerfile.linux
  manifest.json
  src/runtime-deps/5.0/alpine3.12/amd64/Dockerfile
  src/runtime-deps/5.0/alpine3.12/arm64v8/Dockerfile
  src/runtime-deps/5.0/buster-slim/amd64/Dockerfile
  src/runtime-deps/5.0/buster-slim/arm32v7/Dockerfile
  src/runtime-deps/5.0/buster-slim/arm64v8/Dockerfile
  src/runtime-deps/5.0/focal/amd64/Dockerfile
  src/runtime-deps/5.0/focal/arm32v7/Dockerfile
  src/runtime-deps/5.0/focal/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update image size baselines (#2258)
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/core-sdk (#2259)
  manifest.versions.json
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/alpine3.12/arm64v8/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/arm32v7/Dockerfile
  src/aspnet/5.0/buster-slim/arm64v8/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/aspnet/5.0/focal/arm32v7/Dockerfile
  src/aspnet/5.0/focal/arm64v8/Dockerfile
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1903/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/arm64v8/Dockerfile
  src/runtime/5.0/buster-slim/amd64/Dockerfile
  src/runtime/5.0/buster-slim/arm32v7/Dockerfile
  src/runtime/5.0/buster-slim/arm64v8/Dockerfile
  src/runtime/5.0/focal/amd64/Dockerfile
  src/runtime/5.0/focal/arm32v7/Dockerfile
  src/runtime/5.0/focal/arm64v8/Dockerfile
  src/runtime/5.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1903/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1909/amd64/Dockerfile
  src/runtime/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/core-sdk (#2262)
  manifest.versions.json
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/alpine3.12/arm64v8/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/arm32v7/Dockerfile
  src/aspnet/5.0/buster-slim/arm64v8/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/aspnet/5.0/focal/arm32v7/Dockerfile
  src/aspnet/5.0/focal/arm64v8/Dockerfile
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1903/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/arm64v8/Dockerfile
  src/runtime/5.0/buster-slim/amd64/Dockerfile
  src/runtime/5.0/buster-slim/arm32v7/Dockerfile
  src/runtime/5.0/buster-slim/arm64v8/Dockerfile
  src/runtime/5.0/focal/amd64/Dockerfile
  src/runtime/5.0/focal/arm32v7/Dockerfile
  src/runtime/5.0/focal/arm64v8/Dockerfile
  src/runtime/5.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1903/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1909/amd64/Dockerfile
  src/runtime/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/core-sdk (#2264)
  manifest.versions.json
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/alpine3.12/arm64v8/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/arm32v7/Dockerfile
  src/aspnet/5.0/buster-slim/arm64v8/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/aspnet/5.0/focal/arm32v7/Dockerfile
  src/aspnet/5.0/focal/arm64v8/Dockerfile
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1903/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/arm64v8/Dockerfile
  src/runtime/5.0/buster-slim/amd64/Dockerfile
  src/runtime/5.0/buster-slim/arm32v7/Dockerfile
  src/runtime/5.0/buster-slim/arm64v8/Dockerfile
  src/runtime/5.0/focal/amd64/Dockerfile
  src/runtime/5.0/focal/arm32v7/Dockerfile
  src/runtime/5.0/focal/arm64v8/Dockerfile
  src/runtime/5.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1903/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1909/amd64/Dockerfile
  src/runtime/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update ImageBuilder tag
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/core-sdk (#2265)
  manifest.versions.json
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/alpine3.12/arm64v8/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/arm32v7/Dockerfile
  src/aspnet/5.0/buster-slim/arm64v8/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/aspnet/5.0/focal/arm32v7/Dockerfile
  src/aspnet/5.0/focal/arm64v8/Dockerfile
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1903/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/arm64v8/Dockerfile
  src/runtime/5.0/buster-slim/amd64/Dockerfile
  src/runtime/5.0/buster-slim/arm32v7/Dockerfile
  src/runtime/5.0/buster-slim/arm64v8/Dockerfile
  src/runtime/5.0/focal/amd64/Dockerfile
  src/runtime/5.0/focal/arm32v7/Dockerfile
  src/runtime/5.0/focal/arm64v8/Dockerfile
  src/runtime/5.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1903/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1909/amd64/Dockerfile
  src/runtime/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update ImageBuilder and image size baselines
  eng/common/templates/variables/docker-images.yml
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update release checklist
  .github/ISSUE_TEMPLATE/releases/net-core-release.md
Due: none

Share runtime-deps between 3.1 and 5.0 (#2260)
  .github/ISSUE_TEMPLATE/releases/net-core-release.md
  README.runtime-deps.preview.md
  eng/common/templates/variables/docker-images.yml
  eng/dockerfile-templates/runtime-deps/5.0/Dockerfile.alpine
  eng/dockerfile-templates/runtime-deps/5.0/Dockerfile.linux
  manifest.json
  src/runtime-deps/5.0/alpine3.12/amd64/Dockerfile
  src/runtime-deps/5.0/alpine3.12/arm64v8/Dockerfile
  src/runtime-deps/5.0/buster-slim/amd64/Dockerfile
  src/runtime-deps/5.0/buster-slim/arm32v7/Dockerfile
  src/runtime-deps/5.0/buster-slim/arm64v8/Dockerfile
  src/runtime-deps/5.0/focal/amd64/Dockerfile
  src/runtime-deps/5.0/focal/arm32v7/Dockerfile
  src/runtime-deps/5.0/focal/arm64v8/Dockerfile
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update ImageBuilder tag (#2270)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Windows Server Core 2019 Dockerfiles for 5.0
  README.aspnet.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/runtime/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/5.0/Dockerfile.windowsservercore
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/Config.cs
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SkippableTheoryAttribute.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.windows.json
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add Dockerfiles for Windows Server, version 2009
  README.aspnet.md
  README.aspnet.preview.md
  README.runtime.md
  README.runtime.preview.md
  README.samples.md
  README.sdk.md
  README.sdk.preview.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/core-aspnet-tags.yml
  eng/mcr-tags-metadata-templates/core-runtime-tags.yml
  eng/mcr-tags-metadata-templates/core-sdk-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/samples-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  manifest.samples.json
  src/aspnet/2.1/nanoserver-2009/amd64/Dockerfile
  src/aspnet/3.1/nanoserver-2009/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2009/amd64/Dockerfile
  src/runtime/2.1/nanoserver-2009/amd64/Dockerfile
  src/runtime/3.1/nanoserver-2009/amd64/Dockerfile
  src/runtime/5.0/nanoserver-2009/amd64/Dockerfile
  src/sdk/2.1/nanoserver-2009/amd64/Dockerfile
  src/sdk/3.1/nanoserver-2009/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2009/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add 2009 to test data
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Maintain generated tags with new ImageBuilder version
  eng/common/templates/variables/docker-images.yml
  eng/dockerfile-templates/aspnet/2.1/Dockerfile.linux
  eng/dockerfile-templates/aspnet/3.1/Dockerfile.alpine
  eng/dockerfile-templates/aspnet/3.1/Dockerfile.linux
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.alpine
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.linux
  eng/dockerfile-templates/runtime/2.1/Dockerfile.linux
  eng/dockerfile-templates/runtime/3.1/Dockerfile.alpine
  eng/dockerfile-templates/runtime/3.1/Dockerfile.linux
  eng/dockerfile-templates/runtime/5.0/Dockerfile.alpine
  eng/dockerfile-templates/runtime/5.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/5.0/Dockerfile.linux
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/core-sdk (#2267)
  manifest.versions.json
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/alpine3.12/arm64v8/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/arm32v7/Dockerfile
  src/aspnet/5.0/buster-slim/arm64v8/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/aspnet/5.0/focal/arm32v7/Dockerfile
  src/aspnet/5.0/focal/arm64v8/Dockerfile
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1903/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/arm64v8/Dockerfile
  src/runtime/5.0/buster-slim/amd64/Dockerfile
  src/runtime/5.0/buster-slim/arm32v7/Dockerfile
  src/runtime/5.0/buster-slim/arm64v8/Dockerfile
  src/runtime/5.0/focal/amd64/Dockerfile
  src/runtime/5.0/focal/arm32v7/Dockerfile
  src/runtime/5.0/focal/arm64v8/Dockerfile
  src/runtime/5.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1903/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1909/amd64/Dockerfile
  src/runtime/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update Server Core Dockerfiles to reference latest 5.0 build
  src/aspnet/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update Server Core Dockerfiles to reference latest 5.0 build (#2277)
  src/aspnet/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update Image Builder tag to latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update publish job
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Maintain generated tags with new ImageBuilder version (#2276)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/docker-images.yml
  eng/dockerfile-templates/aspnet/2.1/Dockerfile.linux
  eng/dockerfile-templates/aspnet/3.1/Dockerfile.alpine
  eng/dockerfile-templates/aspnet/3.1/Dockerfile.linux
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.alpine
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.linux
  eng/dockerfile-templates/runtime/2.1/Dockerfile.linux
  eng/dockerfile-templates/runtime/3.1/Dockerfile.alpine
  eng/dockerfile-templates/runtime/3.1/Dockerfile.linux
  eng/dockerfile-templates/runtime/5.0/Dockerfile.alpine
  eng/dockerfile-templates/runtime/5.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/5.0/Dockerfile.linux
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/build-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml
