Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

eng/pipelines/dotnet-core-internal-nightly.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      linuxAmd64Pool:
        name: NetCore1ESPool-Svc-Internal
  ...

eng/pipelines/dotnet-core-nightly-pr-5.0.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly-pr-monitor.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly-pr-no-cache.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      noCache: true

eng/pipelines/dotnet-core-nightly-pr.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-core-nightly.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-core-pr-2.1.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr-3.1.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr-5.0.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

Add .NET major version release checklist (#5034)
  .github/ISSUE_TEMPLATE/releases/dotnet-release-lifecycle.md
  .github/ISSUE_TEMPLATE/releases/dotnet-servicing.md
Due: none

Update JSON schema (#5015)
  samples/releasesapi/Program.cs
  samples/releasesapi/ReleaseJson.cs
  samples/releasesapi/ReportGenerator.cs
  samples/releasesapi/ReportJson.cs
  samples/releasesapp/ReleaseJson.cs
  samples/releasesapp/ReportGenerator.cs
  samples/releasesapp/ReportJson.cs
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Minimum set of changes needed to fix matrix generation
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Typo
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/8.1
  manifest.versions.json
  src/monitor-base/8.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/8.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/8.1/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.1/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/8.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.1/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.1/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update CONTRIBUTING.md (#5046)
  CONTRIBUTING.md
Due: eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/8.1 (#5047)
  manifest.versions.json
  src/monitor-base/8.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/8.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/8.1/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.1/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/8.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.1/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.1/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add back pr build dependencies for chiseled 9.0 runtime-deps
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update port to 8080
  samples/kubernetes/manual-deployment/README.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update additional references to port 80
  samples/host-aspnetcore-https.md
  samples/kubernetes/dotnet-monitor/dotnet-monitor.yaml
  samples/run-in-sdk-container.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

[nightly] Update common Docker engineering infrastructure with latest (#5043)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update aspnet https dev instructions
  samples/run-aspnetcore-https-development.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Try using platform when buliding distroless helper
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add expose instruction to ASP.NET Core samples
  samples/aspnetapp/Dockerfile
  samples/aspnetapp/Dockerfile.alpine
  samples/aspnetapp/Dockerfile.alpine-composite
  samples/aspnetapp/Dockerfile.alpine-icu
  samples/aspnetapp/Dockerfile.chiseled
  samples/aspnetapp/Dockerfile.chiseled-composite
  samples/aspnetapp/Dockerfile.debian
  samples/aspnetapp/Dockerfile.nanoserver
  samples/aspnetapp/Dockerfile.ubuntu
  samples/aspnetapp/Dockerfile.windowsservercore
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update more docs
  samples/build-in-sdk-container.md
  samples/host-aspnetcore-https.md
  samples/push-image-to-acr.md
  samples/run-aspnetcore-https-development.md
  samples/run-in-sdk-container.md
  samples/run-tests-in-sdk-container.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update port to 8080 (#5048)
  samples/build-in-sdk-container.md
  samples/host-aspnetcore-https.md
  samples/kubernetes/dotnet-monitor/dotnet-monitor.yaml
  samples/kubernetes/manual-deployment/README.md
  samples/push-image-to-acr.md
  samples/run-aspnetcore-https-development.md
  samples/run-in-sdk-container.md
  samples/run-tests-in-sdk-container.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Add expose instruction to ASP.NET Core samples (#5051)
  samples/aspnetapp/Dockerfile
  samples/aspnetapp/Dockerfile.alpine
  samples/aspnetapp/Dockerfile.alpine-composite
  samples/aspnetapp/Dockerfile.alpine-icu
  samples/aspnetapp/Dockerfile.chiseled
  samples/aspnetapp/Dockerfile.chiseled-composite
  samples/aspnetapp/Dockerfile.debian
  samples/aspnetapp/Dockerfile.nanoserver
  samples/aspnetapp/Dockerfile.ubuntu
  samples/aspnetapp/Dockerfile.windowsservercore
Due: eng/pipelines/dotnet-core-samples-pr.yml

Add manifest entries
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add test data
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add temporary image sizes
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add mcr tags metadata
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove duplicate manifest floating tags
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix templates
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Regenerate readmes
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
Due: none

Add 6.0 Ubuntu Chiseled "extra" images for .NET 6.0
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  manifest.json
  src/aspnet/6.0/jammy-chiseled-extra/amd64/Dockerfile
  src/aspnet/6.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/aspnet/6.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime/6.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime/6.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime/6.0/jammy-chiseled-extra/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add missing test data
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add .NET 7 Jammy Chiseled Extra Runtime and ASP.NET Core images
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  manifest.json
  src/aspnet/7.0/jammy-chiseled-extra/amd64/Dockerfile
  src/aspnet/7.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/aspnet/7.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime/7.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime/7.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime/7.0/jammy-chiseled-extra/arm64v8/Dockerfile
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update test data
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Disable PowerShell on Alpine3.19 + x64 + .NET 6
  eng/dockerfile-templates/sdk/Dockerfile.linux
  src/sdk/6.0/alpine3.19/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add real image sizes for Alpine 3.19
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add libatomic to SDK images
  eng/dockerfile-templates/sdk/Dockerfile.linux
  src/sdk/8.0/alpine3.18/amd64/Dockerfile
  src/sdk/8.0/alpine3.18/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.18/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/9.0/alpine3.18/amd64/Dockerfile
  src/sdk/9.0/alpine3.18/arm32v7/Dockerfile
  src/sdk/9.0/alpine3.18/arm64v8/Dockerfile
  src/sdk/9.0/bookworm-slim/amd64/Dockerfile
  src/sdk/9.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/9.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/9.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/9.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/9.0/jammy/amd64/Dockerfile
  src/sdk/9.0/jammy/arm32v7/Dockerfile
  src/sdk/9.0/jammy/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Path conditions:
  eng/pipelines/dotnet-core-internal-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json
