Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml, eng/pipelines/dotnet-monitor.yml

eng/pipelines/dotnet-core-nightly.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        buildMatrixType: platformVersionedOs
        customBuildLegGrouping: pr-build
        windowsArmBuildJobTimeout: 120

eng/pipelines/dotnet-core-samples.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        buildMatrixType: platformVersionedOs

eng/pipelines/dotnet-core-size-validation-pr.yml:
  jobs:
  - template: ../common/templates/jobs/validate-image-sizes.yml

eng/pipelines/dotnet-core.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        buildMatrixType: platformVersionedOs
        customBuildLegGrouping: pr-build

eng/pipelines/dotnet-monitor.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        buildMatrixType: platformVersionedOs

[nightly] Update dependencies from dotnet/diagnostics
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Tweak how Regex pattern is escaped
  eng/update-dependencies/ManifestUpdater.cs
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/diagnostics (#2070)
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/wait-for-ingestion.yml
  eng/common/templates/steps/download-build-artifact.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Add manifest.versions.json file to encapsulate version variables (#2066)
  eng/common/templates/variables/docker-images.yml
  eng/update-dependencies/ManifestUpdater.cs
  eng/update-dependencies/Program.cs
  manifest.json
  manifest.versions.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update nuget credentials doc
  documentation/scenarios/nuget-credentials.md
Due: none

Update common Docker engineering infrastructure with latest (#2072)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/wait-for-ingestion.yml
  eng/common/templates/steps/download-build-artifact.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/alpine3.12/arm64v8/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/arm32v7/Dockerfile
  src/aspnet/5.0/buster-slim/arm64v8/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/aspnet/5.0/focal/arm32v7/Dockerfile
  src/aspnet/5.0/focal/arm64v8/Dockerfile
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1903/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Use consistent formatting for multi-line ENV instructions (#2030)
  src/aspnet/2.1/nanoserver-1809/amd64/Dockerfile
  src/aspnet/2.1/nanoserver-1903/amd64/Dockerfile
  src/aspnet/2.1/nanoserver-1909/amd64/Dockerfile
  src/aspnet/2.1/nanoserver-2004/amd64/Dockerfile
  src/runtime-deps/2.1/alpine3.11/amd64/Dockerfile
  src/runtime-deps/2.1/alpine3.12/amd64/Dockerfile
  src/runtime-deps/2.1/bionic/amd64/Dockerfile
  src/runtime-deps/2.1/bionic/arm32v7/Dockerfile
  src/runtime-deps/2.1/focal/amd64/Dockerfile
  src/runtime-deps/2.1/stretch-slim/amd64/Dockerfile
  src/runtime-deps/2.1/stretch-slim/arm32v7/Dockerfile
  src/runtime-deps/3.1/alpine3.11/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.11/arm64v8/Dockerfile
  src/runtime-deps/3.1/alpine3.12/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.12/arm64v8/Dockerfile
  src/runtime-deps/3.1/bionic/amd64/Dockerfile
  src/runtime-deps/3.1/bionic/arm32v7/Dockerfile
  src/runtime-deps/3.1/bionic/arm64v8/Dockerfile
  src/runtime-deps/3.1/buster-slim/amd64/Dockerfile
  src/runtime-deps/3.1/buster-slim/arm32v7/Dockerfile
  src/runtime-deps/3.1/buster-slim/arm64v8/Dockerfile
  src/runtime/2.1/nanoserver-1809/amd64/Dockerfile
  src/runtime/2.1/nanoserver-1903/amd64/Dockerfile
  src/runtime/2.1/nanoserver-1909/amd64/Dockerfile
  src/runtime/2.1/nanoserver-2004/amd64/Dockerfile
  src/sdk/2.1/alpine3.11/amd64/Dockerfile
  src/sdk/2.1/alpine3.12/amd64/Dockerfile
  src/sdk/2.1/bionic/amd64/Dockerfile
  src/sdk/2.1/bionic/arm32v7/Dockerfile
  src/sdk/2.1/focal/amd64/Dockerfile
  src/sdk/2.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/2.1/nanoserver-1903/amd64/Dockerfile
  src/sdk/2.1/nanoserver-1909/amd64/Dockerfile
  src/sdk/2.1/nanoserver-2004/amd64/Dockerfile
  src/sdk/2.1/stretch/amd64/Dockerfile
  src/sdk/2.1/stretch/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Add liblttng-ust0 to 2.1 runtime-deps focal images (#2026)
  src/runtime-deps/2.1/focal/amd64/Dockerfile
  src/runtime-deps/2.1/focal/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update PowerShell to v7.0.2 (#2001)
  src/sdk/3.1/alpine3.11/amd64/Dockerfile
  src/sdk/3.1/bionic/amd64/Dockerfile
  src/sdk/3.1/bionic/arm32v7/Dockerfile
  src/sdk/3.1/bionic/arm64v8/Dockerfile
  src/sdk/3.1/buster/amd64/Dockerfile
  src/sdk/3.1/buster/arm32v7/Dockerfile
  src/sdk/3.1/buster/arm64v8/Dockerfile
  src/sdk/3.1/focal/amd64/Dockerfile
  src/sdk/3.1/focal/arm32v7/Dockerfile
  src/sdk/3.1/focal/arm64v8/Dockerfile
  src/sdk/3.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/3.1/nanoserver-1903/amd64/Dockerfile
  src/sdk/3.1/nanoserver-1909/amd64/Dockerfile
  src/sdk/3.1/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Fix inconsistent PS nupkg Dockerfile comment (#2023)
  src/sdk/3.1/buster/arm32v7/Dockerfile
  src/sdk/3.1/focal/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Remove redundant DOTNET_RUNNING_IN_CONTAINER ENVs (#2000)
  src/sdk/3.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/3.1/nanoserver-1903/amd64/Dockerfile
  src/sdk/3.1/nanoserver-1909/amd64/Dockerfile
  src/sdk/3.1/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/diagnostics (#2078)
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update image size baselines (#2075)
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Use 3.1 tag instead of latest
  documentation/scenarios/nuget-credentials.md
Due: none

Update common Docker engineering infrastructure with latest (#2071)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/wait-for-ingestion.yml
  eng/common/templates/steps/download-build-artifact.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk (#2079)
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/alpine3.12/arm64v8/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/arm32v7/Dockerfile
  src/aspnet/5.0/buster-slim/arm64v8/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/aspnet/5.0/focal/arm32v7/Dockerfile
  src/aspnet/5.0/focal/arm64v8/Dockerfile
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1903/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#2080)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Split off PR-specific pipeline for nightly pipeline
  eng/pipelines/dotnet-core-nightly-pr.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Adds pipeline to wait for MCR ingestion
  eng/pipelines/wait-for-ingestion.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Adds pipeline to wait for MCR ingestion (#2082)
  eng/pipelines/wait-for-ingestion.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Updates per code review
  .github/ISSUE_TEMPLATE/releases/net-core-release.md
  eng/common/templates/variables/docker-images.yml
  eng/update-dependencies/DockerfileShaUpdater.cs
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update pipeline trigger paths
  eng/pipelines/dotnet-core-nightly-pr.yml
  eng/pipelines/dotnet-core-nightly.yml
  eng/pipelines/dotnet-core-samples.yml
  eng/pipelines/dotnet-core.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Add manifest.versions.json file to encapsulate version variables (#2066)
  eng/update-dependencies/ManifestUpdater.cs
  eng/update-dependencies/Program.cs
  manifest.json
  manifest.versions.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update image size baseline (#2052)
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Fix update-dependencies for dotnetmonitor
  eng/update-dependencies/DockerfileShaUpdater.cs
  eng/update-dependencies/Options.cs
  eng/update-dependencies/Program.cs
  eng/update-dependencies/VariableHelper.cs
  manifest.versions.json
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

DockerfileShaUpdater change
  eng/update-dependencies/DockerfileShaUpdater.cs
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Include 5.0 images in the "core" repos
  manifest.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Add original buster repo name for 5.0 sdk
  manifest.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Include 5.0 images in the "core" repos (#2087)
  manifest.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Path conditions:
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, aspnet, monitor, runtime, runtime-deps, sdk
  eng/pipelines/dotnet-core-samples.yml: any of: eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-core.yml: any file but: documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json
