Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

eng/pipelines/dotnet-core-internal-nightly.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      stages:
      - template: /eng/pipelines/stages/build-test-publish-repo.yml@self
        parameters:
          internalProjectName: ${{ variables.internalProjectName }}
  ...

eng/pipelines/dotnet-core-internal-testing.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      serviceConnections:
      - name: $(internal-mirror.serviceConnectionName)
      - name: $(build.serviceConnectionName)
      - name: $(publish.serviceConnectionName)
      - name: $(kusto.serviceConnectionName)
  ...

eng/pipelines/dotnet-core-nightly-pr-5.0.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly-pr-monitor.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly-pr-no-cache.yml:
  stages:
  - template: /eng/common/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      stagesTemplate: /eng/pipelines/stages/build-test-publish-repo.yml@self
      stagesTemplateParameters:
        versionsRepoRef: VersionsRepo
        noCache: true

eng/pipelines/dotnet-core-nightly-pr.yml:
  stages:
  - template: /eng/common/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      stagesTemplate: /eng/pipelines/stages/build-test-publish-repo.yml@self
      stagesTemplateParameters:
        versionsRepoRef: VersionsRepo

eng/pipelines/dotnet-core-nightly.yml:
  extends:
    template: /eng/common/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
      - template: /eng/common/templates/stages/dotnet/publish-config-prod.yml@self
        parameters:
  ...

eng/pipelines/dotnet-core-pr-2.1.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr-3.1.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

Update test data for 13.1
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from mingit (#6835)
  manifest.versions.json
  src/sdk/10.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/10.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/10.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/10.0/windowsservercore-ltsc2025/amd64/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2025/amd64/Dockerfile
  src/sdk/9.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2025/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from syft (#6836)
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update common Docker engineering infrastructure with latest (#6833)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update Aspire Dashboard to 13.1.0-preview.1.25574.3 (#6830)
  README.aspire-dashboard.md
  manifest.versions.json
  src/aspire-dashboard/amd64/Dockerfile
  src/aspire-dashboard/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update references to eng/common
  .github/instructions/eng-common.instructions.md
  .github/workflows/lint-code-base.yml
  build-and-test.ps1
  eng/dockerfile-templates/Get-GeneratedDockerfiles.ps1
  eng/pipelines/cg-code.yml
  eng/pipelines/cg-images.yml
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml
  eng/pipelines/dotnet-core-nightly-pr.yml
  eng/pipelines/dotnet-core-nightly.yml
  eng/pipelines/dotnet-core-pr.yml
  eng/pipelines/dotnet-core-samples-pr.yml
  eng/pipelines/dotnet-core-samples.yml
  eng/pipelines/dotnet-core.yml
  eng/pipelines/dotnet-docker-nightly-unofficial.yml
  eng/pipelines/pipelines/sync-internal-release.yml
  eng/pipelines/pipelines/update-dependencies-internal.yml
  eng/pipelines/pipelines/update-dependencies.yml
  eng/pipelines/release-promotion-official.yml
  eng/pipelines/release-promotion-unofficial.yml
  eng/pipelines/release-staging-official.yml
  eng/pipelines/release-staging-unofficial.yml
  eng/pipelines/stages/build-and-test.yml
  eng/pipelines/stages/build-test-publish-repo.yml
  eng/pipelines/stages/publish.yml
  eng/pipelines/sync-internal-release-official.yml
  eng/pipelines/sync-internal-release-unofficial.yml
  eng/pipelines/update-dependencies-internal-official.yml
  eng/pipelines/update-dependencies-internal-unofficial.yml
  eng/pipelines/update-dependencies-monitor.yml
  eng/pipelines/update-dependencies-official.yml
  eng/pipelines/update-dependencies-unofficial.yml
  eng/pipelines/update-readmes.yml
  eng/pipelines/variables/core-official.yml
  eng/pipelines/variables/core-unofficial.yml
  eng/pipelines/variables/samples.yml
  eng/readme-templates/Get-GeneratedReadmes.ps1
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/aspire
  manifest.versions.json
  src/aspire-dashboard/amd64/Dockerfile
  src/aspire-dashboard/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/aspire (#6841)
  manifest.versions.json
  src/aspire-dashboard/amd64/Dockerfile
  src/aspire-dashboard/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/aspire (#6842)
  manifest.versions.json
  src/aspire-dashboard/amd64/Dockerfile
  src/aspire-dashboard/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/templates/variables/common.yml
  eng/docker-tools/templates/variables/sdl-pool.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update common Docker engineering infrastructure with latest (#6847)
  eng/docker-tools/templates/variables/common.yml
  eng/docker-tools/templates/variables/sdl-pool.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/aspire (#6845)
  manifest.versions.json
  src/aspire-dashboard/amd64/Dockerfile
  src/aspire-dashboard/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update common Docker engineering infrastructure with latest (#6848)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Automatically update Aspire Dashboard (#6757)
  eng/pipelines/pipelines/update-dependencies.yml
  eng/pipelines/update-dependencies-official.yml
  eng/pipelines/update-dependencies-unofficial.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add parameters for enabling/disabling individual updaters in update-dependencies pipeline (#6742)
  eng/pipelines/pipelines/update-dependencies.yml
  eng/pipelines/update-dependencies-official.yml
  eng/pipelines/update-dependencies-unofficial.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update MAR links to new location (#6813)
  .portal-docs/docker-hub/README.aspire-dashboard.md
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.monitor-base.md
  .portal-docs/docker-hub/README.monitor.md
  .portal-docs/docker-hub/README.runtime-deps.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/mar/README.aspire-dashboard.portal.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.monitor-base.portal.md
  .portal-docs/mar/README.monitor.portal.md
  .portal-docs/mar/README.runtime-deps.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  documentation/supported-platforms.md
  eng/readme-templates/DefaultLayout.md
  eng/readme-templates/Url.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Disable Chisel updates due to #6774 (#6820)
  eng/pipelines/update-dependencies-official.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove .NET Monitor 9.1 preview images (#6822)
  README.monitor-base.md
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-base-tags.yml
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  manifest.versions.json
  src/monitor-base/9.1/azurelinux-distroless/amd64/Dockerfile
  src/monitor-base/9.1/azurelinux-distroless/arm64v8/Dockerfile
  src/monitor/9.1/azurelinux-distroless/amd64/Dockerfile
  src/monitor/9.1/azurelinux-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-9.1-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-9.1-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-9.1-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-9.1-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Disable .NET updates in update-dependencies pipeline (#6825)
  eng/pipelines/update-dependencies-official.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix update dependencies from staging pipeline command for SDK-only releases (#6823)
  eng/update-dependencies/FromStagingPipelineCommand.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Path conditions:
  eng/pipelines/dotnet-core-internal-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-internal-testing.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests, but not: eng/update-dependencies
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json
