Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

Path conditions:
  eng/pipelines/dotnet-core-internal-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-internal-testing.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests, but not: eng/update-dependencies
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests, but not: eng/update-dependencies
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests, but not: eng/update-dependencies
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json

Update common Docker engineering infrastructure with latest
  eng/docker-tools/templates/variables/common.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update common Docker engineering infrastructure with latest (#7008)
  eng/docker-tools/templates/variables/common.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add PipelinesService
  eng/update-dependencies/PipelineArtifactProvider.cs
  eng/update-dependencies/PipelinesService.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Print build tags
  eng/update-dependencies/FromStagingPipelineCommand.cs
  tests/UpdateDependencies.Tests/FromStagingPipelineCommandTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Drive FromStagingPipelineCommand logic based on staging container name instead of build ID
  eng/update-dependencies/FromStagingPipelineCommand.cs
  eng/update-dependencies/Sync/IInternalVersionsService.cs
  eng/update-dependencies/Sync/InternalStageContainers.cs
  eng/update-dependencies/Sync/InternalVersionsService.cs
  eng/update-dependencies/Sync/SyncInternalReleaseCommand.cs
  tests/UpdateDependencies.Tests/InternalStagingBuildsTests.cs
  tests/UpdateDependencies.Tests/SyncInternalReleaseTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Use stage container instead of staging pipeline run ID
  eng/pipelines/pipelines/update-dependencies-internal.yml
  eng/pipelines/update-dependencies-internal-official.yml
  eng/pipelines/update-dependencies-internal-unofficial.yml
  eng/update-dependencies/FromStagingPipelineCommand.cs
  eng/update-dependencies/FromStagingPipelineOptions.cs
  eng/update-dependencies/Sync/SyncInternalReleaseCommand.cs
  tests/UpdateDependencies.Tests/FromStagingPipelineCommandTests.cs
  tests/UpdateDependencies.Tests/SyncInternalReleaseTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Port YARP test changes
  build-and-test.ps1
  tests/Microsoft.DotNet.Docker.Tests/Microsoft.DotNet.Docker.Tests.csproj
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/.dockerignore
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/DataModel/Common.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/DataModel/TelemetryResults.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/Extensions/Helpers.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/GlobalUsings.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/OtlpTestListener.csproj
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/Program.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/Properties/launchSettings.json
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/Services/DefaultLogsService.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/Services/DefaultMetricsService.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/Services/DefaultTraceService.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/otlp/opentelemetry/proto/README.md
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/otlp/opentelemetry/proto/collector/README.md
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/otlp/opentelemetry/proto/collector/logs/v1/logs_service.proto
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/otlp/opentelemetry/proto/collector/logs/v1/logs_service_http.yaml
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/otlp/opentelemetry/proto/collector/metrics/v1/metrics_service.proto
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/otlp/opentelemetry/proto/collector/metrics/v1/metrics_service_http.yaml
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/otlp/opentelemetry/proto/collector/trace/v1/trace_service.proto
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/otlp/opentelemetry/proto/collector/trace/v1/trace_service_http.yaml
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/otlp/opentelemetry/proto/common/v1/common.proto
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/otlp/opentelemetry/proto/logs/v1/logs.proto
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/otlp/opentelemetry/proto/metrics/v1/metrics.proto
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/otlp/opentelemetry/proto/resource/v1/resource.proto
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/OtlpTestListener/otlp/opentelemetry/proto/trace/v1/trace.proto
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/otlptestlistener/README.md
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/ReverseProxyBasicScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/YarpImageTests.cs
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Port YARP image templates from nightly branch
  eng/dockerfile-templates/yarp/Dockerfile.envs
  eng/dockerfile-templates/yarp/Dockerfile.linux
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add YARP mcr-tags-metadata template
  eng/mcr-tags-metadata-templates/yarp-tags.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[main] Update common Docker engineering infrastructure with latest (#6998)
  README.aspire-dashboard.md
  README.aspnet.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/publish.yml
  eng/docker-tools/templates/variables/docker-images.yml
  eng/docker-tools/templates/variables/dotnet/common.yml
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update .NET 9 SDK to 9.0.310 (#6990)
  README.sdk.md
  manifest.versions.json
  src/sdk/9.0/alpine3.22/amd64/Dockerfile
  src/sdk/9.0/alpine3.22/arm32v7/Dockerfile
  src/sdk/9.0/alpine3.22/arm64v8/Dockerfile
  src/sdk/9.0/alpine3.23/amd64/Dockerfile
  src/sdk/9.0/alpine3.23/arm32v7/Dockerfile
  src/sdk/9.0/alpine3.23/arm64v8/Dockerfile
  src/sdk/9.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/9.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/9.0/bookworm-slim/amd64/Dockerfile
  src/sdk/9.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/9.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/9.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/9.0/noble/amd64/Dockerfile
  src/sdk/9.0/noble/arm32v7/Dockerfile
  src/sdk/9.0/noble/arm64v8/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2025/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove unused/leftover pipeline definitions
  eng/pipelines/dotnet-core-internal-nightly.yml
  eng/pipelines/dotnet-core-internal-pr.yml
  eng/pipelines/dotnet-core-internal-testing.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update README templates
  eng/readme-templates/About.md
  eng/readme-templates/About.yarp.md
  eng/readme-templates/Announcement.md
  eng/readme-templates/DefaultLayout.md
  eng/readme-templates/GitHub.header.md
  eng/readme-templates/README.mcr.md
  eng/readme-templates/RelatedRepos.md
  eng/readme-templates/ReposProvider.md
  eng/readme-templates/Support.md
  eng/readme-templates/Use.yarp.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Address review: Add unit tests for GetStagingPipelineRunId
  tests/UpdateDependencies.Tests/FromStagingPipelineCommandTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Use release staging storage container name instead of build ID for update-dependencies-internal logic (#7010)
  eng/pipelines/pipelines/update-dependencies-internal.yml
  eng/pipelines/update-dependencies-internal-official.yml
  eng/pipelines/update-dependencies-internal-unofficial.yml
  eng/update-dependencies/FromStagingPipelineCommand.cs
  eng/update-dependencies/FromStagingPipelineOptions.cs
  eng/update-dependencies/PipelineArtifactProvider.cs
  eng/update-dependencies/PipelinesService.cs
  eng/update-dependencies/Sync/IInternalVersionsService.cs
  eng/update-dependencies/Sync/InternalStageContainers.cs
  eng/update-dependencies/Sync/InternalVersionsService.cs
  eng/update-dependencies/Sync/SyncInternalReleaseCommand.cs
  tests/UpdateDependencies.Tests/FromStagingPipelineCommandTests.cs
  tests/UpdateDependencies.Tests/InternalStagingBuildsTests.cs
  tests/UpdateDependencies.Tests/SyncInternalReleaseTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Set git cli committer identity
  eng/update-dependencies/FromStagingPipelineCommand.cs
  eng/update-dependencies/Git/GitRepoHelperFactory.cs
  eng/update-dependencies/Sync/SyncInternalReleaseCommand.cs
  tests/UpdateDependencies.Tests/SyncInternalReleaseTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix git committer identity error in update-dependencies pipeline (#7013)
  eng/update-dependencies/FromStagingPipelineCommand.cs
  eng/update-dependencies/Git/GitRepoHelperFactory.cs
  eng/update-dependencies/Sync/SyncInternalReleaseCommand.cs
  tests/UpdateDependencies.Tests/SyncInternalReleaseTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from syft
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Disable SDK image content tests for .NET 11 + Windows
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/aspire
  manifest.versions.json
  src/aspire-dashboard/amd64/Dockerfile
  src/aspire-dashboard/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Disable PowerShell Invoke-WebRequest test for .NET 11 Windows
  tests/Microsoft.DotNet.Docker.Tests/PowerShellTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/copy-base-images-staging.yml
  eng/docker-tools/templates/jobs/copy-base-images.yml
  eng/docker-tools/templates/jobs/generate-matrix.yml
  eng/docker-tools/templates/jobs/post-build.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/stages/dotnet/publish.yml
  eng/docker-tools/templates/stages/publish.yml
  eng/docker-tools/templates/steps/init-common.yml
  eng/docker-tools/templates/steps/init-imagebuilder.yml
  eng/docker-tools/templates/steps/init-testrunner.yml
  eng/docker-tools/templates/steps/test-images-linux-client.yml
  eng/docker-tools/templates/steps/test-images-windows-client.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/copy-base-images-staging.yml
  eng/docker-tools/templates/jobs/copy-base-images.yml
  eng/docker-tools/templates/jobs/generate-matrix.yml
  eng/docker-tools/templates/jobs/post-build.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/stages/dotnet/publish.yml
  eng/docker-tools/templates/stages/publish.yml
  eng/docker-tools/templates/steps/init-common.yml
  eng/docker-tools/templates/steps/init-imagebuilder.yml
  eng/docker-tools/templates/steps/init-testrunner.yml
  eng/docker-tools/templates/steps/test-images-linux-client.yml
  eng/docker-tools/templates/steps/test-images-windows-client.yml
  eng/docker-tools/templates/variables/common.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update common Docker engineering infrastructure with latest (#7016)
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/copy-base-images-staging.yml
  eng/docker-tools/templates/jobs/copy-base-images.yml
  eng/docker-tools/templates/jobs/generate-matrix.yml
  eng/docker-tools/templates/jobs/post-build.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/stages/dotnet/publish.yml
  eng/docker-tools/templates/stages/publish.yml
  eng/docker-tools/templates/steps/init-common.yml
  eng/docker-tools/templates/steps/init-imagebuilder.yml
  eng/docker-tools/templates/steps/init-testrunner.yml
  eng/docker-tools/templates/steps/test-images-linux-client.yml
  eng/docker-tools/templates/steps/test-images-windows-client.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[main] Update common Docker engineering infrastructure with latest (#7009)
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/copy-base-images-staging.yml
  eng/docker-tools/templates/jobs/copy-base-images.yml
  eng/docker-tools/templates/jobs/generate-matrix.yml
  eng/docker-tools/templates/jobs/post-build.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/stages/dotnet/publish.yml
  eng/docker-tools/templates/stages/publish.yml
  eng/docker-tools/templates/steps/init-common.yml
  eng/docker-tools/templates/steps/init-imagebuilder.yml
  eng/docker-tools/templates/steps/init-testrunner.yml
  eng/docker-tools/templates/steps/test-images-linux-client.yml
  eng/docker-tools/templates/steps/test-images-windows-client.yml
  eng/docker-tools/templates/variables/common.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from syft (#7014)
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update syft to v1.41.1 (#7020)
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update common Docker engineering infrastructure with latest (#7018)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[main] Update common Docker engineering infrastructure with latest (#7019)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update aspire dashboard to 13.2.0-preview.1.26079.18 (#7005)
  manifest.versions.json
  src/aspire-dashboard/amd64/Dockerfile
  src/aspire-dashboard/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml
