Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

eng/pipelines/dotnet-core-nightly-pr-5.0.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly-pr-monitor.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      testMatrixCustomBuildLegGroupArgs: --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr-2.1.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr-3.1.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr-5.0.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-samples-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build

eng/pipelines/dotnet-core-size-validation-pr.yml:
  jobs:
  - template: ../common/templates/jobs/validate-image-sizes.yml

eng/pipelines/dotnet-monitor.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        buildMatrixType: platformVersionedOs

Remove apply .NET Fx patch since it exists in base image
  eng/dockerfile-templates/runtime/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/runtime/6.0/Dockerfile.windowsservercore
  src/runtime/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update helper script
  .github/ISSUE_TEMPLATE/releases/dotnet-release.md
  CONTRIBUTING.md
  eng/Set-DotnetVersions.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

5.0 on Alpine 3.12 Arm32 not supported
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  manifest.json
  src/aspnet/5.0/alpine3.12/arm32v7/Dockerfile
  src/runtime-deps/5.0/alpine3.12/arm32v7/Dockerfile
  src/runtime/5.0/alpine3.12/arm32v7/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove apply .NET Fx patch since it exists in base image (#2871)
  eng/dockerfile-templates/runtime/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/runtime/6.0/Dockerfile.windowsservercore
  src/runtime/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove entries from image size baselines
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

5.0 on Alpine 3.12 Arm32 not supported (#2873)
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  manifest.json
  src/aspnet/5.0/alpine3.12/arm32v7/Dockerfile
  src/runtime-deps/5.0/alpine3.12/arm32v7/Dockerfile
  src/runtime/5.0/alpine3.12/arm32v7/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/core-sdk
  manifest.versions.json
  src/sdk/6.0/alpine3.13/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.13/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/core-sdk (#2876)
  manifest.versions.json
  src/sdk/6.0/alpine3.13/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.13/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Revert ImageBuilder
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Delete Alpine 3.12 Dockerfiles, no longer supported
  CONTRIBUTING.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/2.1/alpine3.12/amd64/Dockerfile
  src/aspnet/3.1/alpine3.12/amd64/Dockerfile
  src/aspnet/3.1/alpine3.12/arm64v8/Dockerfile
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/alpine3.12/arm64v8/Dockerfile
  src/runtime-deps/2.1/alpine3.12/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.12/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.12/arm64v8/Dockerfile
  src/runtime/2.1/alpine3.12/amd64/Dockerfile
  src/runtime/3.1/alpine3.12/amd64/Dockerfile
  src/runtime/3.1/alpine3.12/arm64v8/Dockerfile
  src/runtime/5.0/alpine3.12/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/arm64v8/Dockerfile
  src/sdk/2.1/alpine3.12/amd64/Dockerfile
  src/sdk/3.1/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update readmes
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
Due: none

Update to latest preview 5 build
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Enable 5.0 tests for Alpine on Arm
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add Dockerfiles for CBL-Mariner (#2841)
  .github/ISSUE_TEMPLATE/releases/dotnet-release.md
  CONTRIBUTING.md
  eng/Set-DotnetVersions.ps1
  eng/dockerfile-templates/aspnet/3.1/Dockerfile.mariner
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.mariner
  eng/dockerfile-templates/aspnet/6.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime-deps/3.1/Dockerfile.mariner
  eng/dockerfile-templates/runtime-deps/6.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime/3.1/Dockerfile.mariner
  eng/dockerfile-templates/runtime/5.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime/6.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/3.1/Dockerfile.mariner
  eng/dockerfile-templates/sdk/5.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/6.0/Dockerfile.mariner
  eng/pipelines/update-dependencies.yml
  eng/update-dependencies/DockerfileShaUpdater.cs
  eng/update-dependencies/Options.cs
  eng/update-dependencies/VersionUpdater.cs
  manifest.json
  manifest.versions.json
  src/aspnet/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/aspnet/5.0/cbl-mariner1.0/amd64/Dockerfile
  src/aspnet/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime-deps/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/5.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/5.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Delete Alpine 3.12 Dockerfiles, no longer supported (#2877)
  CONTRIBUTING.md
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/2.1/alpine3.12/amd64/Dockerfile
  src/aspnet/3.1/alpine3.12/amd64/Dockerfile
  src/aspnet/3.1/alpine3.12/arm64v8/Dockerfile
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/alpine3.12/arm64v8/Dockerfile
  src/runtime-deps/2.1/alpine3.12/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.12/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.12/arm64v8/Dockerfile
  src/runtime/2.1/alpine3.12/amd64/Dockerfile
  src/runtime/3.1/alpine3.12/amd64/Dockerfile
  src/runtime/3.1/alpine3.12/arm64v8/Dockerfile
  src/runtime/5.0/alpine3.12/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/arm64v8/Dockerfile
  src/sdk/2.1/alpine3.12/amd64/Dockerfile
  src/sdk/3.1/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add Dockerfiles for CBL-Mariner (#2841)
  eng/dockerfile-templates/aspnet/3.1/Dockerfile.mariner
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.mariner
  eng/dockerfile-templates/aspnet/6.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime-deps/3.1/Dockerfile.mariner
  eng/dockerfile-templates/runtime-deps/6.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime/3.1/Dockerfile.mariner
  eng/dockerfile-templates/runtime/5.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime/6.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/3.1/Dockerfile.mariner
  eng/dockerfile-templates/sdk/5.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/6.0/Dockerfile.mariner
  manifest.json
  src/aspnet/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/aspnet/5.0/cbl-mariner1.0/amd64/Dockerfile
  src/aspnet/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime-deps/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/5.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/5.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Enable 5.0 tests for Alpine on Arm (#2878)
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Rolling back the SDK for 6.0 Preview 5 to the official build version
  manifest.versions.json
  src/sdk/6.0/alpine3.13/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.13/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Rolling back the SDK for 6.0 Preview 5 to the official build version (#2882)
  manifest.versions.json
  src/sdk/6.0/alpine3.13/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.13/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Delete 6.0 Mariner templates and Dockerfiles
  eng/dockerfile-templates/aspnet/6.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime-deps/6.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime/6.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/6.0/Dockerfile.mariner
  src/aspnet/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor
  README.monitor.md
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/core-sdk
  manifest.versions.json
  src/sdk/6.0/alpine3.13/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.13/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add Dockerfiles for CBL-Mariner (#2841) (#2881)
  eng/dockerfile-templates/aspnet/3.1/Dockerfile.mariner
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime-deps/3.1/Dockerfile.mariner
  eng/dockerfile-templates/runtime/3.1/Dockerfile.mariner
  eng/dockerfile-templates/runtime/5.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/3.1/Dockerfile.mariner
  eng/dockerfile-templates/sdk/5.0/Dockerfile.mariner
  manifest.json
  src/aspnet/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/aspnet/5.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime-deps/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/5.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/5.0/cbl-mariner1.0/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor (#2883)
  README.monitor.md
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Create demo
  demo
Due: eng/pipelines/dotnet-core-size-validation-pr.yml

Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update image size baselines (#2888)
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor (#2889)
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor (#2894)
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update dotnet-monitor environment variable test.
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add Dockerfiles for CBL-Mariner (#2841)
  .github/ISSUE_TEMPLATE/releases/dotnet-release.md
  CONTRIBUTING.md
  eng/Set-DotnetVersions.ps1
  eng/dockerfile-templates/aspnet/6.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime-deps/6.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime/6.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/6.0/Dockerfile.mariner
  eng/pipelines/update-dependencies.yml
  eng/update-dependencies/DockerfileShaUpdater.cs
  eng/update-dependencies/Options.cs
  eng/update-dependencies/VersionUpdater.cs
  manifest.json
  manifest.versions.json
  src/aspnet/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Updated 7.2.0-preview.5 -> 7.2.0-preview.6 on 6.0 images (#2840)
  manifest.versions.json
  src/sdk/6.0/alpine3.13/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Reenables test for 5.0 on Alpine arm
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Syndicate sample tags to old dotnet/core/samples repository
  manifest.samples.json
Due: eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Path conditions:
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json
