Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

eng/pipelines/dotnet-core-nightly-pr-5.0.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly-pr-monitor.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly-pr-no-cache.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      noCache: true

eng/pipelines/dotnet-core-nightly-pr.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-core-nightly.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-core-pr-2.1.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr-3.1.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr-5.0.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-samples-pr.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

Update image size baselines (#3614)
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/7.0 (#3612)
  manifest.versions.json
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/installer (#3613)
  manifest.versions.json
  src/sdk/7.0/alpine3.15/amd64/Dockerfile
  src/sdk/7.0/alpine3.15/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.15/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove mariner tags from readme
  eng/mcr-tags-metadata-templates/monitor-tags.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/7.0
  manifest.versions.json
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/6.1
  manifest.versions.json
  src/monitor/6.1/alpine/amd64/Dockerfile
  src/monitor/6.1/cbl-mariner/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update monitor template
  eng/dockerfile-templates/monitor/Dockerfile
  manifest.versions.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/6.1 (#3617)
  manifest.versions.json
  src/monitor/6.1/alpine/amd64/Dockerfile
  src/monitor/6.1/cbl-mariner/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/7.0 (#3616)
  manifest.versions.json
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Updates for RPM support
  eng/dockerfile-templates/Dockerfile.linux.copy-files
  eng/dockerfile-templates/Dockerfile.linux.download-and-install
  eng/dockerfile-templates/Dockerfile.linux.download-files
  eng/dockerfile-templates/Dockerfile.linux.install-files
  eng/dockerfile-templates/aspnet/Dockerfile.linux
  eng/dockerfile-templates/aspnet/Dockerfile.linux.install-aspnet
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime-deps/Dockerfile.download-runtime-deps-pkg
  eng/dockerfile-templates/runtime-deps/Dockerfile.install-runtime-deps-pkg
  eng/dockerfile-templates/runtime/Dockerfile.linux
  eng/dockerfile-templates/runtime/Dockerfile.linux.install-runtime
  eng/dockerfile-templates/sdk/Dockerfile.linux
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-sdk
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest (#3618)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/installer
  manifest.versions.json
  src/sdk/7.0/alpine3.15/amd64/Dockerfile
  src/sdk/7.0/alpine3.15/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.15/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Package version updates for Ubuntu 22.04
  eng/dockerfile-templates/Dockerfile.linux.install-deps
  manifest.versions.json
  src/runtime-deps/6.0/jammy/amd64/Dockerfile
  src/runtime-deps/6.0/jammy/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Package version updates for Ubuntu 22.04 (#3621)
  eng/dockerfile-templates/Dockerfile.linux.install-deps
  manifest.versions.json
  src/runtime-deps/6.0/jammy/amd64/Dockerfile
  src/runtime-deps/6.0/jammy/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/installer (#3622)
  manifest.versions.json
  src/sdk/7.0/alpine3.15/amd64/Dockerfile
  src/sdk/7.0/alpine3.15/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.15/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest (#3619)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Dockerfile template support for internal .NET builds (#3565)
  eng/dockerfile-templates/Dockerfile.linux.copy-files
  eng/dockerfile-templates/Dockerfile.linux.download-and-install
  eng/dockerfile-templates/Dockerfile.linux.download-files
  eng/dockerfile-templates/Dockerfile.linux.install-files
  eng/dockerfile-templates/aspnet/Dockerfile.linux
  eng/dockerfile-templates/aspnet/Dockerfile.linux.install-aspnet
  eng/dockerfile-templates/aspnet/Dockerfile.windows
  eng/dockerfile-templates/aspnet/Dockerfile.windows.install-aspnet
  eng/dockerfile-templates/monitor/Dockerfile
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime-deps/Dockerfile.download-runtime-deps-pkg
  eng/dockerfile-templates/runtime-deps/Dockerfile.install-runtime-deps-pkg
  eng/dockerfile-templates/runtime/Dockerfile.linux
  eng/dockerfile-templates/runtime/Dockerfile.linux.install-runtime
  eng/dockerfile-templates/runtime/Dockerfile.windows
  eng/dockerfile-templates/runtime/Dockerfile.windows.install-runtime
  eng/dockerfile-templates/sdk/Dockerfile.linux
  eng/dockerfile-templates/sdk/Dockerfile.linux.first-run
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-sdk
  eng/dockerfile-templates/sdk/Dockerfile.windows
  eng/dockerfile-templates/sdk/Dockerfile.windows.install-components
  eng/dockerfile-templates/sdk/Dockerfile.windows.install-powershell
  eng/dockerfile-templates/sdk/Dockerfile.windows.install-sdk
  manifest.versions.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/installer (#3623)
  manifest.versions.json
  src/sdk/7.0/alpine3.15/amd64/Dockerfile
  src/sdk/7.0/alpine3.15/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.15/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Move floating Alpine tags to Alpine 3.15
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  manifest.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update 7.0 SDK to official build for Preview 3
  manifest.versions.json
  src/sdk/7.0/alpine3.15/amd64/Dockerfile
  src/sdk/7.0/alpine3.15/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.15/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add authentication validation for .NET Monitor images (#3575)
  tests/Microsoft.DotNet.Docker.Tests/DockerRunArgsBuilder.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add .NET Monitor 6.1 CBL-Mariner 1.0 amd64 image (#3585)
  manifest.json
  src/monitor/6.1/cbl-mariner/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[Dotnet Monitor] Update alpine images to 3.15 (#3587)
  README.monitor.md
  manifest.json
  src/monitor/6.0/alpine/amd64/Dockerfile
  src/monitor/6.1/alpine/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix .NET monitor Dockerfile template
  eng/dockerfile-templates/monitor/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix up missing changes from rebase
  eng/dockerfile-templates/monitor/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Updates for .NET Monitor 6.1 servicing
  README.monitor.md
  manifest.versions.json
  src/monitor/6.1/alpine/amd64/Dockerfile
  src/monitor/6.1/cbl-mariner/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update 7.0 SDK to official build for Preview 3 (#3628)
  manifest.versions.json
  src/sdk/7.0/alpine3.15/amd64/Dockerfile
  src/sdk/7.0/alpine3.15/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.15/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Aspnet targeting pack RPM arch changes
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-sdk
  eng/update-dependencies/DockerfileShaUpdater.cs
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Path conditions:
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json
