Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

eng/pipelines/dotnet-core-nightly.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        buildMatrixType: platformVersionedOs
        customBuildLegGrouping: pr-build
        windowsArmBuildJobTimeout: 120

eng/pipelines/dotnet-core-samples.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        buildMatrixType: platformVersionedOs

eng/pipelines/dotnet-core-size-validation-pr.yml:
  jobs:
  - template: ../common/templates/jobs/validate-image-sizes.yml

eng/pipelines/dotnet-core.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        buildMatrixType: platformVersionedOs
        customBuildLegGrouping: pr-build

Update common Docker engineering infrastructure with latest (#1869)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Remove support for Windows ARM (#1870)
  3.1/aspnet/nanoserver-1809/arm32v7/Dockerfile
  3.1/runtime/nanoserver-1809/arm32v7/Dockerfile
  3.1/sdk/nanoserver-1809/arm32v7/Dockerfile
  README.aspnet.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  documentation/platform-matrix-suport.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/samples-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  manifest.samples.json
  samples/aspnetapp/Dockerfile.nanoserver-arm32
  samples/dotnetapp/Dockerfile.nanoserver-arm32
  samples/selecting-tags.md
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.windows.arm
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.windows.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Remove support for Alpine 3.10
  2.1/aspnet/alpine3.10/amd64/Dockerfile
  2.1/runtime-deps/alpine3.10/amd64/Dockerfile
  2.1/runtime/alpine3.10/amd64/Dockerfile
  2.1/sdk/alpine3.10/amd64/Dockerfile
  3.1/aspnet/alpine3.10/amd64/Dockerfile
  3.1/aspnet/alpine3.10/arm64v8/Dockerfile
  3.1/runtime-deps/alpine3.10/amd64/Dockerfile
  3.1/runtime-deps/alpine3.10/arm64v8/Dockerfile
  3.1/runtime/alpine3.10/amd64/Dockerfile
  3.1/runtime/alpine3.10/arm64v8/Dockerfile
  3.1/sdk/alpine3.10/amd64/Dockerfile
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  samples/selecting-tags.md
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Remove support for Alpine 3.10 (#1871)
  2.1/aspnet/alpine3.10/amd64/Dockerfile
  2.1/runtime-deps/alpine3.10/amd64/Dockerfile
  2.1/runtime/alpine3.10/amd64/Dockerfile
  2.1/sdk/alpine3.10/amd64/Dockerfile
  3.1/aspnet/alpine3.10/amd64/Dockerfile
  3.1/aspnet/alpine3.10/arm64v8/Dockerfile
  3.1/runtime-deps/alpine3.10/amd64/Dockerfile
  3.1/runtime-deps/alpine3.10/arm64v8/Dockerfile
  3.1/runtime/alpine3.10/amd64/Dockerfile
  3.1/runtime/alpine3.10/arm64v8/Dockerfile
  3.1/sdk/alpine3.10/amd64/Dockerfile
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  samples/selecting-tags.md
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Remove locale env vars from 5.0 SDK on Alpine
  5.0/sdk/alpine3.11/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster-slim/amd64/Dockerfile
  5.0/sdk/buster-slim/arm32v7/Dockerfile
  5.0/sdk/buster-slim/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Remove locale env vars from 5.0 SDK on Alpine (#1875)
  5.0/sdk/alpine3.11/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk (#1876)
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster-slim/amd64/Dockerfile
  5.0/sdk/buster-slim/arm32v7/Dockerfile
  5.0/sdk/buster-slim/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#1872)
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#1873)
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk
  5.0/aspnet/alpine3.11/amd64/Dockerfile
  5.0/aspnet/alpine3.11/arm64v8/Dockerfile
  5.0/aspnet/buster-slim/amd64/Dockerfile
  5.0/aspnet/buster-slim/arm32v7/Dockerfile
  5.0/aspnet/buster-slim/arm64v8/Dockerfile
  5.0/aspnet/focal/amd64/Dockerfile
  5.0/aspnet/focal/arm32v7/Dockerfile
  5.0/aspnet/focal/arm64v8/Dockerfile
  5.0/aspnet/nanoserver-1809/amd64/Dockerfile
  5.0/aspnet/nanoserver-1903/amd64/Dockerfile
  5.0/aspnet/nanoserver-1909/amd64/Dockerfile
  5.0/runtime/alpine3.11/amd64/Dockerfile
  5.0/runtime/alpine3.11/arm64v8/Dockerfile
  5.0/runtime/buster-slim/amd64/Dockerfile
  5.0/runtime/buster-slim/arm32v7/Dockerfile
  5.0/runtime/buster-slim/arm64v8/Dockerfile
  5.0/runtime/focal/amd64/Dockerfile
  5.0/runtime/focal/arm32v7/Dockerfile
  5.0/runtime/focal/arm64v8/Dockerfile
  5.0/runtime/nanoserver-1809/amd64/Dockerfile
  5.0/runtime/nanoserver-1903/amd64/Dockerfile
  5.0/runtime/nanoserver-1909/amd64/Dockerfile
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster-slim/amd64/Dockerfile
  5.0/sdk/buster-slim/arm32v7/Dockerfile
  5.0/sdk/buster-slim/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk (#1879)
  5.0/aspnet/alpine3.11/amd64/Dockerfile
  5.0/aspnet/alpine3.11/arm64v8/Dockerfile
  5.0/aspnet/buster-slim/amd64/Dockerfile
  5.0/aspnet/buster-slim/arm32v7/Dockerfile
  5.0/aspnet/buster-slim/arm64v8/Dockerfile
  5.0/aspnet/focal/amd64/Dockerfile
  5.0/aspnet/focal/arm32v7/Dockerfile
  5.0/aspnet/focal/arm64v8/Dockerfile
  5.0/aspnet/nanoserver-1809/amd64/Dockerfile
  5.0/aspnet/nanoserver-1903/amd64/Dockerfile
  5.0/aspnet/nanoserver-1909/amd64/Dockerfile
  5.0/runtime/alpine3.11/amd64/Dockerfile
  5.0/runtime/alpine3.11/arm64v8/Dockerfile
  5.0/runtime/buster-slim/amd64/Dockerfile
  5.0/runtime/buster-slim/arm32v7/Dockerfile
  5.0/runtime/buster-slim/arm64v8/Dockerfile
  5.0/runtime/focal/amd64/Dockerfile
  5.0/runtime/focal/arm32v7/Dockerfile
  5.0/runtime/focal/arm64v8/Dockerfile
  5.0/runtime/nanoserver-1809/amd64/Dockerfile
  5.0/runtime/nanoserver-1903/amd64/Dockerfile
  5.0/runtime/nanoserver-1909/amd64/Dockerfile
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster-slim/amd64/Dockerfile
  5.0/sdk/buster-slim/arm32v7/Dockerfile
  5.0/sdk/buster-slim/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#1880)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#1881)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Move snippets to documentation folder
  documentation/scenarios/README.md
  documentation/scenarios/installing-dotnet.md
  documentation/scenarios/nuget-credentials.md
  documentation/scenarios/using-system-drawing-common.md
  samples/snippets/README.md
  samples/snippets/installing-dotnet.md
  samples/snippets/nuget-credentials.md
  samples/snippets/using-system-drawing-common.md
Due: eng/pipelines/dotnet-core-samples.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Removed section from samples readme
  samples/README.md
Due: eng/pipelines/dotnet-core-samples.yml

test
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update 5.0 repo name to "nightly" instead of "core-nightly"
  README.aspnet.md
  README.aspnet.preview.md
  README.runtime-deps.preview.md
  README.runtime.md
  README.runtime.preview.md
  README.sdk.preview.md
  eng/Get-TagsDocumentation.ps1
  eng/mcr-tags-metadata-templates/aspnet-preview-tags.yml
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-preview-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-preview-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-preview-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/SampleImageData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Add logging
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Fix repo references
  manifest.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Fix sample tests
  tests/Microsoft.DotNet.Docker.Tests/SampleImageData.cs
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update for samples
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Updates
  eng/common/templates/jobs/publish.yml
  eng/pipelines/dotnet-core-samples.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Contains check
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Fix conditional logic
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Add back link to scenarios from samples readme
  samples/README.md
Due: eng/pipelines/dotnet-core-samples.yml

Fix variable casing
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Apply suggestions from code review
  samples/README.md
Due: eng/pipelines/dotnet-core-samples.yml

Fix header capitalization
  samples/README.md
Due: eng/pipelines/dotnet-core-samples.yml

Move snippets to documentation folder (#1884)
  documentation/scenarios/README.md
  documentation/scenarios/installing-dotnet.md
  documentation/scenarios/nuget-credentials.md
  documentation/scenarios/using-system-drawing-common.md
  samples/README.md
  samples/snippets/README.md
  samples/snippets/installing-dotnet.md
  samples/snippets/nuget-credentials.md
  samples/snippets/using-system-drawing-common.md
Due: eng/pipelines/dotnet-core-samples.yml

Update repo IDs
  README.aspnet.preview.md
  README.runtime-deps.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  eng/mcr-tags-metadata-templates/aspnet-preview-tags.yml
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/core-aspnet-tags.yml
  eng/mcr-tags-metadata-templates/core-runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/core-runtime-tags.yml
  eng/mcr-tags-metadata-templates/core-sdk-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-preview-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-preview-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-preview-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Branding name updates
  README.aspnet.md
  README.aspnet.preview.md
  README.md
  README.runtime-deps.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
Due: none

Path conditions:
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, 2.1, 3.1, 5.0
  eng/pipelines/dotnet-core-samples.yml: any of: eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-core.yml: any file but: documentation, README*, samples
