Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

Path conditions:
  eng/pipelines/dotnet-core-internal-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json

Use platform specific windows server version for complex app test
  samples/complexapp/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Revert "Use platform specific windows server version for complex app test"
  samples/complexapp/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Disable test on Windows
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Switch to public builds url for 8.0
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/installer
  manifest.versions.json
  src/sdk/8.0/alpine3.18/amd64/Dockerfile
  src/sdk/8.0/alpine3.18/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.18/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update ENTRYPOINT
  samples/releasesapp/Dockerfile
  samples/releasesapp/Dockerfile.alpine
  samples/releasesapp/Dockerfile.chiseled
Due: eng/pipelines/dotnet-core-samples-pr.yml

Remove preview tag from readmes
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.monitor-base.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.sdk.portal.md
  README.aspnet.md
  README.monitor-base.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/readme-templates/FeaturedTags.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add nuget.config for nightly feed
  samples/releasesapi/Dockerfile
  samples/releasesapi/Dockerfile.alpine
  samples/releasesapi/Dockerfile.alpine-icu
  samples/releasesapi/Dockerfile.cbl-mariner
  samples/releasesapi/Dockerfile.debian
  samples/releasesapi/Dockerfile.debian-cross-arm64-x64
  samples/releasesapi/Dockerfile.debian-cross-x64-arm64
  samples/releasesapi/nuget.config
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update ENTRYPOINT of `releasesapp` sample (#4874)
  samples/releasesapp/Dockerfile
  samples/releasesapp/Dockerfile.alpine
  samples/releasesapp/Dockerfile.chiseled
Due: eng/pipelines/dotnet-core-samples-pr.yml

Add RC wording to readme
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.monitor-base.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.sdk.portal.md
  README.aspnet.md
  README.monitor-base.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/readme-templates/FeaturedTags.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add RC section to readmes
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.sdk.portal.md
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/readme-templates/FeaturedTags.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/installer (#4872)
  manifest.versions.json
  src/sdk/8.0/alpine3.18/amd64/Dockerfile
  src/sdk/8.0/alpine3.18/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.18/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add nuget.config for nightly feed (#4876)
  samples/releasesapi/Dockerfile
  samples/releasesapi/Dockerfile.alpine
  samples/releasesapi/Dockerfile.alpine-icu
  samples/releasesapi/Dockerfile.cbl-mariner
  samples/releasesapi/Dockerfile.debian
  samples/releasesapi/Dockerfile.debian-cross-arm64-x64
  samples/releasesapi/Dockerfile.debian-cross-x64-arm64
  samples/releasesapi/nuget.config
Due: eng/pipelines/dotnet-core-samples-pr.yml

Fix bad math
  samples/aspnetapp/aspnetapp/EnvironmentInfo.cs
  samples/aspnetapp/aspnetapp/Pages/Index.cshtml
  samples/dotnetapp/Program.cs
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update README.md
  samples/releasesapi/README.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Move jammy chiseled test dependency to correct image
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove package install
  samples/releasesapi/Dockerfile.cbl-mariner
Due: eng/pipelines/dotnet-core-samples-pr.yml

Improve ascii art
  samples/dotnetapp/Program.cs
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update README.md (#4880)
  samples/releasesapi/README.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Fix bad math (#4879)
  samples/aspnetapp/aspnetapp/EnvironmentInfo.cs
  samples/aspnetapp/aspnetapp/Pages/Index.cshtml
  samples/dotnetapp/Program.cs
Due: eng/pipelines/dotnet-core-samples-pr.yml

md
  samples/run-in-sdk-container.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update to new version of 8.0 RC.1 SDK
  manifest.versions.json
  src/sdk/8.0/alpine3.18/amd64/Dockerfile
  src/sdk/8.0/alpine3.18/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.18/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update monitor tags
  .mar/portal/README.monitor-base.portal.md
  .mar/portal/README.monitor.portal.md
  README.monitor-base.md
  README.monitor.md
  eng/readme-templates/FeaturedTags.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update to new version of .NET 8.0 RC.1 SDK (#4885)
  manifest.versions.json
  src/sdk/8.0/alpine3.18/amd64/Dockerfile
  src/sdk/8.0/alpine3.18/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.18/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add RC section to readmes (#4878)
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.monitor-base.portal.md
  .mar/portal/README.monitor.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.sdk.portal.md
  README.aspnet.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/readme-templates/FeaturedTags.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update releasesapi nuget.config
  samples/releasesapi/nuget.config
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update releasesapi nuget.config (#4887)
  samples/releasesapi/nuget.config
Due: eng/pipelines/dotnet-core-samples-pr.yml

Write indented JSON
  samples/releasesapp/Program.cs
Due: eng/pipelines/dotnet-core-samples-pr.yml

Add NL
  samples/releasesapp/Program.cs
Due: eng/pipelines/dotnet-core-samples-pr.yml

Write indented JSON (#4888)
  samples/releasesapp/Program.cs
Due: eng/pipelines/dotnet-core-samples-pr.yml

Remove package install (#4882)
  samples/releasesapi/Dockerfile.cbl-mariner
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update image sizes
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add Jammy Chiseled to sample image data
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove .NET Monitor 7.1 images
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  manifest.versions.json
  src/monitor/7.1/alpine/amd64/Dockerfile
  src/monitor/7.1/alpine/arm64v8/Dockerfile
  src/monitor/7.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.1/cbl-mariner/amd64/Dockerfile
  src/monitor/7.1/cbl-mariner/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update unpublished sample image data
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml
