Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

eng/pipelines/dotnet-core-nightly-pr-5.0.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly-pr-monitor.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly-pr-no-cache.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      noCache: true

eng/pipelines/dotnet-core-nightly-pr.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-core-nightly.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-core-pr-2.1.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr-3.1.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr-5.0.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-samples-pr.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

Use consistent ordering of extraction paths
  eng/dockerfile-templates/sdk/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/6.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/7.0/Dockerfile.windowsservercore
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Use consistent formatting for PowerShell commands in sdk Dockerfiles (#3461)
  eng/dockerfile-templates/sdk/3.1/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/6.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/7.0/Dockerfile.nanoserver
  src/sdk/3.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/3.1/nanoserver-20H2/amd64/Dockerfile
  src/sdk/3.1/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/7.0
  manifest.versions.json
  src/monitor/7.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Use consistent ordering of extraction paths (#3462)
  eng/dockerfile-templates/sdk/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/6.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/7.0/Dockerfile.windowsservercore
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/7.0 (#3463)
  manifest.versions.json
  src/monitor/7.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Use consistent templates for targeting pack RPM URLs
  eng/dockerfile-templates/sdk/7.0/Dockerfile.mariner
  manifest.versions.json
  src/sdk/7.0/cbl-mariner1.0/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Port image reduction fix in monitor.7.0 to monitor/6.0 and monitor/6.1
  eng/dockerfile-templates/monitor/6.0/Dockerfile.alpine
  eng/dockerfile-templates/monitor/6.1/Dockerfile.alpine
  src/monitor/6.0/alpine/amd64/Dockerfile
  src/monitor/6.1/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update image sizes for newer image stripping being done during build
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Dotnet-Monitor reduce image size (#3467)
  eng/dockerfile-templates/monitor/6.0/Dockerfile.alpine
  eng/dockerfile-templates/monitor/6.1/Dockerfile.alpine
  src/monitor/6.0/alpine/amd64/Dockerfile
  src/monitor/6.1/alpine/amd64/Dockerfile
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Refactor .NET Monitor templates into single template
  eng/dockerfile-templates/monitor/6.1/Dockerfile.alpine
  eng/dockerfile-templates/monitor/7.0/Dockerfile.alpine
  eng/dockerfile-templates/monitor/Dockerfile
  manifest.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/6.1
  manifest.versions.json
  src/monitor/6.1/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/7.0
  README.monitor.md
  manifest.versions.json
  src/monitor/7.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest (#3465)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest (#3466)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix up Dockerfiles for consistency (#3375)
  eng/dockerfile-templates/sdk/3.1/Dockerfile.alpine
  eng/dockerfile-templates/sdk/3.1/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/5.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/6.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/6.0/Dockerfile.nanoserver
  src/sdk/3.1/alpine3.14/amd64/Dockerfile
  src/sdk/3.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/3.1/nanoserver-20H2/amd64/Dockerfile
  src/sdk/3.1/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/5.0/alpine3.14/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Define PowerShell install Dockerfile sub-template (#3382)
  eng/dockerfile-templates/Dockerfile.linux.download-file
  eng/dockerfile-templates/sdk/3.1/Dockerfile.alpine
  eng/dockerfile-templates/sdk/3.1/Dockerfile.linux
  eng/dockerfile-templates/sdk/3.1/Dockerfile.mariner
  eng/dockerfile-templates/sdk/3.1/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/5.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/5.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/5.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/6.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/6.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/6.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/6.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/6.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-powershell
  eng/dockerfile-templates/sdk/Dockerfile.windows.install-powershell
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update .NET 7 Dockerfiles to new blob account (#3381)
  eng/Get-Branch.ps1
  eng/dockerfile-templates/Get-GeneratedDockerfiles.ps1
  eng/readme-templates/Get-GeneratedReadmes.ps1
  eng/update-dependencies/DockerfileShaUpdater.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Break aspnet Dockerfile templates into finer-grained sub-templates (#3404)
  eng/dockerfile-templates/Dockerfile.linux.download-file
  eng/dockerfile-templates/aspnet/3.1/Dockerfile.alpine
  eng/dockerfile-templates/aspnet/3.1/Dockerfile.linux
  eng/dockerfile-templates/aspnet/3.1/Dockerfile.mariner
  eng/dockerfile-templates/aspnet/3.1/Dockerfile.nanoserver
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.alpine
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.linux
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.mariner
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/aspnet/6.0/Dockerfile.alpine
  eng/dockerfile-templates/aspnet/6.0/Dockerfile.linux
  eng/dockerfile-templates/aspnet/6.0/Dockerfile.mariner
  eng/dockerfile-templates/aspnet/6.0/Dockerfile.mariner-distroless
  eng/dockerfile-templates/aspnet/6.0/Dockerfile.nanoserver
  eng/dockerfile-templates/aspnet/6.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/aspnet/Dockerfile.env-vars
  eng/dockerfile-templates/aspnet/Dockerfile.linux
  eng/dockerfile-templates/aspnet/Dockerfile.linux.install-aspnet
  eng/dockerfile-templates/aspnet/Dockerfile.windows
  eng/dockerfile-templates/aspnet/Dockerfile.windows.install-aspnet
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-powershell
  eng/dockerfile-templates/sdk/Dockerfile.windows.install-powershell
  manifest.json
  manifest.versions.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix inconsistencies in runtime-deps Dockerfiles (#3412)
  eng/dockerfile-templates/runtime-deps/6.0/Dockerfile.mariner-distroless
  src/runtime-deps/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Refactor runtime-deps templates (#3422)
  eng/dockerfile-templates/Dockerfile.linux.install-pkgs
  eng/dockerfile-templates/runtime-deps/3.1/Dockerfile.alpine
  eng/dockerfile-templates/runtime-deps/3.1/Dockerfile.linux
  eng/dockerfile-templates/runtime-deps/3.1/Dockerfile.mariner
  eng/dockerfile-templates/runtime-deps/5.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime-deps/6.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime-deps/6.0/Dockerfile.mariner-distroless
  eng/dockerfile-templates/runtime-deps/Dockerfile
  manifest.json
  manifest.versions.json
  src/runtime-deps/5.0/alpine3.14/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Refactor update-dependencies pipeline for multiple .NET Monitor versions (#3432)
  eng/pipelines/update-dependencies.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove single quotes from var assignment (#3437)
  eng/dockerfile-templates/runtime/6.0/Dockerfile.mariner-distroless
  src/runtime/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Refactor runtime Dockerfile templates (#3445)
  eng/dockerfile-templates/Dockerfile.alpine.invariant-mode
  eng/dockerfile-templates/Dockerfile.common-dotnet-envs
  eng/dockerfile-templates/Dockerfile.linux.download-file
  eng/dockerfile-templates/Dockerfile.linux.extract-tarball
  eng/dockerfile-templates/Dockerfile.linux.install-rpms
  eng/dockerfile-templates/Dockerfile.windows.download-file
  eng/dockerfile-templates/Dockerfile.windows.extract-zip
  eng/dockerfile-templates/aspnet/Dockerfile.envs
  eng/dockerfile-templates/aspnet/Dockerfile.linux
  eng/dockerfile-templates/aspnet/Dockerfile.linux.install-aspnet
  eng/dockerfile-templates/aspnet/Dockerfile.windows
  eng/dockerfile-templates/aspnet/Dockerfile.windows.install-aspnet
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime/3.1/Dockerfile.alpine
  eng/dockerfile-templates/runtime/3.1/Dockerfile.linux
  eng/dockerfile-templates/runtime/3.1/Dockerfile.mariner
  eng/dockerfile-templates/runtime/3.1/Dockerfile.nanoserver
  eng/dockerfile-templates/runtime/5.0/Dockerfile.alpine
  eng/dockerfile-templates/runtime/5.0/Dockerfile.linux
  eng/dockerfile-templates/runtime/5.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/runtime/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/runtime/6.0/Dockerfile.alpine
  eng/dockerfile-templates/runtime/6.0/Dockerfile.linux
  eng/dockerfile-templates/runtime/6.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime/6.0/Dockerfile.mariner-distroless
  eng/dockerfile-templates/runtime/6.0/Dockerfile.nanoserver
  eng/dockerfile-templates/runtime/6.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/runtime/Dockerfile.envs
  eng/dockerfile-templates/runtime/Dockerfile.linux
  eng/dockerfile-templates/runtime/Dockerfile.linux.install-runtime
  eng/dockerfile-templates/runtime/Dockerfile.linux.symlink
  eng/dockerfile-templates/runtime/Dockerfile.windows
  eng/dockerfile-templates/runtime/Dockerfile.windows.install-runtime
  eng/dockerfile-templates/runtime/Dockerfile.windows.set-path
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-powershell
  eng/dockerfile-templates/sdk/Dockerfile.windows.install-powershell
  manifest.json
  src/runtime/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Disable aspnet test for distroless (#3449)
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove extra space in sdk Dockerfiles (#3456)
  eng/dockerfile-templates/sdk/3.1/Dockerfile.alpine
  eng/dockerfile-templates/sdk/5.0/Dockerfile.linux
  src/sdk/3.1/alpine3.14/amd64/Dockerfile
  src/sdk/5.0/bullseye-slim/amd64/Dockerfile
  src/sdk/5.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/5.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Use consistent variable names between .NET versions (#3457)
  eng/dockerfile-templates/sdk/3.1/Dockerfile.alpine
  eng/dockerfile-templates/sdk/3.1/Dockerfile.linux
  eng/dockerfile-templates/sdk/3.1/Dockerfile.mariner
  eng/dockerfile-templates/sdk/3.1/Dockerfile.nanoserver
  src/sdk/3.1/alpine3.14/amd64/Dockerfile
  src/sdk/3.1/bionic/amd64/Dockerfile
  src/sdk/3.1/bionic/arm32v7/Dockerfile
  src/sdk/3.1/bionic/arm64v8/Dockerfile
  src/sdk/3.1/bullseye/amd64/Dockerfile
  src/sdk/3.1/bullseye/arm32v7/Dockerfile
  src/sdk/3.1/bullseye/arm64v8/Dockerfile
  src/sdk/3.1/buster/amd64/Dockerfile
  src/sdk/3.1/buster/arm32v7/Dockerfile
  src/sdk/3.1/buster/arm64v8/Dockerfile
  src/sdk/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/3.1/focal/amd64/Dockerfile
  src/sdk/3.1/focal/arm32v7/Dockerfile
  src/sdk/3.1/focal/arm64v8/Dockerfile
  src/sdk/3.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/3.1/nanoserver-20H2/amd64/Dockerfile
  src/sdk/3.1/nanoserver-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Use inline powershell command instead of SHELL (#3458)
  eng/dockerfile-templates/sdk/3.1/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/6.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/6.0/Dockerfile.windowsservercore
  src/sdk/3.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/3.1/nanoserver-20H2/amd64/Dockerfile
  src/sdk/3.1/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Use consistent formatting for PowerShell commands in sdk Dockerfiles (#3461)
  eng/dockerfile-templates/sdk/3.1/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/6.0/Dockerfile.nanoserver
  src/sdk/3.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/3.1/nanoserver-20H2/amd64/Dockerfile
  src/sdk/3.1/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Use consistent ordering of extraction paths (#3462)
  eng/dockerfile-templates/sdk/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/6.0/Dockerfile.windowsservercore
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Use build versions in .NET Monitor URLs. (#3446)
  README.monitor.md
  eng/dockerfile-templates/monitor/6.0/Dockerfile.alpine
  manifest.versions.json
  src/monitor/6.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Dotnet-Monitor reduce image size (#3467)
  eng/dockerfile-templates/monitor/6.0/Dockerfile.alpine
  src/monitor/6.0/alpine/amd64/Dockerfile
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove Json as default console logging formatter in aspnet images for 7.0 (#3451)
  eng/dockerfile-templates/aspnet/Dockerfile.envs
  src/aspnet/5.0/alpine3.14/amd64/Dockerfile
  src/aspnet/5.0/alpine3.14/arm32v7/Dockerfile
  src/aspnet/5.0/alpine3.14/arm64v8/Dockerfile
  src/aspnet/5.0/bullseye-slim/amd64/Dockerfile
  src/aspnet/5.0/bullseye-slim/arm32v7/Dockerfile
  src/aspnet/5.0/bullseye-slim/arm64v8/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/arm32v7/Dockerfile
  src/aspnet/5.0/buster-slim/arm64v8/Dockerfile
  src/aspnet/5.0/cbl-mariner1.0/amd64/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/aspnet/5.0/focal/arm32v7/Dockerfile
  src/aspnet/5.0/focal/arm64v8/Dockerfile
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-20H2/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/aspnet/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/aspnet/5.0/windowsservercore-ltsc2022/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add PowerShell 7.3.0-preview.1 to .NET 7 SDK Dockerfiles (#3359)
  tests/Microsoft.DotNet.Docker.Tests/Config.cs
  tests/Microsoft.DotNet.Docker.Tests/HttpClientExtensions.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Enable collection of component data in build (#3319)
  eng/common/package-scripts/get-installed-packages.container.sh
  eng/common/package-scripts/get-installed-packages.sh
  eng/common/package-scripts/get-upgradable-packages.container.bash.sh
  eng/common/package-scripts/get-upgradable-packages.container.sh
  eng/common/package-scripts/get-upgradable-packages.sh
  eng/common/templates/jobs/build-images.yml
  eng/package-scripts/cbl-mariner-distroless/dotnet7/get-installed-packages.1.0.sh
  eng/package-scripts/cbl-mariner-distroless/dotnet7/get-installed-packages.sh
  eng/package-scripts/cbl-mariner-distroless/get-installed-packages.1.0.sh
  eng/package-scripts/cbl-mariner-distroless/get-installed-packages.sh
  eng/package-scripts/cbl-mariner-distroless/get-upgradable-packages.1.0.sh
  eng/package-scripts/cbl-mariner-distroless/get-upgradable-packages.sh
  manifest.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Path conditions:
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json
