Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

eng/pipelines/dotnet-core-internal-nightly.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      stages:
      - template: /eng/pipelines/stages/build-test-publish-repo.yml@self
        parameters:
          internalProjectName: ${{ variables.internalProjectName }}
  ...

eng/pipelines/dotnet-core-internal-testing.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      stages:
      - template: stages/build-test-publish-repo.yml
        parameters:
          internalProjectName: ${{ variables.internalProjectName }}
          publicProjectName: ${{ variables.publicProjectName }}
  ...

eng/pipelines/dotnet-core-nightly-pr-5.0.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly-pr-monitor.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-nightly-pr-no-cache.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      noCache: true

eng/pipelines/dotnet-core-nightly-pr.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-core-nightly.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      stages:
      - template: /eng/pipelines/stages/build-test-publish-repo.yml@self
        parameters:
          internalProjectName: ${{ variables.internalProjectName }}
  ...

eng/pipelines/dotnet-core-pr-2.1.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr-3.1.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

eng/pipelines/dotnet-core-pr-5.0.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build --custom-build-leg-group test-dependencies

Add stubs for new release pipelines (#6262)
  eng/pipelines/release-promotion.yml
  eng/pipelines/release-staging.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from syft (#6263)
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update Aspire Dashboard to 9.1.0-preview.1.25121.10 (#6265)
  .portal-docs/docker-hub/README.aspire-dashboard.md
  .portal-docs/mar/README.aspire-dashboard.portal.md
  README.aspire-dashboard.md
  eng/mcr-tags-metadata-templates/aspire-dashboard-tags.yml
  eng/readme-templates/FeaturedTags.md
  manifest.json
  manifest.versions.json
  src/aspire-dashboard/9.1/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/9.1/cbl-mariner-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/aspire-dashboard-9.1-cbl-mariner-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/aspire-dashboard-9.1-cbl-mariner-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/Invoke-ImageBuilder.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add ACCESSTOKEN support to Aspire Dashboard and YARP internal Dockerfiles (#6286)
  eng/dockerfile-templates/aspire-dashboard/Dockerfile.linux
  eng/dockerfile-templates/aspire-dashboard/Dockerfile.linux.install-aspire-dashboard
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/aspire-dashboard-9.1-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/aspire-dashboard-9.1-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/reverse-proxy-2.3-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/reverse-proxy-2.3-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add retries to SDK download in VerifyDotnetFolderContents test (#6281)
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/WebScenario.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove pre .NET Monitor 8 templates (#6220)
  eng/dockerfile-templates/monitor/Dockerfile.entrypoint.monitorV6
  eng/dockerfile-templates/monitor/Dockerfile.envs
  eng/dockerfile-templates/monitor/Dockerfile.linux
  eng/dockerfile-templates/monitor/Dockerfile.linux.extensions
  eng/dockerfile-templates/monitor/Dockerfile.linux.install-monitor
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update Aspire Dashboard image to Azure Linux 3.0 (#6280)
  README.aspire-dashboard.md
  manifest.json
  src/aspire-dashboard/9.1/azurelinux-distroless/amd64/Dockerfile
  src/aspire-dashboard/9.1/azurelinux-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/aspire-dashboard-9.1-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/aspire-dashboard-9.1-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix generated content script warnings on Windows (#6296)
  eng/DependencyManagement.psm1
  eng/dockerfile-templates/Get-GeneratedDockerfiles.ps1
  eng/readme-templates/Get-GeneratedReadmes.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update .NET Monitor 8 CBL-Mariner images to Azure Linux 3.0 (#6257)
  README.monitor-base.md
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-base-tags.yml
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  src/monitor-base/8.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor-base/8.0/azurelinux-distroless/arm64v8/Dockerfile
  src/monitor-base/8.1/azurelinux-distroless/amd64/Dockerfile
  src/monitor-base/8.1/azurelinux-distroless/arm64v8/Dockerfile
  src/monitor/8.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor/8.0/azurelinux-distroless/arm64v8/Dockerfile
  src/monitor/8.1/azurelinux-distroless/amd64/Dockerfile
  src/monitor/8.1/azurelinux-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-8.0-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-8.0-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-8.1-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-8.1-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-8.0-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-8.0-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-8.1-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-8.1-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/StaticTagTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Initial .NET Monitor 9.1 Preview Images (#6230)
  README.monitor-base.md
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-base-tags.yml
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  manifest.versions.json
  src/monitor-base/9.1/azurelinux-distroless/amd64/Dockerfile
  src/monitor-base/9.1/azurelinux-distroless/arm64v8/Dockerfile
  src/monitor/9.1/azurelinux-distroless/amd64/Dockerfile
  src/monitor/9.1/azurelinux-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-9.1-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-9.1-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-9.1-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-9.1-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Move .NET Monitor major version variables to their own block (#6229)
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Copy test changes from nightly branch
  tests/Microsoft.DotNet.Docker.Tests/DotNetImageRepo.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ReverseProxyImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/StaticTagTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/ReverseProxyBasicScenario.cs
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update Chisel and MinGit
  manifest.versions.json
  src/runtime-deps/8.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/arm64v8/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/9.0/noble-chiseled/amd64/Dockerfile
  src/runtime-deps/9.0/noble-chiseled/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2025/amd64/Dockerfile
  src/sdk/9.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2025/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update baselines
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/sdk-8.0-nanoserver-1809-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/sdk-8.0-nanoserver-ltsc2022-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/sdk-8.0-nanoserver-ltsc2025-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/sdk-8.0-windowsservercore-ltsc2019-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/sdk-8.0-windowsservercore-ltsc2022-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/sdk-8.0-windowsservercore-ltsc2025-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/sdk-9.0-nanoserver-1809-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/sdk-9.0-nanoserver-ltsc2022-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/sdk-9.0-nanoserver-ltsc2025-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/sdk-9.0-windowsservercore-ltsc2019-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/sdk-9.0-windowsservercore-ltsc2022-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/sdk-9.0-windowsservercore-ltsc2025-amd64-Dockerfile.approved.txt
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Allow empty TestData for repos that aren't in the manifest
  tests/Microsoft.DotNet.Docker.Tests/TestDataTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/sdk
  manifest.versions.json
  src/sdk/10.0/alpine3.21/amd64/Dockerfile
  src/sdk/10.0/alpine3.21/arm32v7/Dockerfile
  src/sdk/10.0/alpine3.21/arm64v8/Dockerfile
  src/sdk/10.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/10.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/10.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/10.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/10.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/10.0/noble/amd64/Dockerfile
  src/sdk/10.0/noble/arm32v7/Dockerfile
  src/sdk/10.0/noble/arm64v8/Dockerfile
  src/sdk/10.0/trixie-slim/amd64/Dockerfile
  src/sdk/10.0/trixie-slim/arm32v7/Dockerfile
  src/sdk/10.0/trixie-slim/arm64v8/Dockerfile
  src/sdk/10.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/10.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/10.0/windowsservercore-ltsc2025/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/sdk (#6309)
  manifest.versions.json
  src/sdk/10.0/alpine3.21/amd64/Dockerfile
  src/sdk/10.0/alpine3.21/arm32v7/Dockerfile
  src/sdk/10.0/alpine3.21/arm64v8/Dockerfile
  src/sdk/10.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/10.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/10.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/10.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/10.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/10.0/noble/amd64/Dockerfile
  src/sdk/10.0/noble/arm32v7/Dockerfile
  src/sdk/10.0/noble/arm64v8/Dockerfile
  src/sdk/10.0/trixie-slim/amd64/Dockerfile
  src/sdk/10.0/trixie-slim/arm32v7/Dockerfile
  src/sdk/10.0/trixie-slim/arm64v8/Dockerfile
  src/sdk/10.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/10.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/10.0/windowsservercore-ltsc2025/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update common Docker engineering infrastructure with latest (#6302)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[main] Update common Docker engineering infrastructure with latest (#6288)
  eng/common/Invoke-ImageBuilder.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update common Docker engineering infrastructure with latest (#6313)
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Combine solutions for update-dependencies and test projects
  .devcontainer/devcontainer.json
  Microsoft.DotNet.Docker.sln
  eng/update-dependencies/update-dependencies.sln
  tests/Microsoft.DotNet.Docker.Tests/Microsoft.DotNet.Docker.Tests.sln
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Combine solutions for update-dependencies and test projects (#6316)
  .devcontainer/devcontainer.json
  Microsoft.DotNet.Docker.sln
  eng/update-dependencies/update-dependencies.sln
  tests/Microsoft.DotNet.Docker.Tests/Microsoft.DotNet.Docker.Tests.sln
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/dotnet-monitor/9.1
  README.monitor-base.md
  README.monitor.md
  manifest.versions.json
  src/monitor-base/9.1/azurelinux-distroless/amd64/Dockerfile
  src/monitor-base/9.1/azurelinux-distroless/arm64v8/Dockerfile
  src/monitor/9.1/azurelinux-distroless/amd64/Dockerfile
  src/monitor/9.1/azurelinux-distroless/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from mingit
  manifest.versions.json
  src/sdk/10.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/10.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/10.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/10.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/10.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/10.0/windowsservercore-ltsc2025/amd64/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2025/amd64/Dockerfile
  src/sdk/9.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2025/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Path conditions:
  eng/pipelines/dotnet-core-internal-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-internal-testing.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json
