Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml, eng/pipelines/dotnet-monitor.yml

eng/pipelines/dotnet-core-nightly.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        buildMatrixType: platformVersionedOs
        customBuildLegGrouping: pr-build
        windowsArmBuildJobTimeout: 120

eng/pipelines/dotnet-core-samples.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        buildMatrixType: platformVersionedOs

eng/pipelines/dotnet-core-size-validation-pr.yml:
  jobs:
  - template: ../common/templates/jobs/validate-image-sizes.yml

eng/pipelines/dotnet-core.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        buildMatrixType: platformVersionedOs
        customBuildLegGrouping: pr-build

eng/pipelines/dotnet-monitor.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        buildMatrixType: platformVersionedOs

[nightly] Update dependencies from dotnet/core-sdk
  src/monitor/5.0/alpine/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Set 5.0 SDK to correct build version
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk (#2031)
  src/monitor/5.0/alpine/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Split dotnet-monitor updates into separate job and script.
  eng/get-drop-versions-monitor.sh
  eng/get-drop-versions.sh
  eng/pipelines/update-dependencies.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Remove extra parameter
  eng/pipelines/update-dependencies.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Use consistent formatting for multi-line ENV instructions (#2030)
  src/aspnet/2.1/nanoserver-1809/amd64/Dockerfile
  src/aspnet/2.1/nanoserver-1903/amd64/Dockerfile
  src/aspnet/2.1/nanoserver-1909/amd64/Dockerfile
  src/aspnet/2.1/nanoserver-2004/amd64/Dockerfile
  src/runtime-deps/2.1/alpine3.11/amd64/Dockerfile
  src/runtime-deps/2.1/alpine3.12/amd64/Dockerfile
  src/runtime-deps/2.1/bionic/amd64/Dockerfile
  src/runtime-deps/2.1/bionic/arm32v7/Dockerfile
  src/runtime-deps/2.1/focal/amd64/Dockerfile
  src/runtime-deps/2.1/stretch-slim/amd64/Dockerfile
  src/runtime-deps/2.1/stretch-slim/arm32v7/Dockerfile
  src/runtime-deps/3.1/alpine3.11/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.11/arm64v8/Dockerfile
  src/runtime-deps/3.1/alpine3.12/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.12/arm64v8/Dockerfile
  src/runtime-deps/3.1/bionic/amd64/Dockerfile
  src/runtime-deps/3.1/bionic/arm32v7/Dockerfile
  src/runtime-deps/3.1/bionic/arm64v8/Dockerfile
  src/runtime-deps/3.1/buster-slim/amd64/Dockerfile
  src/runtime-deps/3.1/buster-slim/arm32v7/Dockerfile
  src/runtime-deps/3.1/buster-slim/arm64v8/Dockerfile
  src/runtime/2.1/nanoserver-1809/amd64/Dockerfile
  src/runtime/2.1/nanoserver-1903/amd64/Dockerfile
  src/runtime/2.1/nanoserver-1909/amd64/Dockerfile
  src/runtime/2.1/nanoserver-2004/amd64/Dockerfile
  src/sdk/2.1/alpine3.11/amd64/Dockerfile
  src/sdk/2.1/alpine3.12/amd64/Dockerfile
  src/sdk/2.1/bionic/amd64/Dockerfile
  src/sdk/2.1/bionic/arm32v7/Dockerfile
  src/sdk/2.1/focal/amd64/Dockerfile
  src/sdk/2.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/2.1/nanoserver-1903/amd64/Dockerfile
  src/sdk/2.1/nanoserver-1909/amd64/Dockerfile
  src/sdk/2.1/nanoserver-2004/amd64/Dockerfile
  src/sdk/2.1/stretch/amd64/Dockerfile
  src/sdk/2.1/stretch/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Providing a better link to the custom credential providers doc
  documentation/scenarios/nuget-credentials.md
Due: none

Create separate update PR for dotnet-monitor (#2027)
  eng/get-drop-versions-monitor.sh
  eng/get-drop-versions.sh
  eng/pipelines/update-dependencies.yml
  eng/update-dependencies/Options.cs
  eng/update-dependencies/Program.cs
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Providing a better link to the custom credential providers doc (#2032)
  documentation/scenarios/nuget-credentials.md
Due: none

[nightly] Update dependencies from dotnet/core-sdk
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Add exec permission to monitor script
  eng/get-drop-versions-monitor.sh
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Add exec permission to monitor script (#2034)
  eng/get-drop-versions-monitor.sh
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Remove 5.0 tag publishing to dotnet/core family
  manifest.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Remove 5.0 Dockerfiles for Alpine 3.11
  README.aspnet.preview.md
  README.runtime-deps.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/5.0/alpine3.11/amd64/Dockerfile
  src/aspnet/5.0/alpine3.11/arm64v8/Dockerfile
  src/runtime-deps/5.0/alpine3.11/amd64/Dockerfile
  src/runtime-deps/5.0/alpine3.11/arm64v8/Dockerfile
  src/runtime/5.0/alpine3.11/amd64/Dockerfile
  src/runtime/5.0/alpine3.11/arm64v8/Dockerfile
  src/sdk/5.0/alpine3.11/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Fix incorrect POWERSHELL_DISTRIBUTION_CHANNEL value (#2014)
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update 5.0 to preview 6
  README.aspnet.preview.md
  README.runtime-deps.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  manifest.json
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/alpine3.12/arm64v8/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/arm32v7/Dockerfile
  src/aspnet/5.0/buster-slim/arm64v8/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/aspnet/5.0/focal/arm32v7/Dockerfile
  src/aspnet/5.0/focal/arm64v8/Dockerfile
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1903/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/arm64v8/Dockerfile
  src/runtime/5.0/buster-slim/amd64/Dockerfile
  src/runtime/5.0/buster-slim/arm32v7/Dockerfile
  src/runtime/5.0/buster-slim/arm64v8/Dockerfile
  src/runtime/5.0/focal/amd64/Dockerfile
  src/runtime/5.0/focal/arm32v7/Dockerfile
  src/runtime/5.0/focal/arm64v8/Dockerfile
  src/runtime/5.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1903/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1909/amd64/Dockerfile
  src/runtime/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Move runtime-deps/2.1/focal in manifest to align with nightly
  manifest.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update amd64 buildpack-deps references (#2020)
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/runtime/5.0/buster-slim/amd64/Dockerfile
  src/runtime/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Fix inconsistent PS nupkg Dockerfile comment (#2023)
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Remove unnecessary DEBIAN_FRONTEND=noninteractive from 5.0 sdk images (#2029)
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Remove redundant DOTNET_RUNNING_IN_CONTAINER ENVs (#2000)
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update Windows image size baseline w/non-core repos (#2012)
  tests/performance/ImageSize.nightly.windows.json
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Simplify get-drop-versions script (#1995)
  eng/get-drop-versions.sh
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update osVersion metadata to include slim os information
  eng/common/templates/variables/docker-images.yml
  manifest.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update PowerShell to v7.1.0-preview.4
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update PowerShell to v7.1.0-preview.4 (#2040)
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#2037)
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update ImageBuilder tag
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update osVersion metadata to include slim os information (#2039)
  eng/common/templates/variables/docker-images.yml
  manifest.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#2038)
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk
  README.aspnet.preview.md
  README.runtime-deps.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  manifest.json
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/alpine3.12/arm64v8/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/arm32v7/Dockerfile
  src/aspnet/5.0/buster-slim/arm64v8/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/aspnet/5.0/focal/arm32v7/Dockerfile
  src/aspnet/5.0/focal/arm64v8/Dockerfile
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1903/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/arm64v8/Dockerfile
  src/runtime/5.0/buster-slim/amd64/Dockerfile
  src/runtime/5.0/buster-slim/arm32v7/Dockerfile
  src/runtime/5.0/buster-slim/arm64v8/Dockerfile
  src/runtime/5.0/focal/amd64/Dockerfile
  src/runtime/5.0/focal/arm32v7/Dockerfile
  src/runtime/5.0/focal/arm64v8/Dockerfile
  src/runtime/5.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1903/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1909/amd64/Dockerfile
  src/runtime/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/diagnostics
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Fix update-dependencies to handle separate branches
  eng/update-dependencies/Program.cs
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk (#2041)
  README.aspnet.preview.md
  README.runtime-deps.preview.md
  README.runtime.preview.md
  README.sdk.preview.md
  manifest.json
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/alpine3.12/arm64v8/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/arm32v7/Dockerfile
  src/aspnet/5.0/buster-slim/arm64v8/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/aspnet/5.0/focal/arm32v7/Dockerfile
  src/aspnet/5.0/focal/arm64v8/Dockerfile
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1903/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/arm64v8/Dockerfile
  src/runtime/5.0/buster-slim/amd64/Dockerfile
  src/runtime/5.0/buster-slim/arm32v7/Dockerfile
  src/runtime/5.0/buster-slim/arm64v8/Dockerfile
  src/runtime/5.0/focal/amd64/Dockerfile
  src/runtime/5.0/focal/arm32v7/Dockerfile
  src/runtime/5.0/focal/arm64v8/Dockerfile
  src/runtime/5.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1903/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1909/amd64/Dockerfile
  src/runtime/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1903/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/diagnostics (#2042)
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/diagnostics (#2044)
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Path conditions:
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, aspnet, monitor, runtime, runtime-deps, sdk
  eng/pipelines/dotnet-core-samples.yml: any of: eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-core.yml: any file but: documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json
