Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

Path conditions:
  eng/pipelines/dotnet-core-internal-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json

Update PowerShell for the v7.4.0-preview.5 release (#4836)
  eng/dockerfile-templates/sdk/Dockerfile.windows.install-powershell
  manifest.versions.json
  src/sdk/8.0/alpine3.18/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Refactor ASP.NET Composite tests to be more correct (#4837)
  tests/Microsoft.DotNet.Docker.Tests/AspnetCompositeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/CommonAspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/Config.cs
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/DotNetImageVariant.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Re-enable VerifyAppScenario test for coherent composite images
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update .NET 7.0 SDK image sizes (#4839)
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update Alpine 8.0 SDK image size baseline (#4848)
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Simplify Chisel tool installation (#4806)
  eng/dockerfile-templates/Dockerfile.git-clone
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  eng/update-dependencies/ChiselToolUpdater.cs
  eng/update-dependencies/GitHubHelper.cs
  eng/update-dependencies/UpdateDependencies.cs
  manifest.versions.json
  src/runtime-deps/8.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update image sizes for runtime-deps `extra` images (#4855)
  tests/performance/ImageSize.nightly.linux.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update ImageBuilder
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/installer (#4853)
  manifest.versions.json
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

.NET Monitor 8.0 RC 1
  README.monitor-base.md
  README.monitor.md
  manifest.versions.json
  src/monitor-base/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Drop preview segment from tags
  README.monitor-base.md
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-base-tags.yml
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Use last version of dotnet for monitor for now
  eng/dockerfile-templates/monitor/Dockerfile.linux
  manifest.versions.json
  src/monitor/6.3/alpine/amd64/Dockerfile
  src/monitor/6.3/alpine/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.1/alpine/amd64/Dockerfile
  src/monitor/7.1/alpine/arm64v8/Dockerfile
  src/monitor/7.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.1/cbl-mariner/amd64/Dockerfile
  src/monitor/7.1/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.2/alpine/amd64/Dockerfile
  src/monitor/7.2/alpine/arm64v8/Dockerfile
  src/monitor/7.2/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.2/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.2/cbl-mariner/amd64/Dockerfile
  src/monitor/7.2/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.3/alpine/amd64/Dockerfile
  src/monitor/7.3/alpine/arm64v8/Dockerfile
  src/monitor/7.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.3/cbl-mariner/amd64/Dockerfile
  src/monitor/7.3/cbl-mariner/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add preview tags back for monitor
  README.monitor-base.md
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-base-tags.yml
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Pin .NET Monitor base image versions
  eng/dockerfile-templates/monitor-base/Dockerfile.linux
  eng/dockerfile-templates/monitor/Dockerfile.linux
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Use test-dependencies custom build leg groups like nightly branch
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Use test-dependencies custom build leg group for alpine
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

revert dotnet monitor whitespace
  eng/dockerfile-templates/monitor/Dockerfile.linux
  src/monitor/6.3/alpine/amd64/Dockerfile
  src/monitor/6.3/alpine/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.1/alpine/amd64/Dockerfile
  src/monitor/7.1/alpine/arm64v8/Dockerfile
  src/monitor/7.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.1/cbl-mariner/amd64/Dockerfile
  src/monitor/7.1/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.2/alpine/amd64/Dockerfile
  src/monitor/7.2/alpine/arm64v8/Dockerfile
  src/monitor/7.2/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.2/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.2/cbl-mariner/amd64/Dockerfile
  src/monitor/7.2/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.3/alpine/amd64/Dockerfile
  src/monitor/7.3/alpine/arm64v8/Dockerfile
  src/monitor/7.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.3/cbl-mariner/amd64/Dockerfile
  src/monitor/7.3/cbl-mariner/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Pin .NET Monitor base image versions (#4863)
  eng/dockerfile-templates/monitor-base/Dockerfile.linux
  eng/dockerfile-templates/monitor/Dockerfile.linux
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix alpine custom build leg groups to match other extra/aot images (#4864)
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update .NET Monitor image base tags versions for servicing
  manifest.versions.json
  src/monitor-base/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/6.3/alpine/amd64/Dockerfile
  src/monitor/6.3/alpine/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.1/alpine/amd64/Dockerfile
  src/monitor/7.1/alpine/arm64v8/Dockerfile
  src/monitor/7.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.1/cbl-mariner/amd64/Dockerfile
  src/monitor/7.1/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.2/alpine/amd64/Dockerfile
  src/monitor/7.2/alpine/arm64v8/Dockerfile
  src/monitor/7.2/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.2/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.2/cbl-mariner/amd64/Dockerfile
  src/monitor/7.2/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.3/alpine/amd64/Dockerfile
  src/monitor/7.3/alpine/arm64v8/Dockerfile
  src/monitor/7.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.3/cbl-mariner/amd64/Dockerfile
  src/monitor/7.3/cbl-mariner/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update samples/dotnetapp/README.md
  samples/dotnetapp/README.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update samples
  samples/complexapp/Dockerfile
  samples/dotnetapp/Dockerfile.alpine-icu
  samples/globalapp/Dockerfile
  samples/releasesapi/Dockerfile.alpine
  samples/releasesapi/Dockerfile.cbl-mariner
  samples/releasesapi/Dockerfile.debian-cross-arm64-x64
  samples/releasesapi/Dockerfile.debian-cross-x64-arm64
  samples/releasesapi/Dockerfile.ubuntu-chiseled
  samples/releasesapi/Dockerfile.ubuntu-chiseled-icu
  samples/releasesapi/Dockerfile.ubuntu-double-cross-x64-arm64
  samples/releasesapi/Dockerfile.ubuntu-double-cross-x64-x64
  samples/releasesapi/Program.cs
  samples/releasesapi/README.md
  samples/releasesapi/ReleaseJson.cs
  samples/releasesapi/ReleaseReport.cs
  samples/releasesapi/ReleaseValues.cs
  samples/releasesapi/ReleasesJson.cs
  samples/releasesapi/ReportGenerator.cs
  samples/releasesapi/ReportJson.cs
  samples/releasesapi/releasesapi.csproj
  samples/releasesapp/Program.cs
  samples/releasesapp/README.md
  samples/releasesapp/ReleaseJson.cs
  samples/releasesapp/ReleaseReport.cs
  samples/releasesapp/ReleaseValues.cs
  samples/releasesapp/ReleasesJson.cs
  samples/releasesapp/ReportGenerator.cs
  samples/releasesapp/ReportJson.cs
  samples/releasesapp/releasesapp.csproj
Due: eng/pipelines/dotnet-core-samples-pr.yml

Un-pin monitor dotnet version
  eng/dockerfile-templates/monitor-base/Dockerfile.linux
  eng/dockerfile-templates/monitor/Dockerfile.linux
  manifest.versions.json
  src/monitor/6.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.1/cbl-mariner/amd64/Dockerfile
  src/monitor/7.1/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.2/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.2/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.2/cbl-mariner/amd64/Dockerfile
  src/monitor/7.2/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.3/cbl-mariner/amd64/Dockerfile
  src/monitor/7.3/cbl-mariner/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

.NET Monitor Image Servicing September 2023 (#4862)
  README.monitor-base.md
  README.monitor.md
  eng/dockerfile-templates/monitor-base/Dockerfile.linux
  eng/dockerfile-templates/monitor/Dockerfile.linux
  eng/mcr-tags-metadata-templates/monitor-base-tags.yml
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  manifest.versions.json
  src/monitor-base/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/6.3/alpine/amd64/Dockerfile
  src/monitor/6.3/alpine/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.1/alpine/amd64/Dockerfile
  src/monitor/7.1/alpine/arm64v8/Dockerfile
  src/monitor/7.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.1/cbl-mariner/amd64/Dockerfile
  src/monitor/7.1/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.2/alpine/amd64/Dockerfile
  src/monitor/7.2/alpine/arm64v8/Dockerfile
  src/monitor/7.2/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.2/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.2/cbl-mariner/amd64/Dockerfile
  src/monitor/7.2/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.3/alpine/amd64/Dockerfile
  src/monitor/7.3/alpine/arm64v8/Dockerfile
  src/monitor/7.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.3/cbl-mariner/amd64/Dockerfile
  src/monitor/7.3/cbl-mariner/arm64v8/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Remove unused variables
  eng/dockerfile-templates/aspnet/Dockerfile.linux
  eng/dockerfile-templates/aspnet/Dockerfile.linux-composite
  eng/dockerfile-templates/aspnet/Dockerfile.windows
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime/Dockerfile.linux
  eng/dockerfile-templates/runtime/Dockerfile.windows
  eng/dockerfile-templates/sdk/Dockerfile.linux
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-sdk
  eng/dockerfile-templates/sdk/Dockerfile.windows
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Revert "Remove unused variables"
  eng/dockerfile-templates/aspnet/Dockerfile.linux
  eng/dockerfile-templates/aspnet/Dockerfile.linux-composite
  eng/dockerfile-templates/aspnet/Dockerfile.windows
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime/Dockerfile.linux
  eng/dockerfile-templates/runtime/Dockerfile.windows
  eng/dockerfile-templates/sdk/Dockerfile.linux
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-sdk
  eng/dockerfile-templates/sdk/Dockerfile.windows
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update complex app to net8.0 TFM
  samples/complexapp/complexapp/complexapp.csproj
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update globalapp to net8.0 TFM
  samples/globalapp/globalapp.csproj
Due: eng/pipelines/dotnet-core-samples-pr.yml

Switch monitor base url too
  manifest.versions.json
  src/monitor-base/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update more complexapp TFMs
  samples/complexapp/libbar/libbar.csproj
  samples/complexapp/libfoo/libfoo.csproj
  samples/complexapp/tests/tests.csproj
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update READMEs
  samples/releasesapi/Dockerfile.ubuntu-double-cross-x64-arm64
  samples/releasesapi/Dockerfile.ubuntu-double-cross-x64-x64
  samples/releasesapi/README.md
  samples/releasesapp/README.md
Due: eng/pipelines/dotnet-core-samples-pr.yml
