Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

Path conditions:
  eng/pipelines/dotnet-core-internal-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-internal-testing.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests, but not: eng/update-dependencies
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json

[nightly] Update common Docker engineering infrastructure with latest (#6772)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update monitor download paths for internal builds
  eng/dockerfile-templates/monitor-base/Dockerfile.linux
  eng/dockerfile-templates/monitor/Dockerfile.linux
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update internal Dockerfile baselines
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-10.0-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-10.0-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-8.1-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-8.1-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-8.1-ubuntu-chiseled-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-8.1-ubuntu-chiseled-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-9.0-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-9.0-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-9.1-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-9.1-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-10.0-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-10.0-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-8.1-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-8.1-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-8.1-ubuntu-chiseled-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-8.1-ubuntu-chiseled-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-9.0-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-9.0-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-9.1-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-9.1-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update dotnet-monitor 8.1 to 8.1.3
  README.monitor-base.md
  README.monitor.md
  manifest.versions.json
  src/monitor-base/8.1/azurelinux-distroless/amd64/Dockerfile
  src/monitor-base/8.1/azurelinux-distroless/arm64v8/Dockerfile
  src/monitor-base/8.1/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.1/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/8.1/azurelinux-distroless/amd64/Dockerfile
  src/monitor/8.1/azurelinux-distroless/arm64v8/Dockerfile
  src/monitor/8.1/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.1/ubuntu-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update dotnet-monitor 9.0 to 9.0.5
  README.monitor-base.md
  README.monitor.md
  manifest.versions.json
  src/monitor-base/9.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor-base/9.0/azurelinux-distroless/arm64v8/Dockerfile
  src/monitor/9.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor/9.0/azurelinux-distroless/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update chisel|latest|build-version variable
  manifest.versions.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from chisel
  manifest.versions.json
  src/runtime-deps/10.0/noble-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/10.0/noble-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/10.0/noble-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/10.0/noble-chiseled/amd64/Dockerfile
  src/runtime-deps/10.0/noble-chiseled/arm32v7/Dockerfile
  src/runtime-deps/10.0/noble-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/arm64v8/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/9.0/noble-chiseled/amd64/Dockerfile
  src/runtime-deps/9.0/noble-chiseled/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Filter out variables that don't exist when resolving base URLs in update-dependencies
  eng/update-dependencies/ManifestHelper.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Bump aspire-dashboard to 9.5.2 patch
  README.aspire-dashboard.md
  manifest.versions.json
  src/aspire-dashboard/amd64/Dockerfile
  src/aspire-dashboard/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update dotnet-monitor download paths for internal builds (#6789)
  eng/dockerfile-templates/monitor-base/Dockerfile.linux
  eng/dockerfile-templates/monitor/Dockerfile.linux
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-10.0-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-10.0-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-8.1-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-8.1-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-8.1-ubuntu-chiseled-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-8.1-ubuntu-chiseled-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-9.0-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-9.0-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-9.1-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-9.1-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-10.0-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-10.0-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-8.1-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-8.1-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-8.1-ubuntu-chiseled-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-8.1-ubuntu-chiseled-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-9.0-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-9.0-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-9.1-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-9.1-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[main] Update common Docker engineering infrastructure with latest (#6773)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Fix baseline merge conflicts
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-8.1-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-8.1-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-8.1-ubuntu-chiseled-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-8.1-ubuntu-chiseled-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-9.0-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-9.0-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-8.1-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-8.1-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-8.1-ubuntu-chiseled-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-8.1-ubuntu-chiseled-arm64v8-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-9.0-azurelinux-distroless-amd64-Dockerfile.approved.txt
  tests/Microsoft.DotNet.Docker.Tests/Baselines/GeneratedArtifactTests/VerifyInternalDockerfilesOutput/monitor-base-9.0-azurelinux-distroless-arm64v8-Dockerfile.approved.txt
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Some tweaks for SDK publishing
  samples/dotnetapp/dotnetapp.csproj
  samples/globalapp/Dockerfile.aot-sdk-publish
  samples/globalapp/globalapp.csproj
Due: eng/pipelines/dotnet-core-samples-pr.yml

Move dotnet-monitor `latest` tag to 10.0
  README.monitor-base.md
  README.monitor.md
  manifest.json
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update dotnet-monitor 10.0 to 10.0.0
  .portal-docs/docker-hub/README.monitor.md
  .portal-docs/mar/README.monitor.portal.md
  README.monitor-base.md
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-base-tags.yml
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  eng/readme-templates/FeaturedTags.md
  manifest.json
  manifest.versions.json
  src/monitor-base/10.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor-base/10.0/azurelinux-distroless/arm64v8/Dockerfile
  src/monitor/10.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor/10.0/azurelinux-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Adjust public-checksums URLs in internal Dockerfile baseline tests
  tests/Microsoft.DotNet.Docker.Tests/GeneratedArtifactTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Use production base URL for monitor public checksums
  manifest.versions.json
  src/monitor-base/10.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor-base/10.0/azurelinux-distroless/arm64v8/Dockerfile
  src/monitor/10.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor/10.0/azurelinux-distroless/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Clean up publishing variations
  samples/dotnetapp/dotnetapp.csproj
  samples/globalapp/Dockerfile.aot-sdk-publish.alpine
  samples/globalapp/globalapp.csproj
Due: eng/pipelines/dotnet-core-samples-pr.yml

Adjust public-checksums URLs in internal Dockerfile baseline tests (#6799)
  manifest.versions.json
  src/monitor-base/10.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor-base/10.0/azurelinux-distroless/arm64v8/Dockerfile
  src/monitor/10.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor/10.0/azurelinux-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/GeneratedArtifactTests.cs
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update samples/globalapp/Dockerfile.aot-sdk-publish.alpine
  samples/globalapp/Dockerfile.aot-sdk-publish.alpine
Due: eng/pipelines/dotnet-core-samples-pr.yml

use prebuilt AOT container for noble
  samples/globalapp/Dockerfile.aot-sdk-publish
Due: eng/pipelines/dotnet-core-samples-pr.yml

Implement more comprehensive array of public-checksums base URLs
  manifest.versions.json
  src/monitor-base/10.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor-base/10.0/azurelinux-distroless/arm64v8/Dockerfile
  src/monitor/10.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor/10.0/azurelinux-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/GeneratedArtifactTests.cs
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr-no-cache.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Make globalapp single file
  samples/globalapp/Dockerfile
  samples/globalapp/Dockerfile.alpine
  samples/globalapp/Dockerfile.azurelinux-distroless
  samples/globalapp/Dockerfile.ubuntu-chiseled
  samples/globalapp/globalapp.csproj
Due: eng/pipelines/dotnet-core-samples-pr.yml

Update restore command
  samples/globalapp/Dockerfile.ubuntu-chiseled
Due: eng/pipelines/dotnet-core-samples-pr.yml

WIP
  README.aspire-dashboard.md
  manifest.versions.json
  src/aspire-dashboard/amd64/Dockerfile
  src/aspire-dashboard/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update SHAs to the right ones.
  manifest.versions.json
  src/aspire-dashboard/amd64/Dockerfile
  src/aspire-dashboard/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-core-internal-nightly.yml, eng/pipelines/dotnet-core-internal-testing.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml
