Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-monitor.yml

Path conditions:
  eng/pipelines/dotnet-core-nightly-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-nightly-pr-monitor.yml: any of: manifest.json, eng, src/monitor, tests
  eng/pipelines/dotnet-core-nightly-pr.yml: any of: manifest.json, manifest.versions.json, eng, src, tests
  eng/pipelines/dotnet-core-nightly.yml: any of: manifest.json, manifest.versions.json, src
  eng/pipelines/dotnet-core-pr-2.1.yml: any of: manifest.json, eng, src/aspnet/2.1, src/runtime/2.1, src/runtime-deps/2.1, src/sdk/2.1, tests
  eng/pipelines/dotnet-core-pr-3.1.yml: any of: manifest.json, eng, src/aspnet/3.1, src/runtime/3.1, src/runtime-deps/3.1, src/sdk/3.1, tests
  eng/pipelines/dotnet-core-pr-5.0.yml: any of: manifest.json, eng, src/aspnet/5.0, src/runtime/5.0, src/runtime-deps/5.0, src/sdk/5.0, tests
  eng/pipelines/dotnet-core-samples-pr.yml: any of: manifest.samples.json, eng, samples, tests
  eng/pipelines/dotnet-core-size-validation-pr.yml: any file but: .github, documentation, README*, samples
  eng/pipelines/dotnet-monitor.yml: any of: monitor, manifest.monitor.json

Fix nightly branch detection for tests
  tests/Microsoft.DotNet.Docker.Tests/Config.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Test and manifest updates
  manifest.json
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

clean up per comments
  documentation/scenarios/README.md
  documentation/scenarios/including-dependencies-for-loading-ssl.md
  eng/common/Invoke-WithRetry.ps1
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/test-images-windows-client.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  samples/aspnetapp/Dockerfile.alpine-arm64
  samples/aspnetapp/Dockerfile.alpine-x64
  samples/aspnetapp/Dockerfile.alpine-x64-slim
  samples/aspnetapp/Dockerfile.debian-x64
  samples/aspnetapp/Dockerfile.debian-x64-slim
  samples/aspnetapp/Dockerfile.nanoserver-x64
  samples/aspnetapp/Dockerfile.nanoserver-x64-slim
  samples/aspnetapp/Dockerfile.ubuntu-x64
  samples/aspnetapp/aspnetapp/aspnetapp.csproj
  samples/dotnetapp/Dockerfile.alpine-arm64
  samples/dotnetapp/Dockerfile.alpine-x64
  samples/dotnetapp/Dockerfile.alpine-x64-slim
  samples/dotnetapp/Dockerfile.debian-x64
  samples/dotnetapp/Dockerfile.debian-x64-slim
  samples/dotnetapp/Dockerfile.ubuntu-x64
  samples/dotnetapp/Dockerfile.ubuntu-x64-slim
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/dotnet-install-backup/dotnet-install.ps1
  tests/dotnet-install-backup/dotnet-install.sh
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

restore product image for 1903
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

moving docs out. Cleaning up testing
  documentation/scenarios/README.md
  documentation/scenarios/including-dependencies-for-loading-ssl.md
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

clean up per comments
  samples/aspnetapp/Dockerfile.nanoserver-x64-slim
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

clean up per comments
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update 5.0 to latest RTM build
  manifest.versions.json
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/alpine3.12/arm64v8/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/arm32v7/Dockerfile
  src/aspnet/5.0/buster-slim/arm64v8/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/aspnet/5.0/focal/arm32v7/Dockerfile
  src/aspnet/5.0/focal/arm64v8/Dockerfile
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2004/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2009/amd64/Dockerfile
  src/aspnet/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2009/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/NuGet.config.nightly
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update 5.0 to latest RTM build (#2342)
  manifest.versions.json
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/alpine3.12/arm64v8/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/arm32v7/Dockerfile
  src/aspnet/5.0/buster-slim/arm64v8/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/aspnet/5.0/focal/arm32v7/Dockerfile
  src/aspnet/5.0/focal/arm64v8/Dockerfile
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2004/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2009/amd64/Dockerfile
  src/aspnet/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2009/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/NuGet.config.nightly
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Updates docs for Server Core support
  README.aspnet.md
  README.aspnet.preview.md
  README.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime-deps.preview.md
  README.runtime.md
  README.runtime.preview.md
  README.samples.md
  README.sdk.md
  README.sdk.preview.md
  documentation/platform-matrix-suport.md
  documentation/scenarios/installing-dotnet.md
  documentation/scenarios/using-system-drawing-common.md
  eng/readme-templates/README.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Syndicate latest tag for 3.1 images
  eng/common/templates/variables/docker-images.yml
  manifest.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Move runtime-deps "latest" syndication to 3.1
  manifest.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Updates from review
  README.aspnet.md
  README.aspnet.preview.md
  README.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime-deps.preview.md
  README.runtime.md
  README.runtime.preview.md
  README.samples.md
  README.sdk.md
  README.sdk.preview.md
  documentation/platform-matrix-suport.md
  documentation/tagging-guidelines.md
  eng/readme-templates/README.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

clean up per comments
  samples/aspnetapp/Dockerfile
  samples/aspnetapp/Dockerfile.alpine-arm64
  samples/aspnetapp/Dockerfile.alpine-x64
  samples/aspnetapp/Dockerfile.alpine-x64-slim
  samples/aspnetapp/Dockerfile.debian-arm32
  samples/aspnetapp/Dockerfile.debian-arm64
  samples/aspnetapp/Dockerfile.debian-x64
  samples/aspnetapp/Dockerfile.debian-x64-slim
  samples/aspnetapp/Dockerfile.nanoserver-x64
  samples/aspnetapp/Dockerfile.nanoserver-x64-slim
  samples/aspnetapp/Dockerfile.ubuntu-x64
  samples/aspnetapp/aspnetapp/aspnetapp.csproj
  samples/complexapp/Dockerfile
  samples/complexapp/complexapp/complexapp.csproj
  samples/complexapp/tests/tests.csproj
  samples/dotnetapp/Dockerfile
  samples/dotnetapp/Dockerfile.alpine-arm64
  samples/dotnetapp/Dockerfile.alpine-x64
  samples/dotnetapp/Dockerfile.alpine-x64-slim
  samples/dotnetapp/Dockerfile.debian-arm32
  samples/dotnetapp/Dockerfile.debian-arm64
  samples/dotnetapp/Dockerfile.debian-x64
  samples/dotnetapp/Dockerfile.debian-x64-slim
  samples/dotnetapp/Dockerfile.nanoserver-x64
  samples/dotnetapp/Dockerfile.nanoserver-x64-slim
  samples/dotnetapp/Dockerfile.ubuntu-arm32
  samples/dotnetapp/Dockerfile.ubuntu-arm64
  samples/dotnetapp/Dockerfile.ubuntu-x64
  samples/dotnetapp/Dockerfile.ubuntu-x64-slim
  samples/dotnetapp/dotnetapp.csproj
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Updates docs for Server Core support (#2343)
  README.aspnet.md
  README.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  documentation/platform-matrix-suport.md
  documentation/scenarios/installing-dotnet.md
  documentation/scenarios/using-system-drawing-common.md
  documentation/tagging-guidelines.md
  eng/readme-templates/README.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update Image Builder
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update Image Builder (#2344)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/diagnostics
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

[nightly] Update dependencies from dotnet/diagnostics (#2345)
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update documentation to reference non-"core" repository names
  .github/ISSUE_TEMPLATE/releases/net-core-release.md
  .github/ISSUE_TEMPLATE/releases/new-distro-release.md
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
  .github/ISSUE_TEMPLATE/releases/patch-tuesday-release.md
  README.aspnet.md
  README.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  documentation/guiding-principles.md
  documentation/image-artifact-details.md
  documentation/platform-matrix-suport.md
  documentation/scenarios/installing-dotnet.md
  documentation/scenarios/nuget-credentials.md
  documentation/scenarios/using-system-drawing-common.md
  documentation/tagging-guidelines.md
  eng/dockerfile-templates/monitor/5.0/Dockerfile.alpine
  eng/readme-templates/README.md
  eng/readme-templates/Use.aspnet.md
  eng/readme-templates/Use.md
  eng/readme-templates/Use.runtime.md
  eng/readme-templates/Use.samples.md
  samples/README.md
  samples/aspnetapp/README.md
  samples/build-in-sdk-container.md
  samples/complexapp/README.md
  samples/dotnetapp/README.md
  samples/host-aspnetcore-https.md
  samples/run-in-sdk-container.md
  samples/run-tests-in-sdk-container.md
  samples/selecting-tags.md
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/validate-image-sizes.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest (#2324)
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Updating Samples for .net 5.0 (#2315)
  README.samples.md
  eng/mcr-tags-metadata-templates/samples-tags.yml
  manifest.samples.json
  samples/aspnetapp/Dockerfile
  samples/aspnetapp/Dockerfile.alpine-arm64
  samples/aspnetapp/Dockerfile.alpine-x64
  samples/aspnetapp/Dockerfile.alpine-x64-slim
  samples/aspnetapp/Dockerfile.debian-arm32
  samples/aspnetapp/Dockerfile.debian-arm64
  samples/aspnetapp/Dockerfile.debian-x64
  samples/aspnetapp/Dockerfile.debian-x64-slim
  samples/aspnetapp/Dockerfile.nanoserver-x64
  samples/aspnetapp/Dockerfile.nanoserver-x64-slim
  samples/aspnetapp/Dockerfile.ubuntu-x64
  samples/aspnetapp/aspnetapp/aspnetapp.csproj
  samples/complexapp/Dockerfile
  samples/complexapp/complexapp/complexapp.csproj
  samples/complexapp/tests/tests.csproj
  samples/dotnetapp/Dockerfile
  samples/dotnetapp/Dockerfile.alpine-arm64
  samples/dotnetapp/Dockerfile.alpine-x64
  samples/dotnetapp/Dockerfile.alpine-x64-slim
  samples/dotnetapp/Dockerfile.debian-arm32
  samples/dotnetapp/Dockerfile.debian-arm64
  samples/dotnetapp/Dockerfile.debian-x64
  samples/dotnetapp/Dockerfile.debian-x64-slim
  samples/dotnetapp/Dockerfile.nanoserver-x64
  samples/dotnetapp/Dockerfile.nanoserver-x64-slim
  samples/dotnetapp/Dockerfile.ubuntu-arm32
  samples/dotnetapp/Dockerfile.ubuntu-arm64
  samples/dotnetapp/Dockerfile.ubuntu-x64
  samples/dotnetapp/Dockerfile.ubuntu-x64-slim
  samples/dotnetapp/dotnetapp.csproj
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update common Docker engineering infrastructure with latest (#2349)
  eng/common/templates/jobs/validate-image-sizes.yml
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Updates from code review
  README.aspnet.md
  README.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  documentation/tagging-guidelines.md
  eng/readme-templates/README.md
  eng/readme-templates/Use.md
  eng/readme-templates/Use.samples.md
  manifest.samples.json
  tests/Microsoft.DotNet.Docker.Tests/SampleImageData.cs
  tests/performance/ImageSize.nightly.windows.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

chmod 755 dotnet-monitor
  src/monitor/5.0/alpine/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Revert inadvertent sequence number changes
  .github/ISSUE_TEMPLATE/releases/net-core-release.md
Due: none

Update documentation to reference non-"core" repository names (#2347)
  .github/ISSUE_TEMPLATE/releases/net-core-release.md
  .github/ISSUE_TEMPLATE/releases/new-distro-release.md
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
  .github/ISSUE_TEMPLATE/releases/patch-tuesday-release.md
  README.aspnet.md
  README.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  documentation/guiding-principles.md
  documentation/image-artifact-details.md
  documentation/platform-matrix-suport.md
  documentation/scenarios/installing-dotnet.md
  documentation/scenarios/nuget-credentials.md
  documentation/scenarios/using-system-drawing-common.md
  documentation/tagging-guidelines.md
  eng/dockerfile-templates/monitor/5.0/Dockerfile.alpine
  eng/readme-templates/README.md
  eng/readme-templates/Use.aspnet.md
  eng/readme-templates/Use.md
  eng/readme-templates/Use.runtime.md
  eng/readme-templates/Use.samples.md
  manifest.samples.json
  samples/README.md
  samples/aspnetapp/README.md
  samples/build-in-sdk-container.md
  samples/complexapp/README.md
  samples/dotnetapp/README.md
  samples/host-aspnetcore-https.md
  samples/run-in-sdk-container.md
  samples/run-tests-in-sdk-container.md
  samples/selecting-tags.md
  src/monitor/5.0/alpine/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/SampleImageData.cs
  tests/performance/ImageSize.nightly.windows.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Document 5.0 as current release version
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/readme-templates/README.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Document 5.0 as current release version (#2352)
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/readme-templates/README.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update About.md
  eng/readme-templates/About.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add required env vars to samples
  samples/aspnetapp/Dockerfile.nanoserver-x64-slim
  samples/dotnetapp/Dockerfile.nanoserver-x64-slim
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/EnvironmentVariableInfo.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Define arch-specific tags for samples
  README.samples.md
  eng/mcr-tags-metadata-templates/samples-tags.yml
  manifest.samples.json
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Add F# information to README (#2333)
  README.md
  eng/readme-templates/About.md
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml

Update docs to use 5.0 instead of 3.1
  documentation/image-artifact-details.md
  documentation/scenarios/installing-dotnet.md
  documentation/scenarios/nuget-credentials.md
Due: none

Updated additional documentation
  documentation/scenarios/using-system-drawing-common.md
  documentation/tagging-guidelines.md
  samples/aspnetapp/README.md
  samples/build-in-sdk-container.md
  samples/complexapp/README.md
  samples/dotnetapp/Program.cs
  samples/dotnetapp/README.md
  samples/run-in-sdk-container.md
  samples/run-tests-in-sdk-container.md
  samples/selecting-tags.md
Due: eng/pipelines/dotnet-core-samples-pr.yml

Updates from code review
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
Due: eng/pipelines/dotnet-core-nightly-pr-5.0.yml, eng/pipelines/dotnet-core-nightly-pr-monitor.yml, eng/pipelines/dotnet-core-nightly-pr.yml, eng/pipelines/dotnet-core-pr-2.1.yml, eng/pipelines/dotnet-core-pr-3.1.yml, eng/pipelines/dotnet-core-pr-5.0.yml, eng/pipelines/dotnet-core-samples-pr.yml, eng/pipelines/dotnet-core-size-validation-pr.yml
