Repository dotnet/dotnet-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

eng/pipelines/dotnet-core-nightly.yml:

trigger:
  batch: true
  branches:
    include:
    - nightly
  paths:
    include:
    - manifest.json
    - 2.1/*
    - 3.0/*
    - 3.1/*
    - 5.0/*
pr:
  branches:
    include:
    - nightly
  paths:
    exclude:
    - .github/*
    - documentation/*
    - README*
    - samples/*

variables:
- template: variables/common.yml
- name: manifest
  value: manifest.json
stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    ${{ if eq(variables['System.TeamProject'], 'public') }}:
      buildMatrixType: platformVersionedOs
      customBuildLegGrouping: pr-build
      windowsArmBuildJobTimeout: 120

eng/pipelines/dotnet-core-samples.yml:

trigger: none
pr:
  branches:
    include:
    - master
    - nightly
  paths:
    include:
    - eng/*
    - samples/*
    - tests/*
variables:
- template: variables/common.yml
- name: manifest
  value: manifest.samples.json
- name: repoTestArgs
  value: -TestCategories sample
stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    ${{ if eq(variables['System.TeamProject'], 'public') }}:
      buildMatrixType: platformVersionedOs

eng/pipelines/dotnet-core-size-validation-pr.yml:

trigger: none
pr:
  branches:
    include:
    - nightly
  paths:
    exclude:
    - .github/*
    - documentation/*
    - README*
    - samples/*

variables:
- template: variables/common.yml

jobs:
- template: ../common/templates/jobs/validate-image-sizes.yml

eng/pipelines/dotnet-core.yml:

trigger: none
pr:
  branches:
    include:
    - master
  paths:
    exclude:
    - documentation/*
    - README*
    - samples/*

variables:
- template: variables/common.yml
- name: manifest
  value: manifest.json
stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    ${{ if eq(variables['System.TeamProject'], 'public') }}:
      buildMatrixType: platformVersionedOs
      customBuildLegGrouping: pr-build

Adjust update-dependencies ManifestUpdator to account for new version string format (#1782)
  eng/update-dependencies/ManifestUpdater.cs
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update 5.0 to preview 2
  5.0/aspnet/alpine3.11/amd64/Dockerfile
  5.0/aspnet/alpine3.11/arm64v8/Dockerfile
  5.0/aspnet/buster-slim/amd64/Dockerfile
  5.0/aspnet/buster-slim/arm32v7/Dockerfile
  5.0/aspnet/buster-slim/arm64v8/Dockerfile
  5.0/aspnet/focal/amd64/Dockerfile
  5.0/aspnet/focal/arm32v7/Dockerfile
  5.0/aspnet/focal/arm64v8/Dockerfile
  5.0/aspnet/nanoserver-1809/amd64/Dockerfile
  5.0/aspnet/nanoserver-1903/amd64/Dockerfile
  5.0/aspnet/nanoserver-1909/amd64/Dockerfile
  5.0/runtime/alpine3.11/amd64/Dockerfile
  5.0/runtime/alpine3.11/arm64v8/Dockerfile
  5.0/runtime/buster-slim/amd64/Dockerfile
  5.0/runtime/buster-slim/arm32v7/Dockerfile
  5.0/runtime/buster-slim/arm64v8/Dockerfile
  5.0/runtime/focal/amd64/Dockerfile
  5.0/runtime/focal/arm32v7/Dockerfile
  5.0/runtime/focal/arm64v8/Dockerfile
  5.0/runtime/nanoserver-1809/amd64/Dockerfile
  5.0/runtime/nanoserver-1903/amd64/Dockerfile
  5.0/runtime/nanoserver-1909/amd64/Dockerfile
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster/amd64/Dockerfile
  5.0/sdk/buster/arm32v7/Dockerfile
  5.0/sdk/buster/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  manifest.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Add workaround for web templates
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Add workaround for web templates (#1803)
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Link Code of Conduct
  CODE-OF-CONDUCT.md
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update PowerShell to v7.1.0-preview.1 (#1774)
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster/amd64/Dockerfile
  5.0/sdk/buster/arm32v7/Dockerfile
  5.0/sdk/buster/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Link Code of Conduct (#1805)
  CODE-OF-CONDUCT.md
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update ImageBuilder tags
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update ImageBuilder tags (#1806)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update dependencies from dotnet/core-sdk
  5.0/aspnet/alpine3.11/amd64/Dockerfile
  5.0/aspnet/alpine3.11/arm64v8/Dockerfile
  5.0/aspnet/buster-slim/amd64/Dockerfile
  5.0/aspnet/buster-slim/arm32v7/Dockerfile
  5.0/aspnet/buster-slim/arm64v8/Dockerfile
  5.0/aspnet/focal/amd64/Dockerfile
  5.0/aspnet/focal/arm32v7/Dockerfile
  5.0/aspnet/focal/arm64v8/Dockerfile
  5.0/aspnet/nanoserver-1809/amd64/Dockerfile
  5.0/aspnet/nanoserver-1903/amd64/Dockerfile
  5.0/aspnet/nanoserver-1909/amd64/Dockerfile
  5.0/runtime/alpine3.11/amd64/Dockerfile
  5.0/runtime/alpine3.11/arm64v8/Dockerfile
  5.0/runtime/buster-slim/amd64/Dockerfile
  5.0/runtime/buster-slim/arm32v7/Dockerfile
  5.0/runtime/buster-slim/arm64v8/Dockerfile
  5.0/runtime/focal/amd64/Dockerfile
  5.0/runtime/focal/arm32v7/Dockerfile
  5.0/runtime/focal/arm64v8/Dockerfile
  5.0/runtime/nanoserver-1809/amd64/Dockerfile
  5.0/runtime/nanoserver-1903/amd64/Dockerfile
  5.0/runtime/nanoserver-1909/amd64/Dockerfile
  5.0/sdk/alpine3.11/amd64/Dockerfile
  5.0/sdk/buster/amd64/Dockerfile
  5.0/sdk/buster/arm32v7/Dockerfile
  5.0/sdk/buster/arm64v8/Dockerfile
  5.0/sdk/focal/amd64/Dockerfile
  5.0/sdk/focal/arm32v7/Dockerfile
  5.0/sdk/focal/arm64v8/Dockerfile
  5.0/sdk/nanoserver-1809/amd64/Dockerfile
  5.0/sdk/nanoserver-1903/amd64/Dockerfile
  5.0/sdk/nanoserver-1909/amd64/Dockerfile
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  manifest.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update release checklist
  .github/ISSUE_TEMPLATE/releases/net-core-release.md
Due: eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update Image Builder ref that uses new image info schema (#1773)
  manifest.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Fix missing productVersions in manifest
  manifest.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Add Dockerfiles for the various options we want to perf test
  5.0/aspnet/alpine3.11/amd64/Dockerfile
  5.0/aspnet/alpine3.11/amd64/composed-composite/Dockerfile
  5.0/aspnet/alpine3.11/amd64/composite/Dockerfile
  5.0/aspnet/alpine3.11/amd64/nuget.config
  5.0/runtime/alpine3.11/amd64/Dockerfile
  5.0/runtime/alpine3.11/amd64/composite/Dockerfile
  eng/common/build.ps1
  manifest.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Add runtime only composite for aspnet
  manifest.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Set product version components variable
  eng/pipelines/variables/common.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest
  eng/common/build.ps1
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest
  eng/common/build.ps1
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update build script
  build-and-test.ps1
Due: eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Add item to diff branches
  .github/ISSUE_TEMPLATE/releases/net-core-release.md
Due: eng/pipelines/dotnet-core.yml

Update release checklist (#1808)
  .github/ISSUE_TEMPLATE/releases/net-core-release.md
Due: eng/pipelines/dotnet-core.yml

aspnet fixups; add sdk images; add utests
  5.0/aspnet/alpine3.11/amd64/composed-composite/Dockerfile
  5.0/aspnet/alpine3.11/amd64/runtime-composite/Dockerfile
  5.0/sdk/alpine3.11/amd64/aspnet-base/Dockerfile
  5.0/sdk/alpine3.11/amd64/aspnet-composed-composite/Dockerfile
  5.0/sdk/alpine3.11/amd64/aspnet-composite/Dockerfile
  5.0/sdk/alpine3.11/amd64/runtime-composite/Dockerfile
  eng/pipelines/dotnet-core-nightly.yml
  manifest.json
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[master] Update common Docker engineering infrastructure with latest (#1817)
  build-and-test.ps1
  eng/common/build.ps1
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/pipelines/variables/common.yml
  manifest.json
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

[nightly] Update common Docker engineering infrastructure with latest (#1816)
  build-and-test.ps1
  eng/common/build.ps1
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/pipelines/variables/common.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Fix broken aspnet-composed-composite Dockerfile
  5.0/aspnet/alpine3.11/amd64/composed-composite/Dockerfile
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-core-nightly.yml, eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Fix invalid Validate-ImageSize parameter in run-tests script
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Fix invalid Validate-ImageSize parameter in run-tests script (#1824)
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Fix test logic to support new image info schema (#1779)
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#1822)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml

Update common Docker engineering infrastructure with latest (#1823)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-core-samples.yml, eng/pipelines/dotnet-core-size-validation-pr.yml, eng/pipelines/dotnet-core.yml
